<% notification =  (!current_user.requested_managers.empty? or !current_user.pending_managers.empty?) -%>
<% payment = false %>

<div id="vcard_notification">
<table id="vcard_notification_table">
	<tr>
		<%- if logged_in? and current_user.has_unread_messages? -%>
		<td><%= link_to image_tag('notification.gif'), messages_path, :class => "message" %></td>
		<% end %>
		
		<% if notification -%>
		<td><%= link_to "&nbsp;", user_path(current_user), :class => 'request' %></td>
		<% end %>
		
		<% if payment %>
		<td><img src="images/notification.gif" alt="notif img"/></td>
		<td><img src="images/notification.gif" alt="notif img"/></td>
		<td><img src="images/notification.gif" alt="notif img"/></td>
		<% end %>
	</tr>
</table>
</div>

				
