<%
	is_enchufado_manager = @enchufado ? is_current_manager_of(@enchufado) : false
	is_enchufado_member = @enchufado ? is_current_member_of(@enchufado) : false
	is_new_enchufado = (get_controller_action =='enchufado_new' or get_controller_action == 'enchufado_create')
	has_enchufado = @enchufado ? is_new_enchufado ? false : true : false
			
	the_enchufado_name = ""
	the_manager_label = ""
%>




<% if has_enchufado %>

	<%= set_form_create_id_image_link(Subplug.new, :enchufado_id, @enchufado, :subplugs_create) if @enchufado %>

	<% if is_enchufado_manager %>
	
		<div class="row">	
			<div class="twelve columns">				
				<%= set_form_edit_image_link(@enchufado, :enchufados_edit) %>	
			</div>	
		</div>
		
	<% end -%>

	<% @the_enchufados = Enchufado.find(:all, :conditions => "enchufados.archive = false", :order => "name") if the_maximo %>


	<% @enchufado.subplugs.each do |subplug| %>

		<%= set_form_create_id_image_link(Group.new, :subplug_id, subplug, :group_new) if is_enchufado_manager %>

	<% end %>

<% end -%>