<%
	convocados ||= false
	subscription ||= false
	the_check ||= false
	the_label ||= label_name(:users)

	if recipients
		the_class = recipients.first.class.to_s 
		case the_class
		when "Escuadra"										
			the_label = label_name(:escuadras_false)
		when "User"											
			the_label = label_name(:users)
		else
			the_label = label_name(:users)
		end
	end
%>

<div class="row">
	<div class="seven columns">	
				
		<fieldset id="roster">
			<h5><%= the_label %></h5>
			<hr/>
			
			<%#= render 'shared/check_radio_button_zurb' if recipients %>
			
<% 
			first_character = ''
			counter = 0
			recipients.each do |recipient| 

				if (first_character != (recipient.name.chars.first).upcase)
					first_character = (recipient.name.chars.first).upcase
					counter = 0
				else
					counter = 1
				end 
				if (counter == 0)

				end

				case the_class
				when "Escuadra"										
%>											
					<%= render :partial => "item_single_zurb", :locals => {:escuadra => recipient, :checked => false} %>
<%
				when "User"											
%>											
					<%= render :partial => "/messages/recipient_item_single_zurb", 
					:locals => {:recipient => recipient, :checked => the_check, :convocados => convocados} %>
<%
				else
				end

			end
%>
		</fieldset>
		
	</div>
</div>






