<%
	convocados ||= false
	subscription ||= false
	checked ||= false
	the_label ||= label_name(:users)

	if recipients
		the_class = recipients.first.class.to_s 
		case the_class
		when "Escuadra"										
			the_label = label_name(:escuadras_false)
		when "User"											
			the_label = label_name(:users)
		else
			the_label = label_name(:users)
		end
	end

	counter = 0
%>
		
<fieldset id="roster">

	<%= render 'shared/check_radio_button_zurb' if recipients %>

	<div class="row">
		<div class="twelve columns" style="border-style:Inset;height:300px;overflow:auto;">

			<table cellpadding="0" cellspacing="0" border="0">


				<% recipients.each do |recipient| 
					case the_class
					when "Escuadra"										
				%>											
						<%= render "escuadras/item_single_zurb", :escuadra => recipient %>
						<br>					

				<%	when "User" %>		

						<%= render "messages/recipient_item_single_zurb", :recipient => recipient, :checked => checked, :convocados => convocados %>		

				<%  else
					end
				%>
				
				<% end %>


			</table>

		</div>
	</div>	

</fieldset>	



		





