<%
	escuadra ||= false
	convocados ||= false
	subscription ||= false
	checked ||= false
	the_label ||= label_name(:users)
	
	if escuadra
		the_label = label_name(:escuadras_false)
	else
		the_label = label_name(:users)
	end

	counter = 0
%>

<% if recipients %>	
	
	<fieldset id="roster">

		<%= render 'shared/check_radio_button_zurb' %>

		<div class="row">
			<div class="twelve columns" style="border-style:Inset;height:300px;overflow:auto;">

				<table cellpadding="0" cellspacing="0" border="0">


					<% recipients.each do |recipient| %>	
				
					<% if escuadra %>
						<%= render "escuadras/item_single_zurb", :escuadra => recipient %><br>	
					<%	else %>		
						<%= render "messages/recipient_item_single_zurb", :recipient => recipient, :checked => checked, :convocados => convocados %>		
					<%  end %>
				
					<% end %>


				</table>

			</div>
		</div>	

	</fieldset>	

<% end %>


		





