<% 
	checked ? checkmark = 'checked' : checkmark = '' 
	checkmark =  (convocados and recipient.type_id.to_i == 1) ? 'checked' : ''
	the_convocados = ""
	the_convocados = "  -  #{label_name(recipient.types_name)}" if convocados
	the_item_link = "#{item_image_link_smaller(recipient)}  #{item_name_link(recipient)} #{the_convocados}".html_safe
%>

<label>
	<input type="checkbox" id="roster" name="recipient_ids[]" value="<%= recipient.id %>" <%= checkmark %> >	
	<%= the_item_link %>
</label>




