<style type="text/css">
	.table .checkbox {  margin-left: 1px; }
	.table td { padding: 4px; text-align: left; font-size: 12.5px;}
</style>

<% 
	checked ? checkmark = 'checked' : checkmark = '' 
	counter = 0 
	column = 0
%>

<table class="table">
<tbody>
<tr>
<% 
	recipients.each do |recipient| 
		column += 1
		counter += 1

		if column > 4 
			column = 1 
%>
	</tr>
	<tr>
<% 
	end 
%>
	<td>	
		<input type="checkbox" id="roster" name="recipient_ids[]" value="<%= recipient.user.id %>" <%= checkmark %> >
	</td>        
	<td>
	<%= image_link_small recipient.user %><br />
	<%= user_link_limit recipient.user %>
	</td>            
<% 
	end 
%>
	</tr>
<tr>
</tbody>
</table>
