<% 

	the_invitation = ""
	the_controller_action = ['invitation_invite', 'invitation_contact']

	the_invitation = get_controller_action if the_controller_action.include?(get_controller_action)
%>


<div class="secondary-navigation">
<ul>
	<%= content_tag 'li', link_to(label_name(:inbox) , messages_path), :class => get_first_active %>
	<%= content_tag 'li', link_to(label_name(:message_sent) , sent_messages_path), :class => get_active('message_sent') %>
	<%= content_tag 'li', link_to(label_name(:invitations_create) , new_invitation_url), :class => get_active('invitation_new') %>
	<%= content_tag 'li', link_to(label_name(:invitations_import) , invite_url), :class => get_active(the_invitation) %>
</ul>
<div class="clear"></div>
</div>