<%
	the_label = label_name(:messages)
	content_for(:title, the_label)
%>

<div class="block">

	  <%= get_secondary_navigation(Message.new) %>  

	<div class="content">   

		<h2 class="title"><%= get_collection_label(@messages) %></h2>

		<div class="inner">

			<% if object_counter(@messages) > 0 %>

			<table class="table">

					<% previous = [] %>
					<% @messages.each do |message| %>
					<%= render :partial => 'message_zurb', :locals => {:message => message} unless previous.include?(message.parent_id) %>
					<% previous << message.parent_id %>
					<% end %>
				
			</table>

			<% end %>
			<%= render :partial => 'shared/action_bar_zurb', :locals => { :collection => @message } %>

		</div>
	</div>
</div>
<% content_for :sidebar, render(:partial => 'messages/sidebar_zurb') -%>