<%
	the_label = label_name(:messages)
	content_for(:title, the_label)
%>

<div class="row">

	<div class="twelve column">   

		<h2 class="title"><%= get_collection_label(@messages) %></h2>

		<div class="inner">

			<% if object_counter(@messages) > 0 %>

			<table>

					<%# previous = [] %>
					<% @messages.each do |message| %>
						<%= render 'messages/message_zurb', :message => message %>
					<%# previous << message.parent_id %>
					<% end %>
				
			</table>

			<% end %>
			
		</div>
	</div>
</div>