<%
	the_label = label_name(:messages)
	content_for(:title, the_label)
	has_items = (object_counter(@messages) > 0)
%>

<div class="row">

	<div class="twelve column">   

			<% if has_items %>

				<table>
					
						<% previous = [] %>
						<% @messages.each do |message| %>
						<%= render 'messages/message_zurb', :message => message unless previous.include?(message.parent_id) %>
						<% previous << message.parent_id %>
						<% end %>
				
				</table>

			<% end %>


	</div>
</div>

<%= render 'shared/no_items_to_display' unless has_items %>


