
<div id="row">	
	<div id="twelve columns">
			
		<% counter = 0 %>
		<% the_month.each do |week| %>
		
			<%= "<!---------------------------------------- week #{counter +=1} ---------------------------------------->".html_safe %>
			<div class="week">
				<% week.each do |day| %>
				<%= "#{day}".html_safe %>
				<% end %>
			</div>
			<%= "<!---------------------------------------- week #{counter} end ---------------------------------------->".html_safe %>
			
			
		<% end %>
		
	</div>
</div>