<% 	get_first_active ||=""
	get_first_active = get_active("#{get_the_controller}_#{get_the_action}") if is_controller('scorecard') and is_action('index')
%>
<div class="secondary-navigation">

<ul>	
	<li class="<%= get_first_active %>"><%=  link_to(label_name(:my_scorecard), scorecards_path) %></li>
	<li class="<%= get_active('scorecard_list') %>"><%=  link_to(label_name(:all_scorecard) , list_scorecards_path) %></li>
</ul>

<div class="clear"></div>

</div>