<div class="block">
	<%= render "shared/previous_next_message", :schedule => @schedule, :the_previous => @the_previous, :the_next => @the_next -%>

	<div class="inner">
		
		<%#= render 'schedules/game_played' %>
		<%= render 'comments/disqus' %>
		<%= render 'comments/discussion', :comments => @comments %>

	</div>
</div>
</div>

<%# content_for :sidebar, render(:partial => '/schedules/sidebar_show') -%>

<% content_for :sidebar, render(:partial => '/shared/latest_payment') -%>

<% if @schedule -%>
	<% content_for(:sidebar, render("schedules/sidebar_details", :schedule => @schedule)) -%>
	<% content_for :sidebar, render(:partial => 'shared/sidebar_geo_group', :locals => {:group => @schedule.group}) if @schedule.group -%>	
	<% content_for(:sidebar, render("schedules/sidebar_show", :schedule => @schedule)) -%>
	<%# content_for(:sidebar, render('schedules/sidebar_level', :schedule => @schedule )) if is_manager -%>
	<% content_for(:sidebar, render("shared/share_object", :schedule => @schedule)) -%>
<% end %>
