<div class="block">
	<%= render "shared/previous_next_message", :schedule => @schedule, :the_previous => @the_previous, :the_next => @the_next -%>

	<div class="inner">

		<%= render 'comments/disqus' %>
		<%= render 'comments/discussion', :comments => @comments %>

	</div>
</div>
</div>

<% content_for :sidebar, render(:partial => '/schedules/sidebar_show') -%>
