
<!--   <div class="group">
    <%#=f.label :blog_id, "Blog_id", :class => :label %>
    <%#=f.text_field :blog_id, :class => 'text_field' %>
    <span class="description"><%#=label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%#=f.label :user_id, "User_id", :class => :label %>
    <%#=f.text_field :user_id, :class => 'text_field' %>
    <span class="description"><%#=label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%#=f.label :group_id, "Group_id", :class => :label %>
    <%#=f.text_field :group_id, :class => 'text_field' %>
    <span class="description"><%#=label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%#=f.label :title, "Title", :class => :label %>
    <%#=f.text_field :title, :class => 'text_field' %>
    <span class="description"><%#=label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%#=f.label :body, "Body", :class => :label %>
    <%#=f.text_area :body, :class => 'text_area' %>
    <span class="description"><%#=label_name('name', 'description') %></span>
  </div>

  <div class="group">
    <%#=f.label :comments_count, "Comments_count", :class => :label %>
    <%#=f.text_field :comments_count, :class => 'text_field' %>
    <span class="description"><%#=label_name('name', 'description') %></span>
  </div>

<div class="clear"></div> 

<div class="group navform">
	<%#=submit_tag @entry.new_record? ? label_name(:create) : label_name(:edit), 
			:class => "button" %> <%#=label_name(:or) %> <%#=link_to label_name(:cancel), entries_path %>
</div> -->