<% if is_mobile_browser %>
<div class="row">
<div class="twelve columns">

<table>
<tbody>
<tr>
<td>

<% end %>


<div class="row">
	<div class="twelve columns">
	
		<br>
		
		<%= content_tag :h6, label_name(:omniauth_browser_id_new), :class => "subheader" %>
		<hr />
		<br>
		<br>

	
	<%= render 'utilities/persona'%>

	<%= image_tag('mozilla_persona.jpg') %>
	<br>
	<br>
	<br>
	<br>
	
    <form id='browser_id_form' action='/auth/browser_id/callback'>
	
	  
      <input type='hidden' name='assertion'/>
      <button type='submit' class='small_medium nice success button radius'><%= label_name(:omniauth_browser_id_button) %></button>

    </form>



	</div>
</div>

<% if is_mobile_browser %>
</td>
</tr>
</tbody>
</table>

</div>
</div>
<% end %>