
<style>
body { margin: 30px; font-family:arial; background:#eef0f0; }
h1 { font-size:18px; font-weight:bold; }
p { padding:0 0 0 3px;line-height:12px;font-size:15px; }
ul { padding:0;margin:0;list-style:none; }
ul li { display:inline;padding:0 10px 0 10px; }
ul.iconos { padding:10px 0 0 0;width:816px;height:180px;border:1px solid black;margin:30px 0 0 7px; }
ul.iconos li a { text-decoration:none; }
ul.iconos li a img { border:0; }
ul.iconos div {font-weight:bold;font-size:14px;padding:5px 0 0 0; }
ul.iconos div.titulo { width:155px;float:left;text-align:center;padding: 0 10px 0 0; }
ul.iconos div.titulo a { color:#000; text-decoration:underline; }
ul.iconos div.titulo a:hover { color:#a00; text-decoration:underline; }
ul.iconos div.titulo.ultimo { width:145px; }
.principal { margin:auto; width:900px; }
.contenido { padding: 20px 25px 0 5px; }
p.margenAlto { margin-top:20px; }
</style>

<div class="principal">
	<img title="HayPista" src="../images/logoHayPista.jpg" alt="HayPista"></img>
	<div class="contenido">
		<h1>Tu navegador es antiguo</h1>
		<p class="margenAlto">Para navegar en HayPista, por favor actualice su navegador a versiones más modernas.
			y seguras.</p>
			<p>Le recomendamos actualizar a uno de estos navegadores:</p>
			<ul class="iconos">
				<li>
					<a href="http://www.google.com/chrome/?hl=es" target="_blank">
						<img src="../images/iconchrome.jpg" alt="Chrome" title="Chrome" />
					</a>
				</li>
				<li>
					<a href="http://www.mozilla-europe.org/es/" target="_blank">
						<img src="../images/iconfirefox.jpg" alt="Firefox" title="Firefox" />
					</a>
				</li>
				<li>
					<a href="http://www.apple.com/es/safari/" target="_blank">
						<img src="../images/iconsafari.jpg" alt="Safari" title="Safari" />
					</a>
				</li>
				<li>
					<a href="http://windows.microsoft.com/es-ES/internet-explorer/products/ie/home" target="_blank">
						<img src="../images/iconexplorer.jpg" alt="Internet Explorer" title="Internet Explorer" />
					</a>
				</li>
				<li>
					<a href="http://www.opera.com/" target="_blank">
						<img src="../images/iconopera.jpg" alt="Opera" title="Opera" />
					</a>
				</li>
				<div>
					<div class="titulo">
						<a href="http://www.google.com/chrome/?hl=es" target="_blank">Chrome</a>
					</div>
					<div class="titulo">
						<a href="http://www.mozilla-europe.org/es/" target="_blank">Firefox</a>
					</div>
					<div class="titulo">
						<a href="http://www.apple.com/es/safari/" target="_blank">Safari</a>
					</div>
					<div class="titulo">
						<a href="http://windows.microsoft.com/es-ES/internet-explorer/products/ie/home" target="_blank">
							Internet Explorer
						</a>
					</div>
					<div class="titulo ultimo">
						<a href="http://www.opera.com/" target="_blank">
							Opera
						</a>
					</div>
				</div>
			</ul>
		</div>
	</div>


