<h3><%= I18n.t(:rpx_login) %></h3>

<div class="group">		
  <div class=""> 		  
 	<% variable = APP_CONFIG['rpx_api']['realm'] %>

	<%#= RPXNow.embed_code(variable, rpx_token_sessions_url, :language => 'es') %>
	
	<%= RPXNow.embed_code(variable, rpx_token_sessions_url) %>
	
	<%#= RPXNow.popup_code(the_label, APP_CONFIG['rpx_api']['realm'], rpx_token_sessions_url, :language =>'es') %>
	
  </div> 		  
  <div class="clear"></div> 		  
</div>