<div class="block">

	<h3><%= label_name(get_the_controller, 'options') %></h3>

	<ul class="navigation">

		<li><fb:share-button class="url" href="http://apps.facebook.com/example" /></li> 
		
		<li class="<%= get_first_active('schedule_show') %>"> <%= schedule_link @schedule %></li>	
		<li>
				<a name="fb_share" id="fb_share" share_url="<% schedule_link @schedule %>"  class="snap_nopreview"></a> 
				<script src="http://www.facebook.com/connect.php/js/FB.SharePro/" type="text/javascript"></script> 
		</li>		

	</ul>

</div>
