
<div style="margin-top: 6px; border-bottom: 3px solid #ddd; line-height:3px">&nbsp;</div>
<br>
  
  <p style="margin: 10px 0;"><a href="https://www.HayPista.com/" style="color:#0066CC;"><%= "#{I18n.t(:the_haypista_team) }" %></a></p>
  <p style="margin: 10px 0;"><%= "#{I18n.t(:modo)} " %></p>
  <a href="" style="color:#0066CC;"><%= mail_to "support@haypista.com", "support@haypista.com" %></a></p>
  <p style="color:#999999; font-size:11px;"><%= I18n.t(:protect_your_privacy) %> </p>  

</tr></td>
</table>
</body>
</html>


