<br /><br /><br /><br />
<p style="margin: 10px 0;"><a href="https://www.HayPista.com/" style="color:#0066CC;"><%= I18n.t(:the_haypista_team) %></a></p>
<p style="margin: 10px 0;">&nbsp;</p>
<a href="mailto:support@haypista.com" style="color:#0066CC;"><%= I18n.t(:contact) %></a></p>
<p style="color:#999999; font-size:11px;"><%= I18n.t(:protect_your_privacy) %> </p>  

</tr>
</td>
</table>
</body>
</html>


