<link href="http://haypista/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
<link href="http://haypista/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<link href="http://haypista/stylesheets/show.css" media="screen" rel="stylesheet" type="text/css" />

<% 
	@archive ||= false 
	# @less_games = 5 
	# @games_played = @group.games_played	
	scorecards = false
	collection.each {|card| scorecards = true }
	mailer = true
%> 
<div class="row">

<% 
	if scorecards	
%>
<div class="twelve columns">   

	<h2 class="title"><%= link_to(@group.name, group_url(@group)) %></h2>
	<p><%= link_to(I18n.t(:scorecard), scorecard_url(@group)) %></p>
	
	

		<table>
				<%= render :partial => '/scorecards/scorecard_futbol_label', :locals => {:mailer => mailer} %>
				<%= render :partial => '/scorecards/scorecard', :collection => collection, :locals => {:group => @group, :mailer => mailer} %>
      
		</table>
		
	

	</div>
<% 
end 
-%>

</div>




