<table width="100%" border="0" cellpadding="0" cellspacing="0" style="font: 13px arial;">
  <tr>
    <td style="width:1%; color:#999999; vertical-align: top;">&nbsp;</td>
    <td style="width:99%">&nbsp;<%= @message.body %></td>
  </tr><tr>
    <td style="width:1%; color:#999999; vertical-align: top;">&nbsp;</td>
    <td style="width:99%">&nbsp;</td>
  </tr><tr>
    <td style="width:1%; color:#999999; vertical-align: top;">&nbsp;</td>
    <td style="width:99%">&nbsp;
		<%= link_to(I18n.t(:reply), {:host => 'haypista.com', :controller => 'messages', :action => 'show', :id => @message}) %>
		<%#= link_to(I18n.t(:reply), message_url(@message)) %>
	</td>
  </tr>
</table>