<div style="margin-top: 6px; border-bottom: 3px solid #ddd; line-height:3px">&nbsp;</div>
<br>

<% unless @schedule.convocados.empty? %>  
	<%= render :partial => 'message_list_box', 
			   :locals => { :label => I18n.t(:rosters), :the_roster => @schedule.the_roster, :schedule => @schedule } %>
<% end %>

<% unless @schedule.last_minute.empty? %>   
	<%= render :partial => 'message_list_box', 
			   :locals => { :label => I18n.t(:last_minute), :the_roster => @schedule.the_last_minute, :schedule => @schedule } %>
<% end %>