<%

	the_labels = []
	the_schedule_label = ''

	if @schedule 
		unless @schedule.played?
			my_current_match = nil

			@schedule.matches.each{|match| my_current_match = match if match.user_id == @recipient.id}		

			unless my_current_match.nil?
				the_schedule_label = "<STRONG>#{I18n.t(:your_roster_status) } #{( my_current_match.type_name).downcase}</STRONG>".html_safe
				match_types = Match.get_match_type

				match_types.each do |type| 
					unless type.id == my_current_match.type_id

						the_schedule_label = "#{I18n.t(:change_roster_status) } #{I18n.t(type.name).downcase}"
						the_status_link = match_token_url(:id => my_current_match.id, :type => type.id, :block_token => my_current_match.block_token)
						the_labels << "#{link_to(the_schedule_label, the_status_link)}".html_safe if type.id.to_i < 4 

					end				
				end

			end

		end 
	end

%>

<br>

<p style="font-size:14px;font-family:&quot;Helvetica Neue&quot;,helvetica,arial,sans-serif;line-height:20px;margin:10px 0;background-color:#eee;border-radius:5px;padding:10px">

<%= "<STRONG>#{I18n.t(:change_your_roster_status)}</STRONG>:  ".html_safe %>
<br/>

<% the_labels.each do |the_label| %>
	
	<%= the_label %>
	<br>

<% end %>

</p>
