<%= stylesheet_link_tag 'theindex' %>

<div class="mod active-comments">

<div class="hd clear">
<%= content_tag 'h2', t(:recent_activities) %>
</div>

<div class="bd">
<ol class="hfeed">
	
	<% @users.each do |user| %>
	<%- unless user.activities.empty? -%>	

	<li class="hentry hreview clear">
		<%#= content_tag ('h4', user_link( user)) %>

		<ul class="entry-meta">

			<li class="author vcard reviewer clear">						
				<%= link_to image_tag(user.the_avatar, 
				options={:style => "height: 40px; width: 40px;"}), user_path(user), :class => 'photo', :alt => user.name %>
			</li>

		</ul>

		<%= render :partial => 'shared/activity', :collection => user.activities, 
				   :locals => { :destroy => current_user == user, :recent => true } %>

	</li>			

	<%- end -%>
	<%- end -%>

</ol>

</div>
</div>

