<%# The activity shouldn't be nil, but we're wearing a belt and suspenders. %>
<%- unless activity.item.nil? -%>

<blockquote class="entry-content description">
	<p> <%= user_link activity.user %><br/>
		<%- recent ||= false -%>
		<%= feed_message(activity, recent) %><br/>
		<%#= content_tag 'h5', "#{t(:ago)} #{time_ago_in_words(activity.created_at).capitalize}" %> 

		<%#- if current_user == activity.user -%>
		<%#= link_to(image_tag("icons/comment_delete.png", :class => 'actioner'), 
					activity_path(activity), :method => :delete, 
											 :confirm => %(#{t(:delete_activity)}?),
											 :title => t(:delete_activity)) %>
		<%#- end -%>
	</p>
</blockquote>

<%- end -%>
