<div class="mod static tips">
	<div class="hd clear">
		<h3>
			Not in HayPista?
		</h3>
	</div>
	<div class="bd">
		<p>
			Join the fun at HayPista! Registered users of HayPista can submit great content, vote for their favorites and  it up by adding comments and making friends.
		</p>
		<p>
	<%=RPXNow.popup_code("Get Into It!",APP_CONFIG['rpx_api']['realm'], rpx_token_sessions_url, :language=>'es') %>
		</p>
	</div>
</div>
