<div id="search" style="">
	<h3>
		<span style="font-size: 11px;">
			<% %w[A B C D E F G H I J K L M N O Q R S T U V W X Y Z].each do |letter| %>
			<%= link_to letter, 
			{:controller => 'users', :action => 'search', :search => "#{letter}*"}, 
			:title => "#{globalite_l("search_#{controller.controller_name}")} #{t(:starting_with_letter)} #{letter}" %>
			<% end %>
		</span>
	</h3>
</div>
