<%
	case get_the_controller
	when 'topic', 'post'
		@collection = @posts
	when 'group'
		@collection = @groups
	when 'schedule'
		@collection = @schedules
	when 'user'
		@collection = @users if @users
	end
%>
<br/>
<div class="pagination">
	<%= will_paginate_t @collection if @collection %>
</div>
<br/>