#-page{
	height:400px;
	padding:0;
}

div.container{
	clear:both;
	padding-bottom:0;
}

.fixed-msg-bottom{
	background:#3f3f3f;
	bottom:0;
	color:#fff;
	display:none;
	position:fixed;
	width:100%;
}

.invitation-form textarea{
	height:50px;
}

.personal_info{
	color:#fff;
	font-size:16px;
	float:right;
}
.personal_info a{
	color:#fff;
	font-size:13px;
	text-decoration:underline;
}
.personal_info_text{
	text-align:right;
}

.week_day_detail{
	display:none;
}

table tbody tr.week_day_parent{
	background:#f8f8f8;
	border:#ccc 1px dashed;
}