.container{
	clear:both;
}

.personal_info{
	color:#fff;
	font-size:16px;
	float:right;
}
.personal_info a{
	color:#fff;
	font-size:13px;
	text-decoration:underline;
}
.personal_info_text{
	text-align:right;
}

.week_day_detail{
	display:none;
}

table tbody tr.week_day_parent{
	background:#f8f8f8;
	border:#ccc 1px dashed;
}