<div class="block">
	<h3><%= control_label('option') %></h3>
	<div class="content">
<% 
		if current_user.is_maximo? %>
			<p><%= link_to(control_label('create') , new_sport_url)  %></p>
<%
		end
%>
	</div>
</div>