<!-- Forms Begin -->

<div class="row">

	<div class="eight columns">

		<h3>Forms</h3>

		<h4 class="subheader">Forms are not a lot of fun. We've taken that lack of fun and dodged it with this ready-made code. In this release there are two sets of forms styles - basic and nice. Both are simple, both are flexible, both are easy to customize. <strong>Make sure to include app.js if you're going to use these forms.</strong></h4>

		<hr />


		<h4>Nice Forms</h4>

		<form class="nice">

			<p>Changing the form style to a slightly fancier version is dead simple - just add a class of 'nice' to the form itself.</p>



			<label>Standard Input</label>

			<input type="text" class="input-text" />



			<input type="text" placeholder="Inline label" class="input-text" />



			<label>Small Input</label>

			<input type="text" class="small input-text" />



			<div class='form-field error'>

				<label>Medium Input (with wrapper)</label>

				<input type="text" class="medium input-text" />

				<small>Whoa, cowboy. Try that again.</small>

			</div>



			<label class="red">Medium Input</label>

			<input type="text" class="medium red input-text" />

			<small class="error">Whoa, cowboy. Try that again.</small>



			<label>Large Input</label>

			<input type="text" class="large input-text" />



			<label>Oversize Input</label>

			<input type="text" class="oversize input-text" />



			<label>Textarea</label>

			<textarea>This is a textarea</textarea>



			<label>Inline Label Textarea</label>

			<textarea placeholder="This is a text area"></textarea>



			<label for="checkbox1"><input type="checkbox" id="checkbox1"> Label for Checkbox</label>



			<label for="radio1"><input type="radio" id="radio1"> Label for Radio</label>



			<label>Dropdown Label</label>

			<select>

				<option>This is a dropdown</option>

				<option>This is another option</option>

				<option>Look, a third option</option>

			</select>



			<div class="row">

				<div class="seven columns">

					<fieldset>

						<h5>Fieldset Header H2</h5>

						<p>This is a paragraph within a fieldset.</p>



						<label>Standard Input</label>

						<input type="text" class="input-text" />

					</fieldset>

				</div>

			</div>

		</form>

		<hr />




	</div>


</div>

<!-- Forms End -->