<div class="block" id="block-lists"> 

  <%= render :partial => 'shared/secondary_navigation' %>  
  
  <div class="content"> 
  
	<h2 class="title">Lists</h2> 
	
	<div class="inner"> 
	
	  <ul class="list"> 
	  
		<li> 
		
		  <div class="left"> 
			<a href="#"><img class="avatar" src="images/avatar.png" alt="avatar" /></a> 
		  </div> 
		  
		  <div class="item"> 
			<p>Lorem ipsum dolor sit amet,orum.</p> 
		  </div> 
		  
		</li> 
		
		<li> 
		
		  <div class="left"> 
			<a href="#"><img class="avatar" src="images/avatar.png" alt="avatar" /></a> 
		  </div> 
		  
		  <div class="item"> 
			<p>Lorem ipsum dolor sit amet, cola pariaturficia deserunt mollit anim id est laborum.</p> 
		  </div> 
		  
		</li> 
		
		<li> 
		
		  <div class="left"> 
			<a href="#"><img class="avatar" src="images/avatar.png" alt="avatar" /></a> 
		  </div> 
		  
		  <div class="item"> 
			<p>Lorem ipsum ficia deserunt mollit anim id est laborum.</p> 
		  </div> 
		  
		</li> 
		
	  </ul> 
	  
	</div> 
	
  </div> 
  
</div> 