
<div class="row">

	<div class="twelve columns"> 
		
		<table>
		<tbody>
		<tr>
		<td>
			
		<%= render_show_detail_zurb(:name, item_name_link(@group)) %>
		<%= render_show_detail_zurb(:second_team, h(@group.second_team)) %>
		<%= render_show_detail_zurb(:manager, item_list(@group.all_the_managers)) %>

		
		</td>	
		</tr>
		</tbody>
		</table>
		
	</div>
</div>
