<div class="block"> 
  <h3>Switch Theme</h3> 
  <ul class="navigation"> 
	<li><a href="#" onclick="Theme.activate('default'); return false;">Default</a></li> 
	<li class="last"><a href="#" onclick="Theme.activate('bec'); return false;">Bec</a></li> 
	<li class="last"><a href="#" onclick="Theme.activate('bec-green'); return false;">Bec-Green</a></li> 
	<li><a href="#" onclick="Theme.activate('blue'); return false;">Blue</a></li> 
	<li><a href="#" onclick="Theme.activate('djime-cerulean'); return false;">Djime-Cerulean</a></li> 
	<li><a href="#" onclick="Theme.activate('reidb-greenish'); return false;">Greenish</a></li> 
	<li><a href="#" onclick="Theme.activate('kathleene'); return false;">Kathleene</a></li> 
	<li><a href="#" onclick="Theme.activate('orange'); return false;">Orange</a></li> 
	<li><a href="#" onclick="Theme.activate('drastic-dark'); return false;">Drastic Dark</a></li> 
  </ul> 
</div>