<span style="font-size: 11px;">
	<a href="/groups/letter/A" title="Teams starting with the letter A">
		A
	</a>
	<a href="/groups/letter/B" title="Teams starting with the letter B">
		B
	</a>
		C
	<a href="/groups/letter/D" title="Teams starting with the letter D">
		D
	</a>
	<a href="/groups/letter/E" title="Teams starting with the letter E">
		E
	</a>
	<a href="/groups/letter/F" title="Teams starting with the letter F">
		F
	</a>
	<a href="/groups/letter/G" title="Teams starting with the letter G">
		G
	</a>
	<a href="/groups/letter/H" title="Teams starting with the letter H">
		H
	</a>
	<a href="/groups/letter/I" title="Teams starting with the letter I">
		I
	</a>
	<a href="/groups/letter/J" title="Teams starting with the letter J">
		J
	</a>
	<a href="/groups/letter/K" title="Teams starting with the letter K">
		K
	</a>
	<a href="/groups/letter/L" title="Teams starting with the letter L">
		L
	</a>
	<a href="/groups/letter/M" title="Teams starting with the letter M">
		M
	</a>
	<a href="/groups/letter/N" title="Teams starting with the letter N">
		N
	</a>
	<a href="/groups/letter/O" title="Teams starting with the letter O">
		O
	</a>
	<a href="/groups/letter/P" title="Teams starting with the letter P">
		P
	</a>
	<a href="/groups/letter/Q" title="Teams starting with the letter Q">
		Q
	</a>
	<a href="/groups/letter/R" title="Teams starting with the letter R">
		R
	</a>
	<a href="/groups/letter/S" title="Teams starting with the letter S">
		S
	</a>
	<a href="/groups/letter/T" title="Teams starting with the letter T">
		T
	</a>
	<a href="/groups/letter/U" title="Teams starting with the letter U">
		U
	</a>
	<a href="/groups/letter/V" title="Teams starting with the letter V">
		V
	</a>
	<a href="/groups/letter/W" title="Teams starting with the letter W">
		W
	</a>
	<a href="/groups/letter/X" title="Teams starting with the letter X">
		X
	</a>
	<a href="/groups/letter/Y" title="Teams starting with the letter Y">
		Y
	</a>
	<a href="/groups/letter/Z" title="Teams starting with the letter Z">
		Z
	</a>
	<span>
	</span>
</span>