
            
    
    
    <style>
      .gmap3{
        margin: 20px auto;
        border: 1px dashed #C0C0C0;
        width: 500px;
        height: 250px;
      }
    </style>
    
    <script type="text/javascript">
      $(function(){
        $().gmap3('setDefault', {verbose:true});
      
        $('#test1').gmap3(
          //{action:'setDefault', verbose:true}, // also possible
          { action: 'addMarker',
            address: "cardenal herrera oria madrid spain",
            map:{
              center: true,
              zoom: 14,
              mapTypeId: google.maps.MapTypeId.TERRAIN
            }
          }
          );
      });
    </script>
  <body>
    <div id="test1" class="gmap3"></div>
