
<style>
body{
	text-align:center;
}
#ctrl{
	width: 500px;
	margin:0 auto;
}
</style>

<script type="text/javascript">

$(function(){

	$("#test").gmap3();

	$('#test-ok').click(function(){
		var addr = $('#test-address').val();
		if ( !addr || !addr.length ) return;
		$("#test").gmap3({
			action:   'getlatlng',
			address:  addr,
			callback: function(results){
				if ( !results ) return;
				$(this).gmap3({
					action:'addMarker',
					latLng:results[0].geometry.location,
					map:{
						center: true,
						zoom: 14
						// ,mapTypeId: google.maps.MapTypeId.TERRAIN
					}
				});
			}
		});
	});

	$('#test-address').keypress(function(e){
		if (e.keyCode == 13){
			$('#test-ok').click();
		}
	});
});

</script>  
  
<div id="ctrl"><%= label_name(:address) %> : <input type="text" id="test-address" size="60"> <button type="button" id="test-ok"><%= label_name(:search) %></button></div>  
<div id="test" class="gmap3"></div>
Fill in an address, a marker will be added and the map will be centered on it
