
            
    
    
    <style>
      .gmap3{
        margin: 20px auto;
        border: 1px dashed #C0C0C0;
        width: 500px;
        height: 250px;
      }
    </style>
    
    <script type="text/javascript">
    
      $(function(){
  
        $('#test1').gmap3(
          {
            action: 'addInfoWindow',
            address: "place de l'étoile, paris",
            map:{
              center: true,
              zoom: 14
            },
            infowindow:{
              options:{
                size: new google.maps.Size(50,50),
                content: 'Hello World !'
              },
              events:{
                closeclick: function(infowindow){
                  alert('closing : ' + $(this).attr('id') + ' : ' + infowindow.getContent());
                }
              },
              apply:[
                {action:'setContent', args:['Here is a new content !']}
              ]
            }
          },
          {action: 'setOptions', args:[{scrollwheel:true}]}
        );
          
      });
    </script>  
  
    <div id="test1" class="gmap3"></div>
