<style>
.gmap3{
	margin: 20px auto;
	border: 1px dashed #C0C0C0;
	width: 500px;
	height: 250px;
}
</style>

<script type="text/javascript">
$(function(){

	$('#test1').gmap3(
		{ action: 'addMarker',
		address: "Haltern am See, Weseler Str. 151",
		map:{
			center: true,
			zoom: 14,
			mapTypeId: google.maps.MapTypeId.TERRAIN
		}
	}
);
});
</script>

<div id="test1" class="gmap3"></div>
