
<h2 class="title"><%= label_name(:cups_options_without) %></h2>

<div class="inner">

<% if current_user.is_maximo?  %>
<p>
	<span class="large">*&nbsp;&nbsp;
		<%= link_to("#{label_name(:you_can)} #{label_name(:create_your_own)} #{label_name(:cup)}", new_cup_url) %>
	</span>
</p>
<% end %>

<p>
	<span class="large">*&nbsp;&nbsp;
		<%= link_to("#{label_name(:you_can)} #{label_name(:cups_to_join)}", list_cups_path) %>
		<%#=  link_to(label_name(:all_cup) , list_cups_path) %>
	</span>
</p>
<!-- <p>
	<span class="large">*&nbsp;&nbsp;
		<%#= label_name(:cups_search_to_join) %>
	</span>
</p> -->

</div>