<div class="block">

<h3><%= control_label('option') %></h3>

<ul class="navigation">
		<li><%= link_to(label_name(:invitations_create_cup) , new_invitation_url(:cup_id => @cup)) %></li>
</ul>

</div>