<div class="block">
	<h3><%= label_name(:options) %></h3>
	<div class="content">
		<p><%= option_image_link('cup') %>&nbsp;&nbsp;<%= link_to(label_name(:cups_create) , new_cup_url) %></p>
	</div>
</div>