<%
 if @cup
	the_cup = h(@cup.name)

	the_label = label_with_name('create_game', @cup.name)
	the_confirmation = "#{ label_name(:cups_destroy) } #{the_cup}?" 
%>

<div class="block">
	
	<h3><%= label_name(:options) %></h3>
	
	<ul class="navigation">
		<li><%=  link_to(label_name(:escuadras) , escuadras_path(:id => @cup)) %></li>
		<li><%#= link_to label_name(:stages), stages_path(:id => @cup) %></li>		
	</ul>
	
</div>
<% end %>