aaa
	<table>
		<thead>

			<tr>
				<th colspan="2">

					<div class="description">
                      <span class="q">
							<%#=h marker.description.blank? ? control_label('description_no') : marker.description %>
						</span>
                    </div>


				</th>

			</tr>
		</thead>

		<tr>
			<td valign="top" width="105"><%#= marker_show_photo(marker, current_user) %></td>
			
			<td>
				<table border="1">
					
					<%#= tr_td_action(:name, marker.name) %>				
					<%#= tr_td_action(:latitude, marker.latitude) %>				
					<%#= tr_td_action(:longitude, marker.longitude) %>				
					<%#= tr_td_action(:url, marker.url) %>				
					<%#= tr_td_action(:address, marker.address) %>				
					<%#= tr_td_action(:city, marker.city) %>				
					<%#= tr_td_action(:zip, marker.zip) %>	
					
				</table>
				
			</td>
		</tr>
		
	</table>


