<div class="block">

<h3><%= label_name(get_the_controller, 'options') %></h3>

<ul class="navigation">

<%= link_to(label_name(:edit_marker), edit_marker_path(marker)) if current_user.is_manager_of?(marker) %> 

</ul>

</div>