<div class="block">
	<h3><%= label_name(:markers_instructions) %></h3>
	<div class="content">
		<p>
			<%= "#{label_name(:you_are_create_group_instruction)}"  %>
		</p>
		<p>
			<%= "#{label_name(:or)} #{link_to(control_label('search') , search_map_url)} #{label_name(:and)} #{label_name(:you_are_create_group).downcase}" %>
		</p>
	</div>
</div>
