<div class="block">
	<h3><%= label_name(:options) %></h3>
	<div class="content">
		<p><%= option_image_link('marker') %>&nbsp;&nbsp;<%= link_to(control_label('create') , new_marker_url) %></p>		
	</div>
</div>