<%
	the_label = label_name(:markers)
	content_for(:title, the_label)
%>

<div class="row">
	 
	<div class="twelve column">  
			<% if object_counter(@markers) > 0 %>
				<%= render :partial => '/markers/index_full_zurb' %>
			<% else %>
				<%= render :partial => '/markers/index_blank_zurb' %>
			<% end %>
	</div>	
</div>