<%
	the_label = label_name(:markers)
	content_for(:title, the_label)
%>

<div class="block">
	
	<%= get_secondary_navigation(Marker.new) %>
	 
	<div class="content">  
			<% if object_counter(@markers) > 0 %>
				<%= render :partial => '/markers/index_full' %>
			<% else %>
				<%= render :partial => '/markers/index_blank' %>
			<% end %>
	</div>	
</div>