<div class="block">

	<%= render :partial => 'secondary_navigation' %>  

	<div class="content">
		<div class="inner">
			
			<%#= GMap.header(:local_search => true) %>
			<%= GMap.header %>
			<%= @map.to_html %>
			
			<%= @map.div(:width => 900, :height => 400) %>
			

		</div>
	</div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>