<%
	the_label = label_name(:markers)
	content_for(:title, the_label)
%>

<div class="row">

	

	<div class="twelve column">
		<%= GMap.header(:local_search => true) %>
		<%= GMap.header %>
		<%= @map.to_html unless @map.blank? %>
		
		<%= @map.div(:width => "99.5%", :height => 400) %>		
	</div>
	
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>