<div class="block">

	<%= get_secondary_navigation(@group) %>

	<div class="content">  

		<h2 class="title"><%= label_name(:markers_new) %></h2>

		<div class="inner">
	
	  <% form_for(@marker, :html => { :multipart => true, :class => :form  }) do |f| %>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>

		</div>

	</div>

</div>

