<% 
	the_label = label_name(:markers_new)
	@item = @marker
%>

<div class="row">

	<div class="twelve columns">  

		<%= set_title_class(the_label) %>
		
		<hr />

		<%= render 'shared/new_edit_multipart_zurb', :item => @item %>


	</div>

</div>

