<div class="secondary-navigation">

<ul>
	
	<li class="<%= get_first_active %>"><%= link_to(control_label('index') , types_path) %></li>
	<!--<li class="<%#= get_active('list') %>"><%#= link_to(control_label('list') , type_list_path) %></li>-->
	<!--<li class="<%#= get_active('create') %>"><%#= link_to(control_label('create') , new_type_path) %></li> -->

</ul>

<div class="clear"></div>

</div>