
body { background-color: white; }
	
#home .announce { 
	min-width: 75em; 
	margin-top: -1em; 
}
#home .announce h1 { 
	padding: 0.75em 0pt; 
		font-size: 215%; 
	text-align: center; 
	font-weight: normal; 
}

#home .featured { border: 2px solid rgb(242, 242, 242); padding: 0.4em 0.5em; margin-top: 1.5em; background-color: white; position: relative; margin-right: 0.3em; }
#home .featured img { position: absolute; left: -2.549em; top: 0pt; width: 3.073em; height: 4.798em; }
#home .featured .meta a { color: rgb(51, 102, 153); }
#home .featured .meta .user { font-weight: bold; }
#home .featured .meta .repo { font-weight: bold; font-size: 270%; margin-top: -0.2em; }
#home .featured .meta .when { float: right; font-weight: bold; color: rgb(199, 199, 199); font-size: 95%; }
#home .featured .blurb { color: rgb(136, 136, 136); }
#home .featured .blurb p { font-size: 110%; }
#home .featured .blurb span { color: black; font-size: 105%; }

#home .headline { 
	font-family: "HelveticaNeue-Light",Helvetica,Arial,FreeSans,sans-serif; 
	margin-bottom: 4.2em; 
	}
#home .headline .words { margin-top: 1.5em; text-align: center; }
#home .headline .tour { margin-top: 3em; text-align: center; }
#home .headline h1, #home .headline h2 { text-align: center; font-weight: normal; }

#home .headline h1 { 
	font-size: 200%; 
	color: rgb(19, 56, 85); 
}

#home .headline h2 { 
	font-size: 150%; 
	color: rgb(19, 56, 85);
}


#home .features { border-top: 5px solid rgb(221, 221, 221); padding: 1em 2em 3em; overflow: hidden; background-color: rgb(237, 242, 246); }
#home .features h3 { font-size: 150%; margin-top: 1em; }
#home .features p { font-size: 120%; color: rgb(68, 68, 68); padding-bottom: 1em; }
#home .features .left { margin-left: 7em; float: left; width: 25em; }
#home .features .right { margin-right: 7em; float: right; width: 25em; }

#home .screens { 
	border-top: 5px solid rgb(221, 221, 221); 
	border-bottom: 5px solid rgb(221, 221, 221); 
	padding: 2em 0pt 2.5em; 
	overflow: hidden; 
	font-family: helvetica,arial,freesans,clean,sans-serif; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: normal; font-size: 13.34px; 
	line-height: normal; 
	font-size-adjust: none; 
	font-stretch: normal; 
	-x-system-font: none; 
	text-align: center; 
}

#home .screens .site { margin: 0pt auto; text-align: center; width: 68em; list-style-type: none; }
#home .screens h2 { margin-bottom: 0.5em; }
#home .screens .screenshot { margin: 0pt 1em 2em 0pt; float: left; text-align: center; width: 275px; }
#home .screens .screenshot img { margin-bottom: 0.1em; }

