body { background-color: white; }
	
#home .announce { 
	min-width: 75em; 
	margin-top: -1em; 
}
#home .announce h1 { 

	font-family:"Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
	font-size: 215%; 
	text-align: center; 
	font-weight: normal; 
	padding: 0.75em 0pt; 
}

#home .headline { 
	font-family: "HelveticaNeue-Light",Helvetica,Arial,FreeSans,sans-serif; 
	margin-bottom: 4.2em; 
	}
#home .headline .words { margin-top: 1.5em; text-align: center; }
#home .headline .tour { margin-top: 3em; text-align: center; }
#home .headline h1, #home .headline h2 { text-align: center; font-weight: normal; }

#home .headline h1 { 
	font-size: 200%; 
	color: rgb(19, 56, 85); 
}

#home .headline h2 { 
	font-size: 150%; 
	color: rgb(19, 56, 85);
}


#home .features { 
	padding: 1em 2em 3em; 
	overflow: hidden; 
	background-color: rgb(237, 242, 246); 
	
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;	
	
/*	background: url('../images/login.png') no-repeat scroll 0pt 0pt transparent; */
}
	
#home .features h3 { 
	font-size: 150%; 
	margin-top: 1em; 
	}
#home .features p { 
	font-size: 120%; 
	color: rgb(68, 68, 68); 
	padding-bottom: 1em; 
	}
#home .features .left { 
	float: left; 
	width: 30em; 
	margin-top: 2.75em; 
	margin-left: -2em;
	}
#home .features .right { 
	margin-right: 7em; 
	float: right; 
	width: 30em; 
	margin-top: 2em;
	margin-right: 4em;
	}

#home .features .rpx { 
/*	border: 1px solid #cfcfcf;*/
	margin-right: 7em; 
	float: right; 
	width: 33em; 
	margin-top: 3em;
	margin-right: -3em;
	}

div.rpx label { 
	font-weight: bold;
	margin-right: 10px;
	display: inline-block; 
	width: 70px; 
}

div.rpx input.text { 
	border: 1px solid rgb(205, 205, 205); 
	padding: 0.4em; 
	background: rgb(255, 255, 255) url('../../images/textfield-bg.gif') repeat-x scroll 0pt 1px; 
	font-size: 16px;
}
div.rpx input.text:focus { 
	background: rgb(255, 254, 244) url('../../images/textfield-focus-bg.gif') repeat-x scroll 0pt 1px; 
}
div.rpx input.text { 
	width: 260px; 
}
		
#home .screens { 
	border-top: 2px solid rgb(221, 221, 221); 
	border-bottom: 2px solid rgb(221, 221, 221); 
	padding: 2em 0pt 2.5em; 
	overflow: hidden; 
	font-family: helvetica,arial,freesans,clean,sans-serif; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: normal; font-size: 13.34px; 
	line-height: normal; 
	font-size-adjust: none; 
	font-stretch: normal; 
	-x-system-font: none; 
	text-align: center; 
}

#home .screens .site { margin: 0pt auto; text-align: center; width: 68em; list-style-type: none; }
#home .screens h2 { margin-bottom: 0.5em; }
#home .screens .screenshot { margin: 0pt 1em 2em 0pt; float: left; text-align: center; width: 275px; }
#home .screens .screenshot img { margin-bottom: 0.1em; }

