* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 75%;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

div#pagewrap {
	margin: 10px 0 0 10px;
	width: 700px;
}

table {
	border-collapse: collapse;
	width: 700px;
}

caption {
	font-size: 2.2em;
	color: #1f5092;
	text-align: left;
	margin-bottom: 10px;
}

th {
	font-size: 1.3em;
    color: #1f5092;
    text-align: left;
	padding: 5px 10px;	

}

div.owner_comment {
	padding: 0px 0px 5px 18px;
	background: transparent url('start_quote_small.gif') no-repeat scroll top left;
}


div.owner_comment span.q { 
	font-weight: normal;
	padding: 2px 16px 2px 0px;
	background: transparent url('end_quote_small.gif') no-repeat scroll right bottom;
}

td.heading {
	text-align: right;
	font-weight: bold;
	font-size: 1em;
	padding: 5px 20px 5px 10px;
	color: #212121;
	
	width: 250px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #eaeaea;
	
}

td.results {
	font-size: 1em;
	text-align: left;
	padding-left: 25px;
	color: #666;
	
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
}


td img {
   margin-left: 10px;
}

td#uploadpic {
	text-align: center;
	}
	td#uploadpic a:link {
		text-decoration: none;
		color: #666;
	}
	td#uploadpic a:hover {
		text-decoration: underline;
		color: #1f5092;
	}
	































