.gecko .goog-inline-block { display: -moz-inline-box; }
.gecko .goog-inline-block { display: inline-block; }
.goog-inline-block { position: relative; display: inline-block; }

#home { padding: 5px; }
.overview-section { padding: 0pt 0.25em; vertical-align: top; }
#left-section { width: 65%; }
.overview-section-header { margin: 0.5em 0pt 1em; font-weight: bold; font-size: 120%; }
#overview { padding: 0pt; min-width: 330px; margin-right: 1.5em; }
#overview .overview-section-header { margin-bottom: 0.5em; }
#home .small-interruption { margin: 0.5em 1em 0.5em 0.25em; padding: 0.5em; }
#home .small-interruption .link { margin-left: 0pt; }
#explore-promo { border: 1px solid rgb(255, 241, 168); margin: 1em 0pt; padding: 4px 20px 4px 4px; background-color: rgb(255, 255, 204); }
#explore-promo-new { font-weight: bold; color: red; }
#explore-promo-close { background: transparent url('../images/close.png') no-repeat scroll 0% 0%; position: absolute; top: 4px; right: 4px; cursor: pointer; height: 9px; width: 9px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
