

a { color: rgb(7, 61, 92); text-decoration: none; }
.limpiar { clear: both; }
.flota-izq { float: left; }

#contenido { margin: 0pt auto; padding: 24px 0pt 0px; background: rgb(255, 255, 255) url('1px_fondo.gif') repeat-y scroll 0% 0%; clear: both; width: 990px; }
.col_izq { padding: 24px 10px; float: left; text-align: left; width: 950px; }
/*.col_der { padding: 24px 10px; float: left; background-color: rgb(255, 255, 255); text-align: left; width: 320px; }*/
.col_izq p { margin-bottom: 15px; line-height: 18px; }


h3.clasificacion { border-bottom: 1px solid rgb(102, 102, 102); font-size: 14px; font-weight: bold; color: rgb(102, 102, 102); padding-bottom: 3px; }
div#contenido table#primera { 
		color: rgb(114, 114, 114); 
		font-size: 14px; 
		font-weight: normal; 
		margin-bottom: 20px; 
		width: 98%; 
		margin-top: 20px; 
		border-collapse: collapse; 
		border-spacing: 0pt; 
}
div#contenido table#primera th { border-bottom: 1px solid rgb(221, 221, 221); text-align: center; padding-bottom: 5px; }
div#contenido table#primera th.equipo span { display: none; }
div#contenido table#primera td { border-left: 1px solid rgb(241, 241, 241); border-bottom: 1px solid rgb(241, 241, 241); height: 30px; font-size: 14px ! important; text-align: center; }
div#contenido table#primera td.puntos { border-left: 0pt none; border-bottom: 1px solid rgb(221, 221, 221) ! important; padding-right: 2px; width: 24px; background-color: rgb(238, 238, 238); color: rgb(0, 0, 0) ! important; font-weight: bold; }
div#contenido table#primera td.champions { border-left: 0pt none; border-right: 1px solid rgb(255, 255, 255); background: rgb(174, 216, 147) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
div#contenido table#primera td.posicion { text-align: center; font-weight: bold; padding-right: 3px; width: 10px; }
div#contenido table#primera td.uefa { border-left: 0pt none; border-right: 1px solid rgb(255, 255, 255); background: rgb(238, 223, 125) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
div#contenido table#primera td.descenso { border-left: 0pt none; border-right: 1px solid rgb(255, 255, 255); background: rgb(221, 105, 95) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
div#contenido table#primera td.equipo { padding-left: 15px; text-align: left; font-weight: bold; }


table.clasificacion {  }
table.clasificacion tr td { border-bottom: 1px solid rgb(255, 249, 240); font-family: Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(102, 102, 102); width: 20px; height: 20px; text-align: center; }
/*#contenedor-portadilla .tabcontenedor_jornada table tr td a:hover { background-color: transparent; color: rgb(7, 61, 92); text-decoration: underline; }*/
table tr td a { color: rgb(7, 61, 92); }
table tr td.resultado a span { font-size: 9px; color: rgb(7, 61, 92); }
table.clasificacion tr td.champion { background-color: rgb(184, 205, 169); color: rgb(255, 255, 255); }
table.clasificacion tr td.uefa { background-color: rgb(165, 190, 209); color: rgb(255, 255, 255); }
table.clasificacion tr td.descenso { background-color: rgb(213, 164, 162); color: rgb(255, 255, 255); }
table.clasificacion tr td.ascenso { background-color: rgb(184, 205, 169); color: rgb(255, 255, 255); }
table.clasificacion tr td.playoff { background-color: rgb(184, 205, 169); color: rgb(255, 255, 255); }
table.clasificacion tr td.equipo { border-bottom: 1px solid rgb(222, 221, 221); width: 175px; text-align: left; padding-left: 10px; }
table.clasificacion tr td.puntos { border-bottom: 1px solid rgb(222, 221, 221); width: 20px; text-align: center; font-weight: bold; }
table.clasificacion tr td.ganados { border-bottom: 1px solid rgb(222, 221, 221); width: 20px; text-align: center; font-weight: bold; }
table.clasificacion tr td.perdidos { border-bottom: 1px solid rgb(222, 221, 221); width: 20px; text-align: center; font-weight: bold; }
