/** {
	margin: 0;
	padding: 0;
}

body {
	font-size: 80%;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

div#inner {
	width: 800px;
	margin: 10px auto;
}*/

table {
	border-collapse: collapse;
}

.description {
    text-align: left;
    font-size: 1.5em;

    margin: 5px 0 20px 0;
}

span.q {
    font-weight: normal;
    color: #336699;
}

td.label {
    font-weight: bold;
    padding: 10px 0 5px 10px;
    width: 200px;
    border: 1px solid white;
}

td.label_tip {
    font-weight: bold;
    padding: 10px 0 5px 10px;
/*    width: 200px;*/
    border: 1px solid white;
}
td.show {
    padding: 10px 0 5px 10px;
    text-align: left;
    width: 500px;
    color: black;
    border: 1px solid white; 
}