
body { font-size: 12px; padding: 0pt; margin: 0pt; font-family: Tahoma,Arial,Helvetica,sans-serif; }
a { color: rgb(0, 0, 255); text-decoration: none; }
a:hover { text-decoration: underline; }


.Reservada, .Reservable, .FueraPlazo {
	border: 1px solid lightgray; 
	background-position: center bottom; 
	text-align: center; 
	margin-bottom: 3px; 
}

.Reservable { background-color: rgb(255, 255, 255); }
.FueraPlazo { background-color: #E3E3E3; }
.Reservada { background-color: #F68340; }

.NombreReserva { height: 80%; }

.NombreReserva a:hover { 
	font-weight: bold;	
}

.Reservada a, .Reservable a, .FueraPlazo a { border: medium none; display: block; color: Black; padding-left: 3px; }
.Reservable a, .FueraPlazo a { height: 100%; }

.Cabecera { 
	color: black; 
	border: 1px solid lightgray;
	background-position: center bottom; 
	background-repeat: repeat-x; 
	vertical-align: bottom; 
	padding: 2px 3px; 
}

.HoraReserva , .HoraReserva_true, .HoraReserva_false{ 
	background-color: #0f7d00;
	color:  #e2edde; 
}

.HoraReserva_false{ 
	background-color: #E3E3E3; 
	color:  black; 
}

input, option, textarea, .input { border: 1px inset rgb(198, 137, 137); }

.CuerpoPagina { 
	width: auto; 
	border-left: 1px solid rgb(164, 175, 148); 
	border-right: 1px solid rgb(164, 175, 148); 
	border-bottom: 1px solid rgb(164, 175, 148); 
	background-color: rgb(241, 244, 255); 
	padding-bottom: 5px; 
	}

.CalendarioCuadrante { 
	background-color: #0f7d00; 
}


.ColPista { vertical-align: top; }
.ColPistaCab, .ColPistaCab_false, .ColPistaCab_true { 
	text-align: center; 
/*	border: 0px none; */
	font-size: 12px; 
	color: #e2edde; 
	background-color: #0f7d00;
	border: 1px solid lightgray;
	font-weight: bold;
/*	margin-top: 8px; */
/*	margin-bottom: 8px; */
/*	padding-top: 2px; */
/*	padding-bottom: 2px; */
	height: 35px; 
	overflow: hidden; 
}

.ColPistaCab_false { 
	color: #eef0f0; 
}

/*.NombreReserva a:hover { background-color: rgb(193, 196, 255); }*/

.Reservada a, .Reservable a, .FueraPlazo a { 
	border: medium none; 
	display: block; 
	color: #069; 
	padding-left: 3px; }
.Reservable a, .FueraPlazo a { height: 100%; }

.HoraReserva {  }
input, option, textarea, .input { border: 1px inset rgb(198, 137, 137); }

div, table, td, .Boton, input { -moz-border-radius: 3px 3px 3px 3px; }

.ColPista .NombreReserva { width: 120px; }
.ColPistaCab { width: 122px; }
