<div class="block">
	<h3><%= label_name(:options) %></h3>
	<div class="content">
		<p><%= option_image_link('group') %>&nbsp;&nbsp;<%= link_to(label_name(:groups_create) , new_group_url) %></p>
	</div>
</div>