<%
	the_label = label_name(:groups)
	content_for(:title, the_label)
%>

<div class="row">
	 
	<div class="twelve column">  
			<% if object_counter(@groups) > 0 %>
				<%= render '/groups/index_full_zurb' %>
			<% else %>
				<%= render '/groups/index_blank_zurb' %>
			<% end %>
	</div>	
</div>

