<% 
@user.groups.each do |group| 

	if is_current_manager_of(group) 

		unless @user.is_sub_manager_of?(group) 
%>
			<p><%= set_image_and_link(set_role_add_sub_manager(@user, group), 'user_add') %></p>
<% 
		else
			if @user != current_user
%>
			<p><%= set_image_and_link(set_role_remove_sub_manager(@user, group), 'user_remove') %></p>			
<% 
			end
		end   
	end 
end 
%>