<div class="block">

	<h3><%= label_name("user_options_team") %></h3>

	<ul class="navigation">

	<% 
	@user.groups.each do |group| 
		%>
		<li><%= group_link group %></li>
		<% 
	end
	%>


</ul>

</div>