<% 
	@user.groups.each do |group| 
		if is_current_manager_of(group)
			unless @user.is_subscriber_of?(group) 
%>
				<p><%= set_image_and_link(set_role_add_subscription(@user, group), 'user_add') %></p> 	
<% 
			else
%>		
				<p><%= set_image_and_link(set_role_remove_subscription(@user, group), 'user_remove') %></p> 	
<% 
			end 
		end 
	end 
%>



