<%
	@items.each do |item| 
		the_item = item.name

		unless @user.is_member_of?(item)  
%>
			<p><%#= set_image_and_link(join_item_link_to(@user, item, true), 'user_add') %></p>
<% 
		else
%> 
			<p><%= set_image_and_link(leave_item_link_to(@user, item), 'user_remove') %></p>
<% 
		end 
	end 
%>
