<div class="block">
	<h3><%= label_name(:challenge_option) %></h3>
<ul class="navigation">
<%
	items.each do |item| 
		the_item = h(item.name)

 		unless @user.is_member_of?(item)  
			the_label = label_with_name('petition_to_join', item.name)
			the_confirmation = "#{ label_name(:petition_to_join)} #{h(@user.name)} #{ label_name(:to) } #{the_item}?"
%>
        	<li><%= link_to(the_label, join_item_path(:id => item, :item => item.class.to_s, :teammate => current_user), 
					:confirm => the_confirmation) %>
			</li>
<% 
		else 
			the_label = label_with_name('fire_from_item', item.name)
			the_confirmation = "#{ label_name(:fire_from_item)} #{the_item} #{ label_name(:to)} #{h(@user.name)}?"
%> 
		<li><%= link_to(the_label, leave_item_path(:id => item, :item => item.class.to_s, :teammate => current_user), 
				:confirm => the_confirmation) %>
		</li>
<% 
		end 
	end 
%>

</ul>
	
</div>