<% 
	@user.groups.each do |group| 

		if is_current_manager_of(group) 

			unless @user.is_sub_manager_of?(group) 
	%>		
				<p>
				<%= option_image_link('user_add') %>&nbsp;&nbsp;<%= set_role_add_sub_manager(@user, group) %>
				</p>
	<% 
			else
				if @user != current_user
	%>					
				<p>
				<%= option_image_link('user_remove') %>&nbsp;&nbsp;<%= set_role_remove_sub_manager(@user, group) %>
				</p>			
	<% 
				end
			end   
		end 
	end 
%>