<% theController = get_the_controller 
	display_actions ||= false
%>






<div class="block">
  <h3><%= control_action_label %></h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

<div class="block">
  <h3><%= label_name(:user_options) %></h3>
  <ul class="navigation">
  <li><%#= link_to label_name(:edit), edit_user_path(@user) %></li>
    <li><%#= link_to label_name(:send_messsage), edit_user_path(@user) %></li>
  </ul>
</div>




