<%- unless current_user.activities.empty? -%>

	<%= content_tag 'h5', t(:recent_activities) %>

	<p class="meta">
		<%= user_link current_user %>  
	</p>    

	<ul class="list messages full">	
		<%= render :partial => 'users/activity',
		:collection =>current_user.activities, :locals => { :destroy => true, :recent => true } %>
	</ul>

<%= render :partial => '/shared/content_pagination' %>
<%- end -%>
