<% 
	the_label = label_name('signup') 
	@user_session = UserSession.new
%>

<div id="home">
	<div class="features">
		<div class="left" >
			<%= RPXNow.embed_code(APP_CONFIG['rpx_api']['realm'],rpx_token_sessions_url, :language => I18n.locale) if SHOW_RPX_NOW %>
		</div>
		<div class="rpx">
			
			<p><%= label_name(:user_signup) %></p>
			
			<% form_for @user, :html => {:class => 'form login'} do |f| %>
				<%= render :partial => 'users/login', :locals => {:f => f, :the_label => label_name('signup') } %>		
			<% end -%>			
			
		</div>
	</div>
</div>
