<% the_label = label_name('signup') %>

<div class="block" id="block-signup"> 

<h2><%= the_label %></h2> 

<div class="content"> 

	<% form_for @user, :html => { :class => :form } do |f| -%>
	
		<%= render :partial => 'utilities/rpx_now', :locals => {:the_label => the_label} %>		
		<%= render :partial => 'utilities/login', :locals => {:f => f, :the_label => the_label} %>
		<%#= render :partial => 'utilities/openid', :locals => {:f => f, :the_label => the_label} %>
	
	<% end -%>
  
</div> 

</div> 
