<style>
/* This will go in a different css file as widget.js */
.week_day_detail{
	display:none;
}
</style>

<div class="row">
	<div class="twelve columns">
		
		<%if !@schedulesPerWeekDay.nil? and @schedulesPerWeekDay.any?%>
		
		<table>

		<%@schedulesPerWeekDay.each do |index, weekdaySchedules|%>
			<tr>
				<td>
					<%= "(#{weekdaySchedules.length}) #{index}"%>
					<a href="#" class="toogle_day_view_link">toggle</a>
				</td>
			</tr>
			
			<%if weekdaySchedules.any?%>
			<tr class="week_day_detail">
				<td>
					<%weekdaySchedules.each do |schedule|%>
					<div>
						<%=schedule.name%>
					</div>
					<%end%>
				</td>
			</tr>
			<%end%>
			
		<%end%>

		</table>
		
		<%else%>
		
		<p>No hay eventos que mostrar</p>
		
		<%end%>
		
		
	</div>
</div>