
<div class="row">
	<div class="twelve columns">
		
		<%if current_user%>
		<p>Esta loggeado <%=root_url%></p>
		<%else%>
		<p>NO Esta loggeado <%=root_url%></p>
		<%end%>
		
		<%if !@schedulesPerWeekDay.nil? and @schedulesPerWeekDay.any?%>
		
		<table>

		<%@schedulesPerWeekDay.each do |index, weekdaySchedules|%>
			<tr>
				<td>
					<%= "(#{weekdaySchedules.length}) #{index}"%>
					<a href="#" class="toogle_day_view_link">toggle</a>
				</td>
				<td></td>
			</tr>
			
			<%if weekdaySchedules.any?%>
			<tr class="week_day_detail">
				<td>
					<%weekdaySchedules.each do |schedule|%>
					<div>
						<%=schedule.name%>
					</div>
					<%end%>
				</td>
				
				<td>
					<a href="#" class="auth_popup">Apuntate</a>
				</td>
				
			</tr>
			<%end%>
			
		<%end%>

		</table>
		
		<%else%>
		
		<p>No hay eventos que mostrar</p>
		
		<%end%>
		
		
	</div>
</div>

<script>
	if(window.opener) {
	    window.opener.location.reload(true);
	    window.close()
	}
</script>