
<h2 class="title"><%= label_name(:tournaments_options_without) %></h2>

<div class="inner">

<p>
	<span class="large">*&nbsp;&nbsp;
		<%= link_to("#{label_name(:you_can)} #{label_name(:create_your_own)} #{label_name(:tournament)}", new_tournament_url) %>
	</span>
</p>
<p>
	<span class="large">*&nbsp;&nbsp;
		<%= link_to("#{label_name(:you_can)} #{label_name(:to_join_tournament)}", list_tournaments_path) %>
		<%#=  link_to(label_name(:all_tournament) , list_tournaments_path) %>
	</span>
</p>
<!-- <p>
	<span class="large">*&nbsp;&nbsp;
		<%#= label_name(:tournaments_search_to_join) %>
	</span>
</p> -->

</div>