<% if current_user.is_manager_of?(@tournament) %>


<div class="block">

<h3><%= "#{control_label('option')} #{h(@tournament.name)}" %></h3>

<ul class="navigation">
	<% @tournament.rounds.each do |round| %>
		<%= content_tag :li, link_to("#{label_name(:meets_new)} #{label_name(:for)} #{h(round.name)}", new_meet_path(:id => round)) %>
	<% end %>
</ul>

</div>

<div class="block">

<h3><%= "#{control_label('option')} #{h(@tournament.name)}" %></h3>

<ul class="navigation">
	<% @tournament.rounds.each do |round| %>
	<%= content_tag :li, link_to("#{label_name(:edit)} #{h(round.name)}", edit_round_path(round)) %>	
	<% end %>
</ul>

</div>

<% end -%>