<%
	the_label = label_name(:tournaments)
	content_for(:title, the_label)
%>

<div class="block">

	<%= render :partial => 'secondary_navigation' %>  

	<div class="content">  

			<% if object_counter(@tournaments) > 0 %>
				<%= render :partial => 'index_full' %>
			<% else %>
				<%= render :partial => 'index_blank' %>
			<% end %>

	</div>
	
</div>

<% content_for :search, render(:partial => 'shared/search') -%>

<% content_for :sidebar, render(:partial => 'sidebar') -%>