<% image = 'table-arrow-top.gif' if type.id == 1 %>
<% image = 'table-arrow-bottom.gif' if type.id == 3 %>
<% image = 'table-arrow-right.gif' if type.id == 5 %>

<td>
	<div id="status">
<% 
	the_label = "#{label_name(:change_roster_status) } #{label_name(type.name)}"
	the_confirmation = "#{the_label}?"
%>
	<%= link_to image_tag(image, :title => the_label), match_status_path(:id => match.id, :type => type.id), 
								 :title => the_label, :confirm => the_confirmation  %>
	</div>
</t>