<%= stylesheet_link_tag 'newindexStyles' %>

<div id="pagewrap">

	<table>
		
		<caption>Primera Jornada</caption>
		<thead>
			<tr>
				<th colspan="4">
					
					<div class="owner_comment">
                      <span class="q">Este es el primer partido de la temporada del 2009 - 2010</span>
                    </div>
					
					
				</th>
			</tr>
		</thead>
		
		<tbody>
		<tr>
			<td rowspan="9">
				<div id="avatarImg">
					<img src="default_avatar.jpg" alt="Default Avatar"/>
					<p><a href="#">Nombre usuario</a></p>	
				</div>
				
			</td>
		</tr>

		<tr class="heading">
			<td>Equipo</td>
			<td>Deporte</td>
			<td>Lugar</td>
		</tr>
		
		<tr class="results">
			<td>Haypista</td>
			<td>F&uacute;tbol</td>
			<td>Centro Deportivo La Mas&oacute;</td>
		</tr>
		
		<tr>
	    <td colspan="5">&nbsp;</td>
	  </tr>
		

		<tr class="heading">
			<td>Fecha</td>
			<td>Hora Inicio</td>
			<td>Hora Finalizaci&oacute;n</td>
		</tr>
		
		<tr class="results">
			<td>09.09.2009</td>
			<td>19:30 pm</td>
			<td>20:30 pm</td>
		</tr>
		
		<tr>
			<td colspan="4">&nbsp;</td>
		</tr>

	
		<tr class="extraInfo">
			<td class="convocados">Convocados</td>
			<td colspan="2">Ra&uacute;l, Antoine, Julien,.....</td>
		</tr>
		
		<tr class="extraInfo">
			<td class="ausentes">Ausentes</td>
			<td colspan="2">Duro, Juanma, Jairo, Rafa,....</td>
		</tr>
			
		</tbody>
		
	</table>
	
</div>
