<% 
	the_label = label_name(:group)
%> 
   



<hr/>

<div class="row">
	<div class="twelve columns">

		<%= render_show_detail_zurb(:convocados, render('/shared/show_images_zurb', :collection => @schedule.convocados)) unless @schedule.convocados.empty? %>	
		<%= render_show_detail_zurb(:last_minute, render('/shared/show_images_zurb', :collection => @schedule.last_minute)) unless @schedule.last_minute.empty? %>			
		<%= render_show_detail_zurb(:no_shows, render('/shared/show_images_zurb', :collection => @schedule.no_shows)) unless @schedule.no_shows.empty? %>			
		<%= render_show_detail_zurb(:no_jugado, render('/shared/show_images_zurb', :collection => @schedule.no_jugado)) unless @schedule.no_jugado.empty? %>

	</div>
</div>

<!-- <hr/>
<br/> -->



