<% the_label, the_content, has_been_played, is_manager, is_squad, the_sport, the_missing, the_span, the_start_at_label = get_team_roster %> 
   
<%= set_title_class(the_label) %>
<hr/>

<div class="row">
	<div class="twelve columns">

		<% if @has_a_no_show_roster %>

				<%= render 'schedules/team_roster_box_zurb', 
						   	:previous_show => @previous, 
							:next_show => @next, 
							:schedule => @schedule, 
							:the_roster => @the_no_show_roster, 
							:match_type => @match_type %>

		<% end -%>

	</div>
</div>

<hr/>
<br/>



