<% 	
	# getting person who did the teams...
	the_pre_match_teams = ""
	the_pre_match_organizer = Match.find(:first, :conditions =>["schedule_id = ? and change_id is not null", @schedule], :order => "updated_at DESC")
	
	if the_pre_match_organizer
		the_user = User.find(the_pre_match_organizer.change_id)
		
		the_pre_match_teams = "#{item_name_link(the_user)} #{label_name(:post_pre_match_teams)}, #{ago(the_pre_match_organizer.updated_at).downcase}." 
		add_break_point = @schedule.played ? "" : "<br/>"
	end
	
	the_scorecard = "<br/>#{link_to(label_name(:scorecard), scorecard_path(:id => @schedule.group))}"
	the_scorecard = "<br/><STRONG>#{label_name(:fee_per_game_short)}:</STRONG> #{number_to_currency(@schedule.fee_per_game)}" unless @schedule.played
%>


<% unless the_pre_match_teams.blank? %>
	<div class="row">
		<div class="twelve columns">

			<table>
			<tr>			
				<%#= content_tag_safe :td, "#{item_name_link(@schedule.group)}  ( #{@schedule.sport.name} ) #{the_scorecard}" %>
				<%#= content_tag_safe :td, "#{the_start_at_label}#{add_break_point}#{the_pre_match_teams}" %>
				<%#= content_tag_safe :td, match_all_my_link(@schedule, current_user, false) unless @schedule.played %>
				<%= content_tag_safe :td, "#{the_pre_match_teams}" %>
			</tr>
			</table>
		
		</div>
	</div>
<% end %>