<div class="row">
	<div class="twelve columns">

		<table>
		<tr>			
			<%= content_tag_safe :td, "#{item_name_link(@schedule.group)}<br/>#{@schedule.sport.name}" %>
			<%= content_tag_safe :td, the_start_at_label %>
			<%= content_tag_safe :td, match_all_my_link(@schedule, current_user, false) %>
		</tr>
		</table>
		
	</div>
</div>