<div class="block">

	<%= render :partial => 'secondary_navigation' %>

	<div class="content">   

		<h2 class="title"><%= control_action_label %></h2>

		<div class="inner">
		
      <% form_for @schedule, :url => schedule_path(@schedule), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f, :label_name => label_name(:create)} %>
      <% end -%>

		</div>

	</div>

</div>

	<% content_for :sidebar, render(:partial => '/schedules/sidebar_show') if @schedule -%>
