<% a_roster = !(@schedule.last_minute.empty?) %>

<div class="block">

	<%= render :partial => 'secondary_navigation' %>  

	<div class="content">   

		<h2 class="title">
			<%= a_roster ? label_name(:last_minute) : label_name("#{get_the_controller}_#{label_name(:last_minute)}") %>
		</h2>

		<div class="inner">
<% 
	if a_roster
%>
		<%= render :partial => '/schedules/team_roster_box', 
					:locals => {:previous_show => @previous, :next_show => @next, :roster => label_name(:last_minute), 
								:schedule => @schedule, :the_roster => @schedule.the_last_minute, 
								:match_type => @match_type} %>
<% 
	end 
%>
		</div>
	</div>
</div>

	<% content_for :sidebar, render(:partial => '/schedules/sidebar_show') if @schedule -%>
	<% content_for :sidebar, render(:partial => '/practices/sidebar_show') if @practice -%>


















