<% 
	a_roster = !(@schedule.no_shows.empty?)
	the_label = control_action_label("#{a_roster}")
	content_for(:title, the_label)
%> 

<div class="block">

	<%= render :partial => '/shared/previous_next_message' %>   
	<%= show_heading(the_label) %>

		<div class="inner">
<% 
	if a_roster
%>
		<%= render :partial => '/schedules/team_roster_box', 
					:locals => {:previous_show => @previous, :next_show => @next, :roster => label_name(:no_shows), 
								:schedule => @schedule, :the_roster => @schedule.the_no_show, 
								:match_type => @match_type} %>
<% 
	end 
%>
		</div>
	</div>
</div>

	<% content_for :sidebar, render(:partial => '/schedules/sidebar_show') if @schedule -%>
