<% 
	a_roster = !(@schedule.convocados.empty?)
	the_label = "#{control_action_label("#{a_roster}")} #{label_name(:in)} #{sanitize(@schedule.concept)}"
	content_for(:title, sanitize(@schedule.concept))
%>


<div class="block">

  	<%#= render :partial => '/shared/previous_next_message' %>
    <%= render "shared/previous_next_message", :schedule => @schedule, :the_previous => @the_previous, :the_next => @the_next -%>
	<%= show_heading(the_label) %>

		<div class="inner">
<% 
	if a_roster
%>
		<%= render :partial => '/schedules/team_roster_box', 
					:locals => {:previous_show => @previous, :next_show => @next, :roster => label_name(:rosters), 
								:schedule => @schedule, :the_roster => @schedule.the_roster, 
								:match_type => @match_type} %>
<% 
	end 
%>
		</div>
	</div>
</div>

<% content_for :sidebar, render(:partial => '/shared/latest_payment') -%>
<% content_for :sidebar, render(:partial => '/schedules/sidebar_show') if @schedule -%>
<% content_for :sidebar, render(:partial => 'shared/share_object', :locals => {:schedule => @schedule}) if @schedule -%>




















