<div class="block"> 
	<%= content_tag 'h3', t(:recent_activities) %>
  <div class="sidebar-block"> 
	<!-- <%#= content_tag 'h5', t(:recent_activities) %><br /> -->
	
	<table class="table">
	<% my_activities.each do |activity| %>
	<%= render :partial => 'shared/activity', :locals => {:activity => activity, :destroy => current_user == activity.user, :recent => true } %>
	<% end -%>
	</table>
		
  </div> 
</div>
