<div class="block"> 
  <div class="sidebar-block"> 
	<h4><%= label_name(:recent_activities) %></h4> 
	
	<table class="table">		
	
		<% Activity.related_activities(current_user).each do |activity| %>
		
		<%= render :partial => 'shared/activity', :locals => {:activity => activity, :destroy => current_user == activity.user, :recent => true } %>
	<% end -%>
	</table>
		
  </div> 
</div>
