<div class="block">

  <%= render :partial => 'shared/secondary_navigation' %>
  
  <% content_for :content, render(:partial => 'shared/content', :locals => {:content_title => :edit_user}) -%>
  
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>