<% the_label = label_name(:select) %>

<div class="row">
	<div class=".four.columns">
		<%= content_tag_safe(:h7, the_label) %>:  
		<a rel="roster" href="#select_all"><%= label_name(:check_all) %></a>,  	 

		<a rel="roster" href="#select_none"><%= label_name(:check_none) %></a>,    	

		<a rel="roster" href="#invert_selection"><%= label_name(:check_invert) %></a>	
	</div>
</div>
<hr/>