<%
	the_completeness = user.percent_complete.round
	the_label = " <strong>#{the_completeness}%</strong> #{label_name(:profile_completeness)}"
%>

<div class="block"> 
	<div class="content"> 
		<br/>
		<div class="profile-completeness">
			<span class="progress-meter" title="<%= the_completeness %>% <%= label_name(:complete) %>"><span class="has-progress" style="width: <%= the_completeness %>%;"></span></span>
			<p class="progress"><%= is_action('show') ? the_label : link_to( the_label, user_url(current_user)) %></p>			
		</div>
		
	</div> 
</div>