<%
	the_error_total = "#{pluralize(target.errors.count, "error")} prohibited this record from being saved:"
	the_error_total = "Correct the following errors and try again."
	the_error_total = "<STRONG>#{the_error_total}</STRONG>"
	is_display = false
	
	ignore_fields = ['user_omniauth_new', 'rpx_new', 'signup']
	the_error_total = label_name(:fill_in_fields) if ignore_fields.include?(get_controller_action)	
	
	show_error_list = ['cup_new', 'cup_create']
	show_error_message_details = false
	show_error_message_details = show_error_list.include?(get_controller_action)	
%>



<style type="text/css">

.field_with_errors {
  display: block;
  clear: both;
}

.field_with_errors label {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}

.field_with_errors input {
  padding: 3px 2px;
  border: 2px solid red;
}

</style>

<% if target.errors.any? %>

	<%= content_tag :h6, "#{the_error_total}".html_safe, :class => "subheader" %>
	<hr>

	<% if show_error_message_details %>
	
	<div class="row">		
		<div class="row">
			<div class="one column">
			</div>

			<div class="eleven columns end error">
				<% target.errors.full_messages.each do |the_error| %>
				<div class="form-field error"><label>* <%= the_error %></label>&nbsp;&nbsp;</div>		
				<% end %>
			</div>
		</div>
	</div>

	<hr>
	
	<% end %>

	<br>

<% end %>


