<!-- <div id="header"> -->
  <%#= render :partial => 'shared/user_navigation' %>
  <%#= render :partial => 'shared/main_navigation' %>
  <%= render :partial => 'shared/header_navigation' %>
<!-- </div> -->