<div id="header">

  <h1><%= link_to (image_tag('logo_white.png'), '/') %></h1>
  
  <%= render :partial => 'shared/user_navigation' %>
 
  <%= render :partial => 'shared/main_navigation' %>

<!--[if lte IE 6]>
  <script defer src="/javascripts/pngfix.js?1191895809" type="text/javascript"></script>
  <link href="/stylesheets/ie6.css?1191885265" media="screen" rel="Stylesheet" type="text/css" />
<![endif]-->

  	<a href="http://es-es.www.mozilla.com/">
		<img border="0" alt="Firefox" title="Firefox" src="http://sfx-images.mozilla.org/affiliates/Buttons/110x32/get.gif" />
	</a>
</div>