<div id="header">

  <h1><%= link_to(image_tag('logo_white.png'), '/') %></h1>
  
  <%= render :partial => 'shared/user_navigation' %>
 
  <%= render :partial => 'shared/main_navigation' %>
  
</div>