<%- 
	@users = [] 
	@users << current_user.id      
	@debit_payment = Payment.debit_amount(@users, 'User')
	@credit_payment = Payment.credit_amount(@users, 'User')

	@groups = []
	current_user.groups.each do |group|
		@groups << group.id 
	end

	@debit_fee = Fee.debit_amount(@users, @groups)
-%>

<% if (@debit_fee.debit_amount.to_f - (@debit_payment.debit_amount.to_f + @credit_payment.credit_amount.to_f)) > 0.0 %>

<div class="block"> 
  <div class="sidebar-block"> 	

		<%= content_tag 'h5', label_name(:debit_to_group) %><br />
	
	<table class="table">		
		<tr>
			<td align="center">
				<%= link_to("#{label_name(:fees)}:&nbsp;&nbsp;&nbsp;&nbsp;#{number_to_currency(@debit_fee.debit_amount.to_f)}", fees_url(:id => current_user)) %>
	  		</td>
		</tr>
	</table>
		
  </div> 
</div>
<% end %>


