<%- 	
	# users = [] 
	#     groups = []
	#     schedules = []
	#     the_fees = []
	#     the_payments = []
	# 
	# users << current_user
	# groups = current_user.groups
	# 
	# groups.each do |group|
	# 	Schedule.match_participation(group, users, schedules) unless current_user.is_subscriber_of?(group)
	# end
	# 
	# Fee.debits_credits_items_fees(users, groups, groups, the_fees) 
	# Fee.debits_credits_items_fees(users, groups, schedules, the_fees)
	# debit_fee = Fee.sum_debit_amount_fee(the_fees)    
	# 
	# Payment.debits_credits_items_payments(users, groups, groups, the_payments) 
	# Payment.debits_credits_items_payments(users, groups, schedules, the_payments)    
	# debit_payment, credit_payment = Payment.sum_debit_amount_payment(the_payments)
	# 
	# the_total = debit_fee.debit_amount.to_f - (debit_payment.debit_amount.to_f + credit_payment.credit_amount.to_f)
	# the_label = label_name(:debit_to_group)	
	
	the_total, the_label = set_latest_payment	
-%>

<% if the_total.to_f > 0.0 and DISPLAY_FREMIUM_SERVICES %>




<div class="row"> 
	
  <div class="twelve columns"> 
	
	<table>		
		<tr>
			<td>
				<%= link_to("#{label_name(:fees)}:&nbsp;&nbsp;&nbsp;&nbsp;#{number_to_currency(the_total)}", fees_url(:id => current_user)) %>
	  		</td>
		</tr>
	</table>
		
  </div> 
</div>
<% end %>


