<%- 
	# @users = [] 
	# @users << current_user.id      
	# @debit_payment = Payment.debit_amount(@users, 'User')
	# @credit_payment = Payment.credit_amount(@users, 'User')
	
	@users = User.find(:all, :conditions => ["id = ?", current_user])
	@debit_payment = Payment.debit_item_amount(@users, current_user)
    @credit_payment = Payment.credit_item_amount(@users, current_user)
    # @debit_fee = Fee.debit_item_amount(@users, current_user.challenges)

	@groups = []
	current_user.groups.each {|group| @groups << group.id }
	@debit_fee = Fee.debit_amount(@users, @groups)
	
	the_total = @debit_fee.debit_amount.to_f - (@debit_payment.debit_amount.to_f + @credit_payment.credit_amount.to_f)
-%>

<% if the_total > 0.0 %>

<div class="block"> 
	<%= content_tag 'h3', label_name(:debit_to_group) %>
  <div class="sidebar-block"> 	

		<%#= content_tag 'h5', label_name(:debit_to_group) %><br />
	
	<table class="table">		
		<tr>
			<td align="center">
				<%= link_to("#{label_name(:fees)}:&nbsp;&nbsp;&nbsp;&nbsp;#{number_to_currency(the_total)}", fees_url(:id => current_user)) %>
	  		</td>
		</tr>
	</table>
		
  </div> 
</div>
<% end %>


