<%   
	the_groups = Hash.new
	is_manager ||= false

	groups.each do |group| 
		total_fees = 0.0
		total_payments = 0.0
		the_total = 0.0

		the_users = []

		if is_manager
			# group.all_non_subscribers.each do |user|
			# 	the_users << user 
			# end
			group.users.each do |user|
				the_users << user 
			end
		else
			the_users << current_user
		end

		the_users.each do |user| 
			fees, payments, debit_fee, debit_payment = fee_group_user(group, user, user.is_subscriber_of?(group))

			total_debit_amount = debit_fee.debit_amount
			total_credit_amount = debit_payment.debit_amount

			total_owe = total_debit_amount.to_f - total_credit_amount.to_f
			payment_due = total_owe > 0.0

			if payment_due
				total_fees += debit_fee.debit_amount
				total_payments += debit_payment.debit_amount
			end
		end

		the_total = total_fees-total_payments
		if the_total > 0.0
			the_groups[group] = number_to_currency(the_total)
		end
	end
	
	the_groups.each do |group, the_total|
	the_label = "#{label_name(:fees)}:&nbsp;&nbsp;&nbsp;&nbsp;#{the_groups[group]}"
%>
<div class="block"> 
	<%= content_tag 'h3', h(group.name) if is_manager %>
	<%= content_tag 'h3', "#{label_name(:debit_to_group)} #{h(group.name)}" unless is_manager %>
  <div class="sidebar-block"> 
	
	<table class="table">		
		<tr>
			<td align="center" class="no_line">
				<%=  link_to(the_label, due_fees_path(:id => group)) if is_manager %>
				<%=  link_to(the_label, fees_url(:id => current_user)) unless is_manager %>
	  		</td>
		</tr>
	</table>
		
  </div> 
</div>
<% 
	end
%>


