<%#= stylesheet_link_tag 'looking' %>

<div class="block"> 
	<div class="sidebar-block">

		<div id="side">

			<h5 class="sidebar-title" id="fm_menu">
				<span>
					<%= label_name("looking_for", the_label) %>
				</span>
			</h5>
			<hr />
			<!-- <div class="sidebar-menu"> -->
				<!-- <div id="following_list"> -->

					<% recipients.each do |recipient| %>
					<%= render :partial => '/shared/vcard', :locals => {:recipient => recipient} %>
					<% end %>

				</div>

				<!-- <div id="friends_view_all">
					<%#= link_to "View all..." %>
				</div> -->

			<!-- </div> -->

		<!-- </div> -->

	</div>
</div>