<div class="block"> 
	<div class="sidebar-block">

		<div id="side">

			<h5 class="sidebar-title" id="fm_menu">
				<span>
					<%= label_name("looking_for", the_label) %>
				</span>
			</h5>
			<br />
			<% recipients.each do |recipient| %>
			<%= render :partial => '/shared/vcard', :locals => {:recipient => recipient} %>
			<% end %>

		</div>

	</div>
</div>