<% 
	the_controller = item.class.to_s.downcase 
	is_edit = is_action('edit') 
	
	case the_controller
	when 'company'
		the_controller = 'companie'
	when 'branch'
		the_controller = 'branche'
	end
%>

<div class="row">
	<div class="twelve columns">  

		<%= form_for(item, :html => { :multipart => true, :class => 'nice'  }) do |the_form| %>

			<%= render "shared/error_messages", :target => item %>
			
			<%= render "#{the_controller}s/form_zurb", :the_form => the_form, :is_edit => is_edit %>

			<br/><br/>
			<%= set_form_button_submit(item) %>

		<% end -%>

	</div>

</div>

		



