

flash[:success]
flash[:warning]
flash[:error]
flash[:notice]

<div class="alert-box [success warning error]">
	This is a success alert (div.alert-box.success).
	<a href="" class="close">&times;</a>
</div>



<div class="alert-box success">
	This is a success alert (div.alert-box.success).
	<a href="" class="close">&times;</a>
</div>


<div class="alert-box">
	This is a standard alert (div.alert-box).
	<a href="" class="close">&times;</a>
</div>


<div class="alert-box warning">
	This is a warning alert (div.alert-box.warning).
	<a href="" class="close">&times;</a>
</div>



<div class="alert-box error">
	This is an error alert (div.alert-box.error).
	<a href="" class="close">&times;</a>
</div>

