<% unless current_announcements.empty? %>

<div id="wrapper">	
	<div class="flash">
		<% for announcement in current_announcements %>
		<div class="message warning">
		<p>
			<span id="promo-new"><%= label_name(:new) %>!&nbsp;&nbsp;</span>
			<%= h(announcement.message) %>
			<%= link_to(label_name(:hide), hide_announcements_path, :id => 'hideAnn', :class => "hide") %>
		</p>
		</div>
		<% end -%>
	</div>
</div>

<% end -%>
