<%= stylesheet_link_tag 'notice' %>

<% unless current_announcements.empty? %>
<div id="wrapper">	
	<div class="flash">
		<% for announcement in current_announcements %>
		<div class="message warning">
		<p>
			<span id="explore-promo-new"><%= label_name(:new) %>!&nbsp;&nbsp;</span>
			<%=h announcement.message %>
			<%= link_to_remote label_name(:hide), :url => "/javascripts/hide_announcement.js" %>
		</p>
		</div>
		<% end -%>
	</div>
</div>
<% end -%>
