<%= stylesheet_link_tag 'notice' %>

<div id="wrapper">	

	<div class="flash">
	  <div class="message warning">

		<p>	<span id="explore-promo-new">New!&nbsp;&nbsp;</span> HayPista has a new option for players looking for teams and vise versa. 
			<a href="http://www.google.com/reader/play" target="_new">&nbsp;&nbsp;Give it a try</a>!
		</p>

	  </div>
	</div>

</div>
