<%#=  (@browser_type == "mobile") ? true : false  %>

<%
	the_device = @user_agent.device
	@user_agent.is_mobile?
	the_platform = @user_agent.device.platform
	the_engine = @user_agent.device.engine
	the_browser = @user_agent.device.engine.browser
%>


<% if current_user.id == 2001 %>
	<%= @browser_type  %>
	<%#= @user_agent.is_mobile?  %>
	
	<%#= "the_device.type: #{the_device.type}" %>
	<%#= "the_device.name: #{the_device.name}" %>
	<%#= "the_device.version: #{the_device.version}" %>
	<%#= "the_device.is_mobile?: #{the_device.is_mobile?}" %>
	<%#= "the_device.is_computer?" "#{the_device.is_computer?}" %>
	<%#= "the_device.is_bot?: #{the_device.is_bot?}" %>
	<%#= "@user_agent.is_mobile?: #{@user_agent.is_mobile?}" %>
	<%#= "the_platform.type: #{the_platform.type}" %>
	<%#= "the_platform.name: #{the_platform.name}" %>
	<%#= "the_platform.version: #{the_platform.version}" %>
	<%#= "the_engine.type: #{the_engine.type}" %>
	<%#= "the_engine.name: #{the_engine.name}" %>
	<%#= "the_engine.version: #{the_engine.version}" %>
	<%#= "the_browser.type: #{the_browser.type}" %>
	<%#= "the_browser.name: #{the_browser.name}" %>
	<%#= "the_browser.version: #{the_browser.version}" %>

<% end %>

<% if flash[:notice] %>
	<div class="alert-box">Notice...</div>
<% end %>


<% if flash[:success] %>
	<div class="alert-box success">Success...</div>
<% end %>


<% if flash[:warning] %>
	<div class="alert-box warning">Warning...</div>
<% end %>


<% if flash[:error] %>
	<div class="alert-box error">Error...</div>
<% end %>


<%# if flash[:success] or flash[:warning] or flash[:error] %>
	<!-- <div class="alert-box [success warning error]">Success..</div> -->
<%# end %>
