<% if current_user.id == 2001 %>
	<div class="alert-box"><%= @user_agent %></div>
<% end %>

<% if flash[:notice] %>
	<div class="alert-box">Notice...</div>
<% end %>


<% if flash[:success] %>
	<div class="alert-box success">Success...</div>
<% end %>


<% if flash[:warning] %>
	<div class="alert-box warning">Warning...</div>
<% end %>


<% if flash[:error] %>
	<div class="alert-box error">Error...</div>
<% end %>


<%# if flash[:success] or flash[:warning] or flash[:error] %>
	<!-- <div class="alert-box [success warning error]">Success..</div> -->
<%# end %>
