<div class="row">
	<div class="twelve columns">
		
		<%= will_paginate collection, {:previous_label => "&laquo; #{label_name(:previous)} ", :next_label => "#{label_name(:next)} &raquo;"} %>

	</div>	
</div>

<hr/>
<br/>