<%	
	display_previous_next ||= false
	
	if display_previous_next 
		
	the_action = get_the_action.gsub(" ", "_")
	the_next_link = ''
	the_previous_link = ''
	
	the_previous_label = the_previous.name
	the_next_label = the_next.name
	

	if is_controller("schedule")
		case the_action
		when"show"
			the_next_link = link_to(the_previous_label, schedule_path(the_previous)) 
			the_previous_link = link_to(the_next_label, schedule_path(the_next)) 

		when "team_roster" 
			the_next_link = link_to(the_previous_label, team_roster_path(:id => the_previous))
			the_previous_link = link_to(the_next_label, team_roster_path(:id => the_next))

		when "team_last_minute" 
			the_next_link = link_to(the_previous_label, team_last_minute_path(:id => the_previous))
			the_previous_link = link_to(the_next_label, team_last_minute_path(:id => the_next))

		when "team_no_show" 
			the_next_link = link_to(the_previous_label, team_no_show_path(:id => the_previous))
			the_previous_link = link_to(the_next_label, team_no_show_path(:id => the_next))

		when "team_unavailable" 
			the_next_link = link_to(the_previous_label, team_unavailable_path(:id => the_previous))
			the_previous_link = link_to(the_next_label, team_unavailable_path(:id => the_next))

		end

		the_next_link = '' if @schedule == the_previous
		the_previous_link = '' if @schedule == the_next

	end
%>

<hr/>

<div class="row">

	<div class="twelve columns"> 

		<div class="row">
			<div class="three columns">
				<%= the_next_link %>
			</div>
			<div class="three columns">
			</div>
			<div class="three columns">
			</div>
			<div class="three columns" align="right">
				<%= the_previous_link %>
			</div>
		</div>

	</div>

</div>

<% end %>