<% if use_solr? %>
<% search_by = control_label('search') %>

<div class="block">
	<h3><%= control_label('search') %></h3>
	<div class="content">
		<p>
			<% form_tag search_users_path, :method => 'get' do %>
			<div class="group">
				<%= text_field_tag :search, h(params[:search]) %>
				<%= submit_tag label_name(:search), :name => nil %>
			</div>
			<% end -%>
		</p>
	</div>
</div>
<% end %>