
<div class="row"> 

	<div class="twelve columns"> 

		<form method="get" action="#" name="search" class= "nice custom show-on-phones" accept-charset="utf-8"> 
		  <input autosave="vvwZo9uVHhUNj8eSU5fplo=" class="input-text placeholder" name="term" placeholder="Buscar..." results="5" style="display: inline; width: 100%;" type="search" id="search-mobile"> 
		</form> 
  
		<form method="get" action="#" name="search" class= "nice custom search-form hide-on-phones" accept-charset="utf-8"> 
		  <input autosave="vvwZo9uVHhUNj8eSUN5fplo=" class="input-text placeholder" name="term" placeholder="Buscar..." results="5" type="text" id="search"> 
		</form> 

	</div> 
</div>

<hr/>