<% search_by = control_label('search') %>

<% if development? %>
<div class="block">
	<h3><%= control_label('search') %></h3>
	<div class="content">
		<p>

			<% form_tag( { :action => 'search' }, { :method => 'get' } ) do %>

			<div class="group">
				<%= text_field :search, h(params[:search]), 
				:title => search_by, :class => 'text_field',
				:value => '', :onFocus => "this.select()" %>

				<%= submit_tag label_name(:search), :name => nil %>
			</div>



			<% end -%>

		</p>


	</div>
</div>
<% end %>
