<% search_by = control_label('search') %>

<!-- <div class="block"> -->

	<% form_tag search_path, :method => 'get' do %>

	<span class="SearchInput">
		<span>
			<div class="group">
				<%= text_field_tag :search, h(params[:search]), :class => 'textfield', :value => label_name(:searching) %>
				<button type="submit" title="<%= label_name(:search) %>"></button>
			</div>
		</span>
	</span>

	<% end -%>
	
<!-- </div> -->

<br/>

