<table>
	<tr>
		<%= content_tag :td, "", :class => "label" %>

		<td class="<%= get_the_action %>">
		<div id="side">
			<% collection.each do |recipient| %>
			<%= render :partial => '/shared/vcard', :locals => {:recipient => recipient} %>
			<% end %>
		</div>
		</td>
	</tr>
</table>