<%#= render 'shared/sidebar_edit_zurb', :item => @schedule %>

<% 
	the_label ||= label_name(:options)
	
	is_displayable = true
	
	case item.class.to_s
	when 'Type', 'Role', 'Announcement', 'Sport'
		is_displayable = the_maximo
	when 'User'
		is_displayable = (item == current_user)
	when 'Group', 'Cup', 'Challenge'
		is_displayable = current_user.is_manager_of?(item)
	when 'Schedule', 'Classified', 'Fee', 'Payment'
		is_displayable = current_user.is_manager_of?(item.group)
	end	
%>

<% if is_displayable %>

<%= set_title_class(the_label) %>

<hr/>
<div class="row">
	<div class="twelve columns">
		<%= set_form_edit_image_link(item) %>
	</div>
</div>
<hr/>
<% end %>