<%= javascript_include_tag "jquery.cook" %>

<script type="text/javascript"> 
 
function success(position) {
	var s = document.querySelector('#status');

	if (s.className == 'success') {
		return;
	}

	s.innerHTML = "<%= I18n.t(:your_location) %>";
	s.className = 'success';

	var mapcanvas = document.createElement('div');
	mapcanvas.id = 'mapcanvas';
	mapcanvas.style.height = '100%';
	mapcanvas.style.width = '100%';

	document.querySelector('#map').appendChild(mapcanvas);

	var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

	var myOptions = {
		zoom: 12,
		center: latlng,
		mapTypeControl: false,
		navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);

	var marker = new google.maps.Marker({
		position: latlng, 
		map: map, 
		title: "<%= I18n.t(:you_are_here) %>"
	});
	$.cookie("MyLat", position.coords.latitude);
	$.cookie("MyLon", position.coords.longitude);
}
 
function error(msg) {
	var s = document.querySelector('#status');
	s.innerHTML = typeof msg == 'string' ? msg : "failed";
	s.className = 'fail';

	// console.log(arguments);
}
 
if (navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(success, error);
} else {
	error('not supported');
}
 
$(document).ready(function()
{
	$("#check").click(function()
	{
		var lat  = $.cookie("MyLat");
		var lon = $.cookie("MyLon");
		alert('Latitued: '+lat);
		alert('Longitude: '+lon);
		var url="http://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lon+"&sensor=false";
		alert('Google Map API: '+url);

	});
});
</script> 
 
<div id="map"></div>