<%
installations = @venue.installations
if object_counter(installations) > 0
%>
<div class="block">

<h3><%= label_name(:reservations) %></h3>

<div class="content">
<% installations.each do |installation| 
	the_label = h(installation.name)
%>					
	<p>
	<%= option_image_link('installation') %>&nbsp;&nbsp;
	<%= link_to the_label, reservations_path(:id => installation) %>
	</p>		
<% end %>
</div>

</div>
<% end %>