<% if DISPLAY_QR_CODE %>

<div class="block">
	<%#= content_tag 'h3', "Escanea el Codigo con tu movil." %>
	<div class="sidebar-block">
		
		<p><% render 'shared/qr_code' %></p>
		
	</div>
</div>

<% end -%>