<% if DISPLAY_GMAP %>

<div class="block">

	<h3><div id="status"><%= label_name(:loading) %>.............</div></h3>

	<div class="content">
	<br/>

		<%#= render 'shared/sidebar_map' %>
		<%= render 'shared/sidebar_geo_map' %>
	
	</div>
	
</div>

<% end -%>