<div class="block"> 
  <div class="sidebar-block"> 
	<h4><%= label_name(:classifieds) %></h4> 
	
	<table class="table">		
	
	<%= render :partial => 'shared/classified', :collection => @upcoming_classifieds %>
	<%# @upcoming_classifieds.each do |classified| %>
	<%#= render :partial => 'shared/classified', :locals => {:activity => classified, :destroy => current_user == activity.user, :recent => true } %>
	<%# end -%>
	
	</table>
		
  </div> 
</div>
