<div class="block"> 
  <div class="sidebar-block"> 
	<h4><%= label_name(:classifieds) %></h4> 
	
	<table class="table">		
	
	<%= render :partial => 'shared/classified', :collection => @upcoming_classifieds %>
	
	</table>
		
  </div> 
</div>
