<div class="block"> 
	<%= content_tag 'h3', label_name(:classifieds) %>
  <div class="sidebar-block">
	
	<table class="table">		
	
	<%= render :partial => 'shared/classified', :collection => @upcoming_classifieds %>
	
	</table>
		
  </div> 
</div>
