<span class="vcard">
<% 
	case recipient.class.to_s  
	when 'User'
	  the_link =  user_link(recipient)
	  the_object_path = User.find(recipient.id)
	%>
	<%= link_to(image_tag(recipient.avatar, options={:style => "height: 24px; width: 24px;", :title => h(recipient.name), :class =>"photo fn"}), 
	the_object_path, :class => "url", :hreflang => "en", :rel => "contact") %>
	<%
	when 'Group'
	  the_link =   group_link(recipient)
	  the_object_path = Group.find(recipient.id)
	%>
	<%= link_to(image_tag(recipient.avatar, options={:style => "height: 24px; width: 24px;", :title => h(recipient.name), :class =>"photo fn"}), 
	the_object_path, :class => "url", :hreflang => "en", :rel => "contact") %>
	<%
	when 'Escuadra'
	  the_link =  escuadra_link(recipient)
	  the_object_path = Escuadra.find(recipient.id)
	%>
	<%= link_to(image_tag(recipient.avatar, options={:style => "height: 22px; width: 28px;", :title => h(recipient.name), :class =>"photo fn"}), 
	the_object_path, :class => "url", :hreflang => "en", :rel => "contact") %>
	<%
	else
	%>
	<%= link_to(image_tag(recipient.avatar, options={:style => "height: 24px; width: 24px;", :title => h(recipient.name), :class =>"photo fn"}), 
	the_object_path, :class => "url", :hreflang => "en", :rel => "contact") %>
	<%
	end
%>
</span>

