<div id="wrapper">	

	<%= render :partial => 'shared/flash', :locals => {:flash => flash } %>
	
  <div id="main">
  
	<%= yield %>	
	
	<%= render :partial => 'shared/footer' %>	
	
  </div>	  
  
	<%= render :partial => 'shared/sidebar' %>	
	
	<div class="clear"></div>    
  
</div>  