<% 	
	standings = false
	@standings.each {|card| standings = true }	
	the_label = @cup.name
	the_label = label_name(:standings)
	content_for(:title, the_label)
	
	the_challenges = ['standing_list', 'standing_show_list']	
	is_challenge_standing = the_challenges.include?("#{get_the_controller}_#{get_the_action}".gsub(' ', '_')) 
	all_results = is_action('show all')
	all_rank = 0
	
	final_played ||= false
	the_game = Game.final_game(@cup)
	final_played = the_game.played unless (the_game.nil? or the_game.blank?)
%>


<div class="row">

<%= is_challenge_standing ? item_name_link(@challenge)  : item_name_link(@cup) %>

<div class="twelve columns">


<% if @standings %> 



			<% if @cup.is_futbol? 
				group_stage = 'Z'
					@standings.each do |standing| 
				
					standing.ranking = (all_rank+=1) if all_results
								
					unless (group_stage == standing.group_stage_name)
						group_stage = standing.group_stage_name 
				-%>
				
					<%= render 'standings/standing_futbol_label_zurb', 
					:group_stage => group_stage, :is_escuadra => (standing.item_type == "Escuadra") %>
					
					<% end %>
					
					<%= render 'standings/standing_zurb', :standing => standing %>
					
				<% end %>
				
			<% end %>
			

	</div>
	
<% end %>

</div>
