<div id="home">
	<div class="features">
		<div class="left" >
			<%= RPXNow.embed_code(APP_CONFIG['rpx_api']['realm'],rpx_token_sessions_url, :language => I18n.locale)  if SHOW_RPX_NOW %>
		</div>
		<div class="right">	
			<div class="headline">
				<div class="words">
					<h1><%= label_name(:modo) %></h1>
				</div>
				<br/>
				<div class="tour">						
					<h3><%= "<strong>#{app_name}</strong> #{label_name(:what_is_haypista_details)}" %></h3>						
				</div>
			</div>
		</div>
	</div>
</div>
