<div id="home">
	<div class="features">
		<div class="left" >
			
			<%= render 'utilities/rpx_now' %>
			
		</div>
		<div class="right">	
			<div class="headline">
				<div class="words">
					<h1><%= label_name(:modo) %></h1>
				</div>
				<br/>
				<div class="tour">						
					<h3><%= "<strong>#{app_name}</strong> #{label_name(:what_is_haypista_details)}".html_safe %></h3>						
				</div>
			</div>
		</div>
	</div>
</div>
