<% 
	counter = 0 
	column = 0
	groups = Group.looking_for_user(current_user)
%>

<% unless groups.nil? or groups.blank? %>
<div class="block"> 
	<div class="sidebar-block"> 
		<h4><%= label_name(:looking_for_users) %></h4> 
		
		<table class="table">
		<tbody>
		<tr>
		<% 
			groups.each do |group|
				column += 1
				counter += 1

				if column > 6
					column = 1 
		%>
			</tr>
			<tr>
		<% 
			end 
		%>        
			<td>
			<%= group_image_link_small group %>
			</td>            
		<% 
			end 
		%>
			</tr>
		<tr>
		</tbody>
		</table>

	</div> 
</div>
<% end %>
