<div class="screens">
	<h2>Finally a code repository that works as well as you do.</h2>
	<ul class="site">
		<li class="screenshot">
			<a href="http://haypista.com/images/modules/home/medium_screens/dashboard.png" target="_top">
				<img alt="dashboard" src="dashboard.png">
			</a>
			<p><b>Project and Developer News Feeds</b></p>
		</li>

		<li class="screenshot">
			<a href="http://haypista.com/images/modules/home/medium_screens/tree.png" target="_top">
				<img alt="dashboard" src="tree.png">
			</a>
			<p><b>Source Code Browser</b></p>
		</li>

		<li class="screenshot">
			<a href="http://haypista.com/images/modules/home/medium_screens/user.png" target="_top">
				<img alt="user" src="user.png">
			</a>
			<p><b>Public Developer Profiles</b></p>
		</li>

		<li class="screenshot">
			<a href="http://haypista.com/images/modules/home/medium_screens/comments.png" target="_top">
				<img alt="comments" src="comments.png">
			</a>
			<p><b>Commit Comments</b></p>
		</li>

		<li class="screenshot">
			<a href="http://haypista.com/images/modules/home/medium_screens/edit.png" target="_top">
				<img alt="edit" src="edit.png">
			</a>
			<p><b>Inline Editing</b></p>
		</li>

		<li class="screenshot">
			<a href="http://haypista.com/images/modules/home/medium_screens/forkqueue.png" target="_top">
				<img alt="forkqueue" src="forkqueue.png">
			</a>
			<p><b>Apply Patches</b></p>
		</li>

		<li class="screenshot">
			<a href="http://haypista.com/images/modules/home/medium_screens/gist.png" target="_top">
				<img alt="gist" src="gist.png">
			</a>
			<p><b>Git-Powered Pastebin</b></p>
		</li>

		<li class="screenshot">
			<a href="http://haypista.com/images/modules/home/medium_screens/network.png" target="_top">
				<img alt="network" src="network.png">
			</a>
			<p><b>Network Graph</b></p>
		</li>

		<li class="screenshot">
			<a href="http://haypista.com/images/modules/home/medium_screens/private.png" target="_top">
				<img alt="private" src="private.png">
			</a>
			<p><b>Secure, Private Repositories</b></p>
		</li>
	</ul>
</div>