<%
	request_image = ""
	request_link = ""

	item_link = ""
	item_image = ""
	
	item_group_link = ""
	
	the_label = ""
	four_spaces = ".&nbsp;&nbsp;&nbsp;&nbsp;"
	
	first_icon = ""
	the_icon = ""

	case item.class.to_s
	when "Schedule"
		# the_manager = item.group.all_the_managers.first
		# request_image = item_image_link_small(the_manager)
		# request_link = item_name_link(the_manager)
		# 
		# item_link = item_name_link(item)
		# item_image = item_image_link_small(item.group)
		# 
		# item_group_link = item_name_link(item.group)
		# 
		# the_icon = schedule_image_link_small(item, "calendario.png")
		# 
		# is_member = is_current_member_of(item.group)
		# if item.played?
		# 	the_label = %(#{I18n.t(:has_updated_scorecard) } #{the_label} #{is_member ? item_link : sanitize(item.name)})
		# else
		# 	the_label = %(#{I18n.t(:created_a_schedule) } #{the_label} #{is_member ? item_link : sanitize(item.name)})
		# end

	when "Group"  #, "Cup", "Challenge"
		# the_manager = item.all_the_managers.first
		# request_image = item_image_link_small(the_manager)
		# request_link = item_name_link(the_manager)
		# 
		# item_link = item_name_link(item)
		# item_image = item_image_link_small(the_manager)
		# 
		# the_icon = group_avatar_image_link(item) if item.class.to_s == "Group"
		# the_icon = challenge_avatar_image_link(item) if item.class.to_s == "Challenge"
		# the_icon = cup_avatar_image_link(item) if item.class.to_s == "Cup"
		# 
		# the_label = label_name(:"updated_a_#{item.class.to_s.downcase}") + " <wbr/> #{item_link}" 

	when "Game"
		# the_manager = item.cup.all_the_managers.first
		# request_image = item_image_link_small(the_manager)
		# request_link = item_name_link(the_manager)
		# 
		# item_link = item_name_link(item.cup)
		# item_image = item_image_link_small(item.cup)
		# 
		# the_label = "#{label_name(:created_a_match)} <wbr/> #{item_link}"

	when "Classified"
			
		# case item.table_type
		# 	      	when "Group"
		# 	        	group = item.table
		# 	the_manager = group.all_the_managers.first
		# 	request_image = item_image_link_small(the_manager)
		# 	request_link = item_name_link(the_manager)
		# 
		# 	item_link = item_name_link(item)
		# 	item_image = item_image_link_small(group)
		# 
		# 	item_group_link = item_name_link(group)
		# 
		# 	the_icon = group_avatar_image_link(item) if item.class.to_s == "Group"
		# 	the_icon = classified_image_link_small(item, "icons/anuncio-deportivo.png")
		# end
		
	when "User"
		request_image = item_image_link_small(item)
		request_link = item_name_link(item)
		# 
		item_link = item_name_link(item)
		item_image = item_image_link_small(item)
		# 
		the_icon = user_avatar_image_link(item)
		# 
		# the_label = "#{label_name(:changed_description)}"
	
	when "Match"
		# request_image = item_image_link_small(item.user)
		# request_link = item_name_link(item.user)
		# 
		# first_icon = match_image_link(item)
		# the_icon = match_image_link(item, item.schedule.sport.icon)
		# 		
		# item_group_link = item_name_link(item.schedule.group)
		# 
		#         is_member = is_current_member_of(item.schedule.group)
		# the_label = %(#{I18n.t(:changes_in_roster_status) } #{I18n.t(:in)} 
		# 					#{is_member ? match_roster_link(item) : sanitize(item.schedule.name)})
	end
    
	# the_label = label_name(:"created_a_#{item.class.to_s.downcase}") + " <wbr/> #{item_link}" if the_label == ""
%>	
<tr>
	<td class="first_home">
		<%= request_image %>
		<%=item.class.to_s %>
	</td>
	<td>
		<%#= first_icon %> <%#= request_link %> <%#= "#{the_label.downcase}." %>
		<span class="date">
			<%#= the_icon %>&nbsp;&nbsp;<%#= ago(item.created_at) %>
			
			<%# unless item_group_link == "" %>
				&nbsp;&nbsp;<%#= "&nbsp;&nbsp;#{item_group_link}" %>
			<%# end -%>
				
		</span>
	</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>			  
	<td>&nbsp;</td>	

</tr>

