<tr>  
	<td>
	</td>

	<td class="name_and_date">
		<%= item_name_link(item) %>
	</td>

	<td class="name_and_date">
	</td>

	<td>
	</td>

	<td class="name_and_date">
	</td>

	<td class="name_and_date">
	</td>
</tr> 
