<div class="secondary-navigation">

<ul>
	<li class="<%= get_first_active %>"><%= link_to label_name(:what_is_haypista), root_url %></li>
	<!-- <li class="<%#= get_active %>"><%#= link_to label_name(:connect), root_url %></li> -->
	<!-- <li class="<%#= get_active %>"><%#= link_to label_name(:organize), root_url %></li> -->
	<!-- <li class="<%#= get_active('home_about_u') %>"><%#= link_to label_name(:about_us), about_us_url %></li> -->
	<!-- <li class="<%#= get_active('home_terms_of_use') %>"><%#= link_to label_name(:terms_of_use), terms_of_use_url %></li> -->
	<!-- <li class="<%#= get_active('home_privacy_policy') %>"><%#= link_to label_name(:privacy_policy), privacy_policy_url %></li> -->
	<!-- <li class="<%#= get_active('home_faq') %>"><%#= link_to label_name(:faq), faq_url %></li> -->
</ul>

<div class="clear"></div>

</div>