<div class="secondary-navigation">

<ul>
	
<% 
if current_user 
%>
	<li class="<%= get_action_first %>">  <%= link_to label_name(:upcoming_schedule) , schedules_url %></li>				
<% 
end 
%>
</ul>

<div class="clear"></div>

</div>
