<div class="secondary-navigation">

<ul>
	<%#= content_tag 'li', link_to(label_name(:home), '/'), :class => get_first_active  %>
<% 
if current_user 
	unread_count = current_user.unread_messages_count 
%>
	<%= content_tag 'li', link_to(label_name(:upcoming), upcoming_path), :class => get_active('home_upcoming') if DISPLAY_UPCOMING %>
	
	<%  if unread_count > 0 %>	
		<%= content_tag 'li', link_to(label_name(:messages_inbox), messages_path), :class => "message" %>	
		<%= content_tag 'li', content_tag('div', unread_count, :class => "comment-bubble"), :class => "message_count"%>
	<% end %>		
<% 
end 
%>
	<%= content_tag 'li', link_to(label_name(:search_result), '#'), :class => get_active('home_search') if @item_results %>
</ul>

<div class="clear"></div>

</div>
