
<div class="actions secondary_actions">
	<a href="" class="suggest_friends action actionspro_a" id="profile_action_suggest_friends" rel="async">Sugerir amigos a Kimberly</a>
	<a href="aj85136" class=" action actionspro_a" rel="dialog">Denunciar/bloquear a esta persona</a>
	<a href="removef402" class=" action actionspro_a" id="profile_action_remove_friend" rel="dialog-post">Eliminar de mi lista de amigos</a>
</div>
