<div class="block">
	<h3><%= control_label('option') %></h3>
	<div class="content">
		
		<% if current_user.has_pending_petition?(current_user) %>
		<p><%= link_to(label_name(:petitions), petition_path(current_user))  %></p>
		<% end %>
		
	</div>
<br />
	<div class="content">
		<p><%#= link_to(label_name('invitations_create') , new_invitation_url) %></p>
	</div>
</div>



<%= render :partial => '/shared/active_comment' if current_user and @has_activities %>