<div class="block">
	<div class="sidebar-block" class="extra">
		
	<h4><%= label_name(:tags) %></h4>
	
	<p id="tagcloud">
		
	<%= render :partial => '/home/tag_cloud', :locals => { :objects => @tags } %>
	<%#= render :partial => '/home/tag_cloud', :locals => { :objects => @rankings } %>
	
	</p>
  </div>
</div>

