<div class="row">
	<div class="twelve columns">


		<dl class="nice tabs mobile show-on-phones">

			<%= content_tag :dd, link_to(label_name(:home), '/', :class => get_active) %>
			
			<%= set_image_and_link(option_link('group'), 'group') %>
			<%= set_image_and_link(link_to(label_name(:create_join_group), list_groups_url), 'user_add') %>
			<%= set_image_and_link(option_link('invitation'), 'invitation') %>

		</dl>


	</div>
</div>

