[

<div class="hide">
	<div style="border-bottom: thin solid rgb(238, 238, 238); padding: 4px 8px; background: rgb(255, 255, 204) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-family: Arial,sans-serif;">
		<a href="/mail/?view=att&amp;th=11c656a5e5458a48&amp;attid=0.1&amp;disp=attd&amp;zw">
			Download the original attachment
		</a>
	</div>
</div>
<div style="margin: 1ex;">
	<div>
		<p>
			<font color="#c50076" face="Arial" size="3">
				<b>
					Condiciones de uso de haypista
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Preámbulo&nbsp;
				<br>
				(Condiciones de uso revisadas a fecha de: 05/03/2007) &nbsp;
			</font>
			&nbsp;
			<br>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Las presentes Condiciones de Uso son propiedad de HayPista. Por consiguiente, y sin limitación alguna, toda difusión, explotación, representación, reproducción o utilización, total o parcial, sobre cualquier soporte de las presente Condiciones de Uso, para cualquier finalidad distinta del uso personal, requerirá la autorización previa de HayPista. En ausencia de autorización, la parte infractora quedará expuesta a cuantas acciones civiles y penales estén previstas en la ley.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				HayPista®&nbsp;es un servicio de encuentros personales, disponible para los Usuarios de HayPista por Internet, por teléfono móvil (WAP o I-mode®) y teléfono fijo. Algunas funciones del Servicio HayPista son gratuitas y otras están disponibles para sus Usuarios mediante suscripción (Pases de 1 mes, 3 meses o 6 meses).
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Le invitamos a leer detenidamente las presentes Condiciones de Uso para participar, con HayPista y en calidad de Usuario de HayPista, en el desarrollo de un Internet responsable y de un Servicio de calidad. Al registrarse como Usuario de HayPista, se compromete a respetar las presentes Condiciones de Uso. Si no acepta estas Condiciones de Uso, no debe inscribirse en HayPista. La inscripción en uno o más Servicios, así como la utilización del presente sitio supone la aceptación plena de las presentes condiciones por parte del Usuario. Al marcar la casilla "Declaro ser mayor de edad y haber leído y aceptado las Condiciones de Uso del Servicio HayPista", situada al final de la página de inscripción para validarla, el Usuario reconoce estar plenamente informado y acepta las disposiciones de las presentes Condiciones de Uso.
			</font>
		</p>
		<p>
			<a href="http://www.haypista.es/misc/terms_v.php#mtcBody%23mtcBody" target="_blank">
				<font color="#c50076" face="Arial" size="1">
					<u>
						Al principio
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				&nbsp;
			</font>
			&nbsp;
			<br>
		</p>
		<p>
			<a name="0.1_definitions">
			</a>
			<font color="#c50076" face="Arial" size="3">
				<b>
					Artículo 1. Definiciones
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				En las presentes Condiciones de Uso, las palabras o expresiones que comiencen por mayúscula tendrán el siguiente significado:
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				"HayPista" significa el conjunto de los Servicios cuyo objetivo es facilitar los encuentros virtuales entre personas para fines personales, de ocio y no comerciales. HayPista está disponible mediante sistemas de multiacceso (Internet, SMS, MMS, WAP, etc.), de forma gratuita o mediante pago.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				"Pase" es la tarifa "todo incluido" que da acceso a los servicios de pago de haypista durante un tiempo limitado de 1, 3 ó 6 meses. El Pase se renueva de forma automática a su vencimiento cuando haya sido adquirido mediante tarjeta de crédito o cualquier otra forma de pago que admita domiciliación.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				"Servicio(s)" significa el conjunto de servicios, gratuitos o de pago, disponibles para los Usuarios de HayPista.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				"Servicio(s) de pago" significa el conjunto de servicios accesibles mediante el pago de unas tarifas expresadas y disponibles para aquellos Usuarios de HayPista que dispongan de un Pase válido.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				"Usuario(s)" es un usuario (o el conjunto de usuarios) debidamente inscrito(s) en el Servicio HayPista, haya o no pagado por la utilización de dicho Servicio.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				"Condiciones de Uso" significa el presente contrato.
			</font>
		</p>
		<p>
			<a href="http://www.haypista.es/misc/terms_v.php#mtcBody%23mtcBody" target="_blank">
				<font color="#c50076" face="Arial" size="1">
					<u>
						Al principio
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				&nbsp;
			</font>
			&nbsp;
			<br>
		</p>
		<p>
			<a name="0.1_acces">
			</a>
			<font color="#c50076" face="Arial" size="3">
				<b>
					Artículo 2. Acceso e inscripción a los servicios de HayPista
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					2.1 Condiciones de acceso e inscripción
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Los equipos (ordenador, software, medios de comunicación, etc.) necesarios para consultar los Servicios corren exclusivamente a cargo del Usuario, así como los costes de comunicación ocasionados por su uso.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Para ser Usuario de HayPista, deberá&nbsp;tener como mínimo 18 años de edad y rellenar todos los campos obligatorios que aparecen en los formularios de inscripción.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				El Usuario garantiza que los datos por él indicados son exactos y conformes a la realidad. Se compromete a informar inmediatamente a HayPista en caso de modificación de los datos indicados en el momento de la inscripción y, llegado el caso, a proceder él mismo a dichas modificaciones desde el espacio personal que tiene reservado en el sitio HayPista.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Una vez cumplimentadas las condiciones necesarias para la inscripción, cada Usuario dispone de uno o varios identificadores (apodo) y de una o varias contraseñas, en función de los diferentes Servicios a los que está inscrito (Internet, boletines, teléfono), que son estrictamente personales y confidenciales y que no deberán ser comunicados ni compartidos con terceros.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Si el Usuario utiliza o difunde estos elementos de manera contraria a su uso previsto, HayPista rescindirá la cuenta del Usuario.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				El Usuario será&nbsp;el único responsable del uso de estos elementos de identificación por parte de terceros y de las acciones o declaraciones realizadas a través de su cuenta de Usuario, sean fraudulentas o no. El Usuario exime a HayPista de toda responsabilidad por demandas a este respecto. Por otra parte, puesto que HayPista no tiene la obligación ni dispone de medios para garantizar la identidad de las personas que se inscriben en sus Servicios, HayPista no será responsable en caso de que cualquier tercero utilice la identidad de alguno de los Usuarios. Si el Usuario tiene razones para pensar que una persona está utilizando sus elementos de identificación o su cuenta, deberá informar inmediatamente a HayPista de ello.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Cuando un Usuario desea apadrinar a un amigo y proporciona los datos de este último a HayPista, dicho Usuario se compromete a obtener previamente el consentimiento de dicho amigo para que HayPista pueda utilizar sus datos únicamente para remitir, en nombre y por cuenta del Usuario que facilitó a HayPista los datos personales, un mensaje electrónico a dicho amigo informándole de HayPista y de los Servicios. En este caso, el Usuario suministra dicha información voluntaria y libremente y bajo su entera responsabilidad.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Por razones de seguridad y de calidad del Servicio, HayPista desactivará&nbsp;las cuentas de los Usuarios que no hayan utilizado HayPista durante un periodo superior o igual a 6 meses, y que no dispongan de suscripciones. El periodo de 6 meses al que se hace referencia anteriormente deberá calcularse desde la fecha de expiración de la suscripción.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					2.2 Derecho de desistimiento
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				De acuerdo con el Artículo L. 121-20 del Código de Consumo francés, el Usuario queda informado de que dispone de un plazo de siete días hábiles desde la fecha de suscripción de los Servicios para ejercitar su derecho de desistimiento, sin que medie penalidad o motivo alguno. Sin embargo, conforme a lo dispuesto en el Artículo 121-20-2, 1º del Código de Consumo francés, el derecho de desistimiento no podrá ejercitarse desde el momento en que el Usuario haya accedido al Servicio en cuestión.
			</font>
		</p>
		<p>
			<a href="http://www.haypista.es/misc/terms_v.php#mtcBody%23mtcBody" target="_blank">
				<font color="#c50076" face="Arial" size="1">
					<u>
						Al principio
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				&nbsp;
			</font>
			&nbsp;
			<br>
		</p>
		<p>
			<a name="0.1_utilisation">
			</a>
			<font color="#c50076" face="Arial" size="3">
				<b>
					Artículo 3. Uso de HayPista
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Una vez inscrito, siempre que disponga de un Pase, el Usuario podrá&nbsp;beneficiarse del acceso a los Servicios ofrecidos por HayPista. Se podrá&nbsp;acceder al precio y a las modalidades de pago de los diferentes Servicios detallados en el artículo 4 "Precio y Modalidades de Pago" de las presentes Condiciones de Uso, que estarán disponibles en todo momento desde el sitio HayPista partir de la presentación o uso del Servicio o Servicios a los que el Usuario desee suscribirse, así como de su(s) respectiva(s) tarifa(s).
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					3.1 Obligaciones de HayPista
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				HayPista proporcionará, por medios electrónicos y a distancia, un Servicio de encuentros via Internet. El objetivo de HayPista no consiste en aconsejar o intermediar tanto en casamiento o relaciones estables. La actividad de HayPista no incluye la organización de reuniones reales, proporcionar acceso a la red de Internet, o proporcionar servicios de comunicaciones electrónicas al público. Por consiguiente, HayPista no tiene ninguna obligación legal de identificar a sus Usuarios cuando se conectan al sitio HayPista de Internet o supervisar los contenidos publicados por los Usuarios. Como consecuencia de la incapacidad técnica de HayPista para proporcionar dichos servicios, HayPista no se compromete contractualmente a identificar a sus Usuarios o mediar respecto del contenido que dichos Usuarios publican bajo su entera responsabilidad.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				HayPista renuncia a cualquier responsabilidad por declaraciones falsas realizadas por un Usuario. Es importante tomar algunas precauciones a la hora de encontrarse con otro Usuario. HayPista renuncia a cualquier responsabilidad relacionada con los encuentros entre Usuarios de HayPista, en HayPista o entre Usuarios y/o no Usuarios, resultantes del uso de HayPista y de los Servicios. Por otro lado, cuando se trate de un primer encuentro, es recomendable avisar a un familiar o amigo y elegir un lugar público (cafetería, restaurante, etc.).
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				En este marco, HayPista recuerda a sus Usuarios que está&nbsp;prohibido divulgar informaciones que permitan su identificación, tales como apellidos, dirección postal o electrónica, teléfono, etc., a otros Usuarios a través del Servicio HayPista.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					3.2 Obligaciones del Usuario
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Las disposiciones de este Artículo deberán aplicarse sin perjuicio de lo dispuesto en el Artículo "Baja del Servicio".
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Al utilizar los Servicios, el Usuario se compromete, en particular, a respetar las disposiciones de la normativa en materia de contratos, los derechos de terceros y estas Condiciones de Uso.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					3.2.1. Obligaciones Generales:
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Los Usuarios tienen las siguientes Obligaciones Generales:
			</font>
		</p>
		<ul type="DISC">
			<li>
				<font color="#636262" face="Arial" size="1">
					Actuar de buena fe respecto de HayPista y otros Usuarios;
				</font>
			</li>
			<li>
				<font color="#636262" face="Arial" size="1">
					Respectar los derechos de propiedad intelectual sobre los contenidos publicados por HayPista y por otros Usuarios; y
				</font>
			</li>
			<li>
				<font color="#636262" face="Arial" size="1">
					Asumir que sólo el Usuario define las fronteras de su privacidad y que es el único responsable de comunicar a HayPista y a los demás Usuarios aquella información personal cuya distribución no considere perjudicial.
				</font>
			</li>
		</ul>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					3.2.2. Obligaciones esenciales:
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				El Usuario tiene las siguientes Obligaciones Esenciales:
			</font>
		</p>
		<ul type="DISC">
			<li>
				<font color="#636262" face="Arial" size="1">
					No utilizar HayPista con fines profesionales o comerciales (prospección, acoso o prostitución) o sin finalidad privada;
				</font>
			</li>
			<li>
				<font color="#636262" face="Arial" size="1">
					No publicar ni difundir información o contenidos, independientemente de su forma, que no se ajusten a la realidad;
				</font>
			</li>
			<li>
				<font color="#636262" face="Arial" size="1">
					No proferir declaraciones ni difundir, bajo cualquier forma, contenidos que sean contrarios a los derechos ajenos o de carácter difamatorio, agresivo, obsceno, ofensivo, violento o con incitación a la violencia, político, racista o xenófobo y, de manera general, cualquier contenido contrario a los fines de HayPista, a las leyes y reglamentos vigentes o a las buenas costumbres. En particular, las fotografías, vídeos y todo tipo de información, datos o archivos que un Usuario envíe a HayPista deberán tener un contenido decente y referirse exclusivamente a él o, en caso de referirse a un tercero, deberán contar con autorización expresa, bajo la responsabilidad exclusiva del Usuario implicado;
				</font>
			</li>
			<li>
				<font color="#636262" face="Arial" size="1">
					No mencionar en el sitio ninguna información personal proporcionada por un Usuario a HayPista (dirección electrónica, dirección postal, teléfono, etc.) que pueda permitir a otro Usuario contactar con él sin utilizar los servicios de HayPista;
				</font>
			</li>
			<li>
				<font color="#636262" face="Arial" size="1">
					No enviar ni difundir de ninguna manera informaciones o contenidos que tengan por objeto reducir, desorganizar o impedir el uso normal de los Servicios, interrumpir y/o ralentizar la circulación normal de las comunicaciones entre los Usuarios a través de los Servicios, tales como aplicaciones, virus, bombas lógicas, envíos masivos de mensajes, etc. HayPista se reserva el derecho de eliminar mensajes enviados de forma masiva por un Usuario, con el fin de mantener una calidad de uso normal del servicio para los demás Usuarios;
				</font>
			</li>
			<li>
				<font color="#636262" face="Arial" size="1">
					No enviar ni difundir de ninguna manera informaciones o contenidos con vínculos a otros sitios de carácter ilegal, contrarios a las buenas costumbres y/o al objeto de HayPista;
				</font>
			</li>
			<li>
				<font color="#636262" face="Arial" size="1">
					Utilizar su contraseña y/o su apodo únicamente con el fin de identificarse para utilizar los Servicios. En este sentido, el Usuario no debe, sin limitación alguna, comunicar, difundir, compartir o hacer públicos, por cualquier medio, su contraseña y/o su apodo a terceras personas;
				</font>
			</li>
			<li>
				<font color="#636262" face="Arial" size="1">
					Asegurarse de que los datos personales de las personas de su entorno se comunican legalmente y sin que pueda causarse ningún perjuicio. Además, el Usuario deberá obtener el consentimiento previo de las personas de su entorno para recibir, por cuenta de dicho Usuario, un correo electrónico de HayPista; y
				</font>
			</li>
			<li>
				<font color="#636262" face="Arial" size="1">
					Utilizar los Servicios de acuerdo con la finalidad establecida en estas Condiciones de Uso.
				</font>
			</li>
		</ul>
		<p>
			<font color="#636262" face="Arial" size="1">
				El incumplimiento de las Obligaciones Esenciales descritas anteriormente constituirá una infracción grave por parte del Usuario de su obligaciones. Sin perjuicio de lo dispuesto en el Artículo "Baja del Servicio", HayPista tendrá derecho, cuando el Usuario incumpla una o más de sus Obligaciones Esenciales, a terminar el contrato y cancelará definitivamente la cuenta del Usuario en cuestión.
			</font>
		</p>
		<p>
			<a href="http://www.haypista.es/misc/terms_v.php#mtcBody%23mtcBody" target="_blank">
				<font color="#c50076" face="Arial" size="1">
					<u>
						Al principio
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				&nbsp;
			</font>
			&nbsp;
			<br>
		</p>
		<p>
			<a name="0.1_prix">
			</a>
			<font color="#c50076" face="Arial" size="3">
				<b>
					Artículo 4. Precio y modalidades de pago
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				El uso de los Servicios de pago por el Usuario requiere la posesión de un Pase. Los Usuarios pueden adquirir Pases con su tarjeta bancaria (por Internet o teléfono) o participando en juegos o Servicios ofertados por HayPista en los servicios Audiotel.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				El precio y las modalidades de pago de los diferentes Servicios HayPista son presentados aquí abajo y están contínuamente presentes en el sitio HayPista y más adelante en la presentación o utilización de los respectivos Servicios de Pago a los que el Usuario desea suscribirse, así como a sus respectivas tarifas.
			</font>
		</p>
		<a name="0.1_table01">
		</a>
		<div align="left">
			<table border="2" cellspacing="0" width="410">
				<tbody>
					<tr valign="top">
						<td rowspan="2">
							<font face="Times New Roman" size="3">
								<b>
									Pase HayPista
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Pase 1 mes
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Pase 3 meses
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Pase 6 meses
								</b>
							</font>
						</td>
					</tr>
					<tr valign="top">
						<td>
							<font face="Times New Roman" size="3">
								<b>
									29,99 €&nbsp;/ mes
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									19,95 €&nbsp;/ mes&nbsp;
									<br>
									<i>
										facturados en un solo pago de&nbsp;
										<br>
										59,85 €
									</i>
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									14,95 €&nbsp;/ mes&nbsp;
									<br>
									<i>
										facturados en un solo pago de&nbsp;
										<br>
										89,70 €
									</i>
								</b>
							</font>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		&nbsp;
		<br>
		<a name="0.1_table02">
		</a>
		<div align="left">
			<table border="2" cellspacing="0" width="410">
				<tbody>
					<tr valign="top">
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Upgrade *&nbsp;
									<br>
									¡Transforme su pase HayPista en un Pase Premium o en un Pase Select!
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Premium (por mes)&nbsp;
									<br>
									14,90 €
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Select (por mes)&nbsp;
									<br>
									9,90 € / mes
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Select y Premium (por mes)&nbsp;
									<br>
									24,80 € / mes
								</b>
							</font>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<font color="#636262" face="Arial" size="1">
				* facturado además del precio del pase inicial
			</font>
			&nbsp;
			<br>
		</p>
		<a name="0.1_table03">
		</a>
		<div align="left">
			<table border="2" cellspacing="0" width="410">
				<tbody>
					<tr valign="top">
						<td rowspan="2">
							<font face="Times New Roman" size="3">
								<b>
									Pase Premium
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Pase 1 mes
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Pase 3 meses
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Pase 6 meses
								</b>
							</font>
						</td>
					</tr>
					<tr valign="top">
						<td>
							<font face="Times New Roman" size="3">
								<b>
									44,89 €&nbsp;/ mes
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									34,85 €&nbsp;/ mes&nbsp;
									<br>
									<i>
										facturados en un solo pago de&nbsp;
										<br>
										104,55 €
									</i>
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									29,85 €&nbsp;/ mes&nbsp;
									<br>
									<i>
										facturados en un solo pago de&nbsp;
										<br>
										179,10 €
									</i>
								</b>
							</font>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		&nbsp;
		<br>
		<a name="0.1_table04">
		</a>
		<div align="left">
			<table border="2" cellspacing="0" width="410">
				<tbody>
					<tr valign="top">
						<td rowspan="2">
							<font face="Times New Roman" size="3">
								<b>
									Pase Select
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Pase 1 mes
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Pase 3 meses
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Pase 6 meses
								</b>
							</font>
						</td>
					</tr>
					<tr valign="top">
						<td>
							<font face="Times New Roman" size="3">
								<b>
									39,89 €&nbsp;/ mes
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									29,85 €&nbsp;/ mes&nbsp;
									<br>
									<i>
										facturados en un solo pago de&nbsp;
										<br>
										89,55 €
									</i>
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									24,85 €&nbsp;/ mes&nbsp;
									<br>
									<i>
										facturados en un solo pago de&nbsp;
										<br>
										149,10 €
									</i>
								</b>
							</font>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		&nbsp;
		<br>
		<a name="0.1_table05">
		</a>
		<div align="left">
			<table border="2" cellspacing="0" width="410">
				<tbody>
					<tr valign="top">
						<td rowspan="2">
							<font face="Times New Roman" size="3">
								<b>
									Pase Premium + Select
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Pase 1 mes
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Pase 3 meses
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									Pase 6 meses
								</b>
							</font>
						</td>
					</tr>
					<tr valign="top">
						<td>
							<font face="Times New Roman" size="3">
								<b>
									54,79 €&nbsp;/ mes
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									44,75 €&nbsp;/ mes&nbsp;
									<br>
									<i>
										facturados en un solo pago de&nbsp;
										<br>
										134,25 €
									</i>
								</b>
							</font>
						</td>
						<td>
							<font face="Times New Roman" size="3">
								<b>
									39,75 €&nbsp;/ mes&nbsp;
									<br>
									<i>
										facturados en un solo pago de&nbsp;
										<br>
										238,50 €
									</i>
								</b>
							</font>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		&nbsp;
		<br>
		<p>
			<font color="#636262" face="Arial" size="1">
				Los precios son indicados en euros IVA incluído.&nbsp;
				<br>
				&nbsp;
				<br>
				Para conocer el detalle de todas las ofertas haypista,
			</font>
			<a href="http://www.haypista.es/offers/all_offers_v.php" target="_blank">
				<font color="#636262" face="Arial" size="1">
					<u>
						haga clic aquí
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				.
			</font>
		</p>
		<p>
			<a name="0.1_all_offers">
			</a>
			<font color="#636262" face="Arial" size="1">
				La adquisición de un Pase desde la cuenta de un Usuario es casi simultánea a partir de la validación de la transacción por Tarjeta de Crédito.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				El Usuario puede, en todo momento, notificar a HayPista su deseo de rescindir su Pase. La rescisión será&nbsp;efectiva a partir de la fecha de caducidad del Pase en curso, conforme a lo indicado en el ARTICULO 8 " Rescisión ".
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				El Pase se renovará&nbsp;de forma automática por periodos de 1 (un) mes al concluir el periodo inicial de suscripción, salvo que el usuario indique expresamente lo contrario.&nbsp;
				<br>
				En cualquier caso, la renovación mensual se hará a través del mismo medio de pago elegido por el usuario para la suscripción inicial, al precio de la tarifa mensual original.&nbsp;
				<br>
				El usuario puede, en todo momento, cancelar su renovación automática, finalizando ésta al concluir el mes correspondiente a la facturación mensual.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				En el caso en que el Usuario suscrito a un Pase HayPista, desee durante el período de abono inicial suscribir un upgrade a un Pase Premium y/o Select:
			</font>
		</p>
		<ul type="DISC">
			<li>
				<font color="#636262" face="Arial" size="1">
					entre el 1
					<sup>
						ro
					</sup>
					y el 10
					<sup>
						mo
					</sup>
					día del mes del pase inicialmente suscrito: el Usuario será facturado inmediatamente al precio de upgrade al cual se ha suscrito y por el mes o los meses que restan a contar de su abono inicial.
				</font>
			</li>
			<li>
				<font color="#636262" face="Arial" size="1">
					entre el 11
					<sup>
						avo
					</sup>
					y el último día del mes del pase inicialmente suscrito : el Usuario será facturado inmediatamente al precio del upgrade al cual se ha suscrito por el mes o los meses que restan a contar de su abono inicial, los 20 (veinte) días máximos del mes en curso le son dados gratuitamente.
				</font>
			</li>
		</ul>
		<p>
			<font color="#636262" face="Arial" size="1">
				&nbsp;
				<br>
				&nbsp;
				<br>
				El Upgrade Premium y/o Select es suscrito en curso de la ejecución de un pase HayPista y consiste a suscribir un nuevo Pase, Premim o Select y, por consecuencia, a rescindir el pase HayPista que se encontraba en curso: el nuevo Pase Premium o Select succede o sustituye el Pase en curso en las condiciones siguientes.&nbsp;
				<br>
				&nbsp;
				<br>
				Cuando el upgrade es suscrito en los 20 (veinte) últimos días del mes del Pase inicial otro que el último mes, o en el caso de un Pase inicial de 1 (un) mes, el nuevo Pase suscrito será renovado por períodos de un mes a partir de la fecha de caducidad del Pase HayPista inicial, y al precio del Pase Premim o Select suscrito.&nbsp;
				<br>
				&nbsp;
				<br>
				Cuando el upgrade es suscrito en los 10 (diez) primeros días del mes de un Pase inicial, el nuevo pase suscrito será renovado por períodos de un mes cuando el upgrade suscrito llegue a caducidad, y no a la fecha de la suscripción de un Pase Inicial, al precio del Pase Premium y/o Select suscrito.
			</font>
		</p>
		<p>
			<a href="http://www.haypista.es/misc/terms_v.php#mtcBody%23mtcBody" target="_blank">
				<font color="#c50076" face="Arial" size="1">
					<u>
						Al principio
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				&nbsp;
			</font>
			&nbsp;
			<br>
		</p>
		<p>
			<a name="0.1_vie_privee">
			</a>
			<font color="#c50076" face="Arial" size="3">
				<b>
					Artículo 5. Política de privacidad y protección de datos del Usuario
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				HayPista respeta las normas europeas y francesas más rigurosas de protección de la vida privada y de datos personales y, a este respecto, ha registrado ante la Agencia de Protección de Datos francesa (Commission Nationale de l'Informatique et des Libertés- CNIL), las declaraciones número 796865 y 802516.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Algunas informaciones o contenidos (fotografías o vídeos) que los Usuarios suministran a título voluntario y bajo su propia responsabilidad, son susceptibles de revelar su origen étnico, nacionalidad, religión u orientaciones sexuales. Al suministrar tales informaciones, el Usuario en cuestión manifiesta su voluntad, y por consiguiente, consiente expresamente, asumiendo toda la responsabilidad que ello se derive, al tratamiento por parte de HayPista estos datos identificados como "sensibles".
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Todo Usuario tiene derecho a acceder o solicitar el acceso a sus datos personales con el objetivo de modificarlos, cancelarlos o impedir cualquier uso por HayPista de los mismos. Dicha solicitud puede realizarse mediante correo ordinario a la dirección siguiente: HayPista BP 109, 92 106 Boulogne Cedex; o completando el formulario de contacto, especificando su identificación personal.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Todo Usuario puede, en el momento de realizar su inscripción o en cualquier otro momento posterior, solicitar la recepción gratuita, por mail, del boletín de HayPista y/o las ofertas promocionales que HayPista envía en nombre de sus socios, y posteriormente anular su suscripción. Los derechos y garantías de los Usuarios de HayPista se ajustan en particular a la Ley francesa sobre "tecnologías de la información y libertades públicas", n° 78-17 del 6 de Enero 1978, tal y como fue modificada por la Ley nº 2004-801, de 6 de agosto de 2004, que incorpora al derecho francés la Directiva 95/46/CE, de 24 de octubre de 1995, relativa a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos.; y a la Ley sobre "Confianza en la economía digital", n° 2004-575 de 21 de junio de 2004 (art. L. 33-4-1 modificado del código de las comunicaciones postales y electrónicas, y art. L. 121-20-5 de la nueva ley de consumo, en Francia), por la que se incorporan a Derecho francés la Directiva 2000/31/EC, de 8 de junio de 2000, sobre comercio electrónico, y la Directiva 2002/58/CE, de 12 de junio de 2002, relativa al tratamiento de los datos personales y a la protección de la intimidad en el sector de las comunicaciones electrónicas.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					5.1 ¿Cuándo y por qué&nbsp;recabamos información sobre usted?
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Un Usuario facilita datos personales cuando se inscribe en el Servicio, participa en un concurso, responde a una encuesta, participa en los chats o adquiere Pases. En ciertos casos, estos datos son indispensables para poder participar en el Servicio.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					5.2 ¿Qué&nbsp;tipo de información recabamos?
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Los datos personales que HayPista solicita pueden incluir el nombre, dirección postal y/o electrónica, número de teléfono fijo y/o móvil, datos bancarios, detalles sobre su aspecto físico, fotografías, anuncios de voz, vídeos, valores personales, religión, aficiones y uso del Servicio.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Además, puede solicitar otros datos no personales como la versión del navegador que utiliza el Usuario o usuario (Netscape, Internet Explorer, etc.), el tipo de sistema operativo (Windows 98, Mac Os, etc.), la dirección IP del ordenador.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				HayPista utiliza cookies para almacenar información que identifique al Usuario durante sus consultas en el sitio HayPista de Internet con el fin de evitar que tenga que identificarse manualmente antes de consultar cualquier página. El Usuario puede, no obstante, impedir la utilización de estos cookies a través del menú opciones de su programa de navegación por Internet. A este respecto, le recomendamos que consulte los consejos para la modificación de estas opciones según el navegador que utilice, disponibles en el apartado "vos traces" del sitio de la de la Agencia de protección de datos francesa (CNIL):
			</font>
			<a href="http://www.cnil.fr" target="_blank">
				<font color="#636262" face="Arial" size="1">
					<u>
						www.cnil.fr
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					5.3 ¿Quién tiene acceso a esta información?
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				1. Los datos recabados sobre usted durante su inscripción en HayPista y sus suscripciones a nuestros Servicios se utilizan para ofrecerle nuestros diferentes Servicios. Hemos tomado todas las precauciones posibles para que sus datos se archiven en un entorno seguro. Únicamente algunos de nuestros empleados tienen acceso a estos datos, y solamente en caso de necesidad. Los datos personales facilitados por un Usuario al inscribirse, excluyendo sus anuncios y presentación, no podrán ser accesibles por terceros, transmitidos, vendidos ni intercambiados, salvo en los supuestos casos mencionados a continuación, tras haber sido previamente informado, contando con su consentimiento o en ausencia de oposición por su parte.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				2. Podrá&nbsp;recibir ofertas promocionales de socios nuestros, mediando su previo acuerdo y notificación durante la inscripción, y salvo oposición por su parte al inscribirse o en cualquier momento posterior. Si prefiere no recibir las ofertas que seleccionamos para usted, o que nuestros socios pueden enviarle, puede indicarlo al inscribirse o, más tarde en todo momento, a través del área "Mi cuenta" del sitio HayPista, o puede informar a HayPista por correo postal.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				3. HayPista puede compartir datos socio-demográficos generales y no nominativos con socios seleccionados con el fin de dirigir anuncios selectivos (por categorías de edad, de sexo, etc.). En este caso, no les transmitiremos datos que permitan su identificación.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				4. Los datos que componen sus anuncios, criterios de búsqueda y presentación están disponibles en HayPista, en la Web, por correo electrónico (boletines), por teléfono móvil o en el servicio Audiotel de HayPista (servicio telefónico de tarificación adicional). Además, estos datos podrán ser difundidos por nosotros o por nuestros socios a personas interesadas por HayPista, a través de boletines, otros sitios Web o cualquier vía de comunicación digital (correo electrónico, SMS, etc.), audiovisual (radio, televisión, etc.) o escrita (prensa, revistas, etc.), con el fin de aumentar sus posibilidades de encuentro, gracias a la promoción de sus anuncios, criterios de búsqueda y presentación.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Por consiguiente, el Usuario autoriza expresamente a HayPista a reproducir y difundir las informaciones presentes en su anuncio, búsqueda y presentación (informaciones, descripción, imágenes, vídeos, etc.) en todos parte del Servicio HayPista (sitio Web, correo electrónico, Audiotel) así como por cualquier medio o canal de difusión, en particular audiovisual (prensa, radio, televisión analógica o digital, por cable o satélite) o electrónico (correo electrónico, Internet), en todo el mundo y durante toda la vigencia de las presentes Condiciones generales de uso entre el Usuario y HayPista. Además, el Usuario autoriza expresamente a HayPista a transmitir los beneficios de los derechos anteriores a los socios y sucesores potenciales de HayPista.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Si no desea que HayPista o sus socios reproduzcan o difundan los datos de su anuncio, criterios de búsqueda o presentación, puede cancelar su cuenta HayPista en las condiciones previstas por el Artículo "Baja del servicio". Al tratarse de información presente en su anuncio, criterios de búsqueda y presentación, la baja del servicio sólo tendrá efecto a contar de la siguiente actualización o edición de los soportes de comunicación (impresos, por vía de prensa, audiovisuales o electrónicas) que contengan datos de su anuncio o presentación, sus criterios de búsqueda y su perfil de usuario.
			</font>
		</p>
		<p>
			<a href="http://www.haypista.es/misc/terms_v.php#mtcBody%23mtcBody" target="_blank">
				<font color="#c50076" face="Arial" size="1">
					<u>
						Al principio
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				&nbsp;
			</font>
			&nbsp;
			<br>
		</p>
		<p>
			<a name="0.1_propriete_intellectuelle">
			</a>
			<font color="#c50076" face="Arial" size="3">
				<b>
					Artículo 6. Propiedad intelectual
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					6.1 Contenidos difundidos por HayPista
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Las marcas (incluidas HayPista®, haypistaVisio, haypistaTest y haypistaMessenger, sin que esta lista sea limitada), logotipos, grafismos, fotografías, animaciones, vídeos y textos que figuran en el sitio HayPista y en los Servicios HayPista son propiedad intelectual de HayPista y/o de sus empresas asociadas y no pueden ser reproducidos, utilizados o representados sin la autorización expresa de HayPista y/o de sus empresas asociadas, bajo amenaza de acciones legales.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Los derechos de utilización concedidos por HayPista al Usuario están estrictamente limitados al acceso, descarga, impresión, reproducción en cualquier soporte (disco duro, disquete, CD-ROM, etc.) y utilización de los documentos con un fin privado y personal en el marco y durante toda la duración del convenio de adhesión a HayPista. Cualquier otro uso por parte del Usuario está prohibido sin la autorización de HayPista.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				El Usuario tiene prohibido expresamente modificar, copiar, reproducir, descargar, difundir, transmitir, explotar comercialmente y/o distribuir de cualquier manera los servicios, las páginas del sitio o los códigos informáticos de los elementos que componen los Servicios y el sitio HayPista.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					6.2 Contenidos difundidos por los Usuarios
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				El Usuario concede a HayPista una licencia de utilización de los derechos de propiedad intelectual sobre los contenidos suministrados por el Usuario con el fin de que sean difundidos en el sitio HayPista.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Esta licencia comprende el derecho de reproducir, representar, adaptar, traducir, digitalizar, utilizar con fines publicitarios, comerciales o no comerciales, de ceder los contenidos concerniente el Usuario (informaciones, imágenes, videos, descripción, criterios de búsqueda, etc.) sobre una parte o todo el Servicio HayPista (en el sitio haypista, por mail, por Audiotel) y/o en los mailings de haypista y de manera generale en todos los soportes de comunicación electrónica (e-mail, SMS, MMS, WAP, Internet, CD-Rom ou DVD-Rom).
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				El Usuario autoriza claramente HayPista a modificar estos contenidos con el fin de respectar la carta gráfica de los Servicios HayPista y de los otros soportes de comunicación indicados más arriba y/o de hacerlos compatibles con sus requerimientos técnicos o de los formatos de soportes concernientes. Estos derechos son concedidos en el mundo entero y por toda la duración de la ejecución de las presentes Condiciones Generales de Utilización entre el Usuario y haypista. El Usuario está prohibido de copiar, reproducir o utilizar los contenidos relacionados con los Usuarios por otros fines que no sean estrictamente personales y privados.
			</font>
		</p>
		<p>
			<a href="http://www.haypista.es/misc/terms_v.php#mtcBody%23mtcBody" target="_blank">
				<font color="#c50076" face="Arial" size="1">
					<u>
						Al principio
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				&nbsp;
			</font>
			&nbsp;
			<br>
		</p>
		<p>
			<a name="0.1_responsabilite">
			</a>
			<font color="#c50076" face="Arial" size="3">
				<b>
					Artículo 7. Responsabilidad y garantía
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					7.1 Funcionamiento del sitio HayPista y de los Servicios
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Para poder utilizar los Servicios, el Usuario debe poseer un equipo con el software y con la configuración necesarios para el buen funcionamiento de HayPista: Navegador Internet Explorer 6 o similar, Javascript habilitado, recepción de cookies de sesión y autorización de ventanas emergentes.&nbsp;
				<br>
				La utilización de haypista en un ordenador MAC necesita la utilización exclusiva del explorador Mozilla Firefox - meeetic no garantiza un funcionamiento óptimo con los exploradores SAFARI u OPERA.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Atención, para poder utilizar óptimamente HayPista, debes tener los programas Adobe actualizados(descarga en
			</font>
			<a href="http://www.adobe.com" target="_blank">
				<font color="#636262" face="Arial" size="1">
					<u>
						www.adobe.com
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				). Según la configuración de tu conexión (tras un cortafuegos o un proxy) la conexión a haypistaMessenger puede no funcionar.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				El Usuario debe disponer de las competencias, materiales y programas necesarios para la utilización de Internet, o en caso contrario, de los servicios Internet telefónicos y por Audiotel y reconoce que las características y los inconvenientes de Internet no podrán asegurar la seguridad, diponibilidad e integridad de las transmisiones de datos por Internet.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				HayPista no garantiza que los Servicios puedan utilizarse si un Usuario emplea un bloqueador de ventanas emergentes, en cuyo caso será necesario desactivar esta función antes de utilizar los Servicios HayPista.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				HayPista no garantiza que los Servicios puedan utilizarse si el proveedor de servicios del Usuario es incapaz de proporcionar sus servicios adecuadamente. En este contexto, HayPista no podrá ser responsable por la falta de funcionamiento, disponibilidad o por las deficiencias de utilización del sitio HayPista derivadas de un equipamiento informático no adaptado, problemas experimentados por el proveedor de servicios de Internet del Usuario o por las interrupciones de la red de Internet o por cualquier otra razón ajena al control de HayPista. Además, aquellos Usuarios que sea usuarios de AOL, debido al carácter específico, entre otros, de su navegador de Internet, pueden encontrarse con problemas de funcionamiento de HayPista.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				En estas condiciones, HayPista no garantiza que los servicios funcionen sin interrupciones ni errores de funcionamiento. En particular, su uso podrá ser momentáneamente interrumpido por causas de mantenimiento, actualizaciones o mejoras técnicas, o para desarrollar el contenido y/o su presentación. En la medida de sus posibilidades, HayPista informará a los Usuarios antes de una operación de mantenimiento o actualización.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					7.2 Información y contenido suministrados por los Usuarios
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				1. Las informaciones suministradas por un Usuario a HayPista deben ser exactas y conformes a la realidad. Las consecuencias de la divulgación de sus datos personales y/o de los de otros Usuarios son responsabilidad exclusiva del Usuario en cuestión. Será el Usuario quién tome la iniciativa y decisión de divulgar y difundir por medio de HayPista sus datos personales, información, texto, contenido o imágenes. En consecuencia, el Usuario renuncia a cualquier acción contra HayPista, especialmente en lo relativo a la posible violación de su derecho a la imagen, honor, reputación, intimidad de su vida privada, que sea resultado de la difusión o divulgación de información relacionada con él, en las condiciones previstas por las presentes, en particular el Artículo 5 "Política de privacidad y protección de datos del Usuario", por cuanto el Usuario ha otorgado su previo, libre y expreso consentimiento a dicha revelación al suscribirse al Servicio y al aceptar estas Condiciones de Uso.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				2. HayPista no se hace responsable de (y de las consecuencias de) la exactitud o inexactitud de la información y contenido suministrado por los demás Usuarios, visitantes del sitio o el propio Usuario. Asimismo, HayPista no se hace responsable de los contenidos difundidos por un Usuario que puedan contravenir los derechos de uno o más Usuarios o de terceras personas.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				3. La calidad de los Servicios de encuentros HayPista exigida tanto por HayPista como por sus Usuarios requiere el cumplimiento de ciertas normas éticas respecto de las expresiones y comportamientos de los Usuarios, el respeto de los derechos de terceros, así como el cumplimiento de las leyes y normas aplicables. En el marco de estas exigencias de calidad, responsabilidad y ética, HayPista permite a los Usuarios poner en conocimiento de HayPista, mediante su sitio de Internet, cualquier dato (fotografía, texto, video), comportamiento o expresiones de algún Usuario que en su opinión puedan infringir las leyes y reglamentos aplicables, la imagen o el objetivo del servicio HayPista, los derechos de terceras personas o cualquier estándar general. En consecuencia, los Usuarios reconocen y aceptan que la información que proporcionan, así como su comportamiento y expresiones en el marco del Servicio, pueden ser notificados por otros Usuarios, controlados o moderados por HayPista, sobre la base de criterios objetivos. Cuando dicha notificación o control ponga de manifiesto la infracción por algún Usuario de las leyes y reglamentos aplicables, de los otras obligaciones contractuales, los términos de estas Condiciones de Uso, y en particular del Artículo "Baja del Servicio", serán de aplicación.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				4. En el caso que la responsabilidad de HayPista se vea intervenida a causa de una falta de un Usuario a las obligaciones adquiridas conforme a la ley o de las Condiciones de Utilización, este último se compromete a no responsabilizar HayPista en el caso que haya alguna condenación legal.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					7.3 Vínculos
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				HayPista puede proporcionar, o terceros pueden incluir, vínculos de hipertexto hacia otros sitios Web u otras direcciones de Internet. Dado que HayPista no puede controlar estos sitios y estas fuentes externas, no puede asumir ninguna responsabilidad con respecto a su disponibilidad, contenido, publicidad, productos, servicios o cualquier otro elemento disponible en estos sitios o fuentes externas o accesibles a partir de ellos. Cualquier dificultad relacionada con un enlace debe ser reclamada al administrador o webmaster del sitio en cuestión. Recordamos asimismo que la consulta y/o utilización de estos sitios y fuentes externas se rige por sus propias condiciones de uso.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Finalmente, si al realizar una búsqueda en el sitio HayPista, los resultados de la misma llevan al Usuario a sitios, páginas o foros cuyo título o contenido constituyen una violación de las leyes de su país, recomendamos al Usuario que no consulte dicho sitio, para no comprometer su responsabilidad, quedando excluida la de HayPista.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					7.4 Limitación de responsabilidades
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				HayPista únicamente será&nbsp;responsable respecto de cualquiera de sus Usuarios cuando se presenten ante cualquier Tribunal pruebas definitivas e irrefutables de la comisión por HayPista de un acto dañoso o perjudicial para el Usuario en cuestión.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				En este sentido, HayPista no será, bajo ninguna circunstancia, responsable por los daños directos o indirectos causados a algún Usuario cuando el comportamiento de dicho Usuario haya contribuido a la producción del daño que alega haber sufrido. A título de ejemplo, HayPista no será responsable por los daños directos o indirectos sufridos por un Usuarios en el supuesto de que dicho Usuario no haya cumplido, total o parcialmente, los términos de estas Condiciones de Uso.
			</font>
		</p>
		<p>
			<a href="http://www.haypista.es/misc/terms_v.php#mtcBody%23mtcBody" target="_blank">
				<font color="#c50076" face="Arial" size="1">
					<u>
						Al principio
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				&nbsp;
			</font>
			&nbsp;
			<br>
		</p>
		<p>
			<a name="0.1_resiliation">
			</a>
			<font color="#c50076" face="Arial" size="3">
				<b>
					Artículo 8. Baja del servicio
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Todo Usuario puede darse de baja su suscripción a HayPista en cualquier momento y sin motivo alguno mediante la solicitud de cancelación de su cuenta utilizando la sección del sitio HayPista reservada para ello. La referida solicitud deberá&nbsp;ser efectiva desde el día hábil siguiente a la recepción por HayPista de la solicitud de cancelación de la cuenta en cuestión. La solicitud de baja no supondrá el reembolso del Pase del Usuario que estuvieran en vigor al tiempo de producirse la baja en HayPista.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				La terminación por un Usuario de su Pase será&nbsp;efectiva desde la fecha de expiración de dicho Pase.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Sin perjuicio de las demás disposiciones de estas Condiciones de Uso, en caso de que algún Usuario cometa una infracción grave, HayPista suspenderá, sin notificación o aviso previo, la cuenta de dicho Usuario. La referida terminación tendrá los mismos efectos que la baja a solicitud del Usuario.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Sin perjuicio de las demás disposiciones de estas Condiciones de Uso, en caso de que algún Usuario cometa una infracción, HayPista suspenderá la cuenta del Usuario si, en el plazo de siete (7) días desde el envío a dicho Usuario de un correo electrónico requiriéndole el cumplimiento de estas Condiciones de Uso, el Usuario no hubiera procedido al cumplimiento de dichas condiciones.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Esta cancelación intervendrá&nbsp;de pleno derecho y sin perjuicio de todos los daños e intereses que puedan ser reclamados por HayPista al Usuario o a sus derechohabientes o representantes legales, en compensación del perjuicio sufrido.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				El Usuario será&nbsp;informado por correo electrónico de la baja o de la confirmación de baja de su cuenta. Los datos relativos al Usuario serán destruidos cuando así lo solicite o al vencer el periodo legal de prescripción, tras la cancelación de su cuenta de Usuario.
			</font>
		</p>
		<p>
			<a href="http://www.haypista.es/misc/terms_v.php#mtcBody%23mtcBody" target="_blank">
				<font color="#c50076" face="Arial" size="1">
					<u>
						Al principio
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				&nbsp;
			</font>
			&nbsp;
			<br>
		</p>
		<p>
			<a name="0.1_convention">
			</a>
			<font color="#c50076" face="Arial" size="3">
				<b>
					Artículo 9. Convenio entre el Usuario y HayPista
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Estas Condiciones de Uso, así&nbsp;como las páginas del sitio HayPista a las que se hace referencia, constituyen un contrato que rige las relaciones entre el Usuario y HayPista. Estas condiciones anulan o sustituyen cualquier otra disposición anterior que no haya sido expresamente indicada o anexada y constituyen el total de los derechos y obligaciones de HayPista y del Usuario respecto de las mismas.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Si alguno de los términos de estas Condiciones de Uso fuera declarado nulo en aplicación de la legislación vigente, o en virtud de una decisión judicial de un tribunal con jurisdicción suficiente, los restantes términos de estas Condiciones de Uso deberán permanecer en pleno vigor. Además, la falta de iniciación de acciones legales por alguna Parte en relación con la infracción de estas Condiciones de Uso cometida por otra Parte, no supondrá la renuncia de la primera Parte de su derecho a iniciar en el futuro acciones legales contra dicha infracción.
			</font>
		</p>
		<p>
			<a href="http://www.haypista.es/misc/terms_v.php#mtcBody%23mtcBody" target="_blank">
				<font color="#c50076" face="Arial" size="1">
					<u>
						Al principio
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				&nbsp;
			</font>
			&nbsp;
			<br>
		</p>
		<p>
			<a name="0.1_modifications">
			</a>
			<font color="#c50076" face="Arial" size="3">
				<b>
					Artículo 10. Cambios en HayPista o en las condiciones de uso
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				HayPista podrá&nbsp;modificar estas Condiciones de Uso en cualquier momento. Todo Usuario será informado de la naturaleza de dicha modificaciones tan pronto como se publiquen en el sitio de HayPista. Las modificaciones surtirán efecto transcurrido un mes desde su publicación en el sitio. Para los Usuarios inscritos posteriormente a la puesta en línea de estas modificaciones, éstas les serán inmediatamente aplicadas ya que las habrán aceptado al hacerse usuarios.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Todo Usuario puede encontrarse en alguna de las siguientes situaciones:
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					10.1 El Pase originariamente obtenido por el Usuario aún no ha expirado
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				En este caso, el Usuario podrá&nbsp;solicitar que se continúen aplicando las Condiciones de Uso en vigor al tiempo de adquirir dicho Pase hasta la fecha de expiración inicial de dicho Pase.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					10.2 El plazo inicial del Pase obtenido por el Usuario ya ha expirado
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				En este caso, el Usuario podrá&nbsp;seguir el procedimiento descrito en el Artículo "Baj del Servicio" durante los cuatro (4) meses siguientes a la fecha de entrada en vigor de las nuevas Condiciones de Uso. Transcurrido dicho plazo de cuatro (4) meses, las nuevas Condiciones de Uso se entenderán aceptadas por el Usuario salvo que dicho Usuario manifieste su intención de proceder a la baja de su cuenta.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Los Usuarios están invitados a consultar la versión siempre en línea en el sitio de HayPista.
			</font>
		</p>
		<p>
			<a href="http://www.haypista.es/misc/terms_v.php#mtcBody%23mtcBody" target="_blank">
				<font color="#c50076" face="Arial" size="1">
					<u>
						Al principio
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				&nbsp;
			</font>
			&nbsp;
			<br>
		</p>
		<p>
			<a name="0.1_droit_applicable">
			</a>
			<font color="#c50076" face="Arial" size="3">
				<b>
					Artículo 11. Derecho aplicable - atribuciones de la jurisdicción
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Estas Condiciones de Utilización son regidas, interpretadas y aplicadas conforme a las leyes francesas, la lengua de interpretación siendo francesa en caso de contestación sobre el significado de un término o de una disposición de las presentes Condiciones de Utilización.
			</font>
		</p>
		<p>
			<a href="http://www.haypista.es/misc/terms_v.php#mtcBody%23mtcBody" target="_blank">
				<font color="#c50076" face="Arial" size="1">
					<u>
						Al principio
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				&nbsp;
			</font>
			&nbsp;
			<br>
		</p>
		<p>
			<a name="0.1_qui">
			</a>
			<font color="#c50076" face="Arial" size="3">
				<b>
					Artículo 12. ¿Quiénes somos?
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				HayPista, una Sociedad Anónima Simple (Société&nbsp;par Action Simplifiée), con un capital social de 1.233.580 euros, inscrita en el Registro Mercantil de Nanterre (Francia) bajo el número 439 780 339, domiciliada en Apartado de Correos 109, 92106 Boulogne Cedex y representada por su Presidente y Director de la publicación del sitio HayPista, Marc Simoncini. El sitio HayPista está alojado en los servidores de HayPista.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Para más información, póngase en contacto con HayPista a través del formulario de contacto.
			</font>
		</p>
		<p>
			<font color="#c50076" face="Arial" size="3">
				<b>
					Política de privacidad y protección de datos del Usuario
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				HayPista respeta las normas europeas y francesas más rigurosas de protección de la vida privada y de datos personales y, a este respecto, ha registrado ante la Agencia de Protección de Datos francesa (Commission Nationale de l'Informatique et des Libertés- CNIL), las declaraciones número 796865 y 802516.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Algunas informaciones o contenidos (fotografías o vídeos) que los Usuarios suministran a título voluntario y bajo su propia responsabilidad, son susceptibles de revelar su origen étnico, nacionalidad, religión u orientaciones sexuales. Al suministrar tales informaciones, el Usuario en cuestión manifiesta su voluntad, y por consiguiente, consiente expresamente, asumiendo toda la responsabilidad que ello se derive, al tratamiento por parte de HayPista estos datos identificados como "sensibles".
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Todo Usuario tiene derecho a acceder o solicitar el acceso a sus datos personales con el objetivo de modificarlos, cancelarlos o impedir cualquier uso por HayPista de los mismos. Dicha solicitud puede realizarse mediante correo ordinario a la dirección siguiente: HayPista BP 109, 92 106 Boulogne Cedex; o completando el formulario de contacto, especificando su identificación personal.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Todo Usuario puede, en el momento de realizar su inscripción o en cualquier otro momento posterior, solicitar la recepción gratuita, por mail, del boletín de HayPista y/o las ofertas promocionales que HayPista envía en nombre de sus socios, y posteriormente anular su suscripción. Los derechos y garantías de los Usuarios de HayPista se ajustan en particular a la Ley francesa sobre "tecnologías de la información y libertades públicas", n° 78-17 del 6 de Enero 1978, tal y como fue modificada por la Ley nº 2004-801, de 6 de agosto de 2004, que incorpora al derecho francés la Directiva 95/46/CE, de 24 de octubre de 1995, relativa a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos.; y a la Ley sobre "Confianza en la economía digital", n° 2004-575 de 21 de junio de 2004 (art. L. 33-4-1 modificado del código de las comunicaciones postales y electrónicas, y art. L. 121-20-5 de la nueva ley de consumo, en Francia), por la que se incorporan a Derecho francés la Directiva 2000/31/EC, de 8 de junio de 2000, sobre comercio electrónico, y la Directiva 2002/58/CE, de 12 de junio de 2002, relativa al tratamiento de los datos personales y a la protección de la intimidad en el sector de las comunicaciones electrónicas.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					1 ¿Cuándo y por qué&nbsp;recabamos información sobre usted?
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Un Usuario facilita datos personales cuando se inscribe en el Servicio, participa en un concurso, responde a una encuesta, participa en los chats o adquiere Pases. En ciertos casos, estos datos son indispensables para poder participar en el Servicio.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					2 ¿Qué&nbsp;tipo de información recabamos?
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Los datos personales que HayPista solicita pueden incluir el nombre, dirección postal y/o electrónica, número de teléfono fijo y/o móvil, datos bancarios, detalles sobre su aspecto físico, fotografías, anuncios de voz, vídeos, valores personales, religión, aficiones y uso del Servicio.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Además, puede solicitar otros datos no personales como la versión del navegador que utiliza el Usuario o usuario (Netscape, Internet Explorer, etc.), el tipo de sistema operativo (Windows 98, Mac Os, etc.), la dirección IP del ordenador.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				HayPista utiliza cookies para almacenar información que identifique al Usuario durante sus consultas en el sitio HayPista de Internet con el fin de evitar que tenga que identificarse manualmente antes de consultar cualquier página. El Usuario puede, no obstante, impedir la utilización de estos cookies a través del menú opciones de su programa de navegación por Internet. A este respecto, le recomendamos que consulte los consejos para la modificación de estas opciones según el navegador que utilice, disponibles en el apartado "vos traces" del sitio de la de la Agencia de protección de datos francesa (CNIL):
			</font>
			<a href="http://www.cnil.fr" target="_blank">
				<font color="#636262" face="Arial" size="1">
					<u>
						www.cnil.fr
					</u>
				</font>
			</a>
			<font color="#636262" face="Arial" size="1">
				.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				<b>
					3 ¿Quién tiene acceso a esta información?
				</b>
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				3.1 Los datos recabados sobre usted durante su inscripción en HayPista y sus suscripciones a nuestros Servicios se utilizan para ofrecerle nuestros diferentes Servicios. Hemos tomado todas las precauciones posibles para que sus datos se archiven en un entorno seguro. Únicamente algunos de nuestros empleados tienen acceso a estos datos, y solamente en caso de necesidad. Los datos personales facilitados por un Usuario al inscribirse, excluyendo sus anuncios y presentación, no podrán ser accesibles por terceros, transmitidos, vendidos ni intercambiados, salvo en los supuestos casos mencionados a continuación, tras haber sido previamente informado, contando con su consentimiento o en ausencia de oposición por su parte.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				3.2 Podrá&nbsp;recibir ofertas promocionales de socios nuestros, mediando su previo acuerdo y notificación durante la inscripción, y salvo oposición por su parte al inscribirse o en cualquier momento posterior. Si prefiere no recibir las ofertas que seleccionamos para usted, o que nuestros socios pueden enviarle, puede indicarlo al inscribirse o, más tarde en todo momento, a través del área "Mi cuenta" del sitio HayPista, o puede informar a HayPista por correo postal.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				3.3 HayPista puede compartir datos socio-demográficos generales y no nominativos con socios seleccionados con el fin de dirigir anuncios selectivos (por categorías de edad, de sexo, etc.). En este caso, no les transmitiremos datos que permitan su identificación.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				3.4 Los datos que componen sus anuncios, criterios de búsqueda y presentación están disponibles en HayPista, en la Web, por correo electrónico (boletines), por teléfono móvil o en el servicio Audiotel de HayPista (servicio telefónico de tarificación adicional). Además, estos datos podrán ser difundidos por nosotros o por nuestros socios a personas interesadas por HayPista, a través de boletines, otros sitios Web o cualquier vía de comunicación digital (correo electrónico, SMS, etc.), audiovisual (radio, televisión, etc.) o escrita (prensa, revistas, etc.), con el fin de aumentar sus posibilidades de encuentro, gracias a la promoción de sus anuncios, criterios de búsqueda y presentación.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Por consiguiente, el Usuario autoriza expresamente a HayPista a reproducir y difundir las informaciones presentes en su anuncio, búsqueda y presentación (informaciones, descripción, imágenes, vídeos, etc.) en todos parte del Servicio HayPista (sitio Web, correo electrónico, Audiotel) así como por cualquier medio o canal de difusión, en particular audiovisual (prensa, radio, televisión analógica o digital, por cable o satélite) o electrónico (correo electrónico, Internet), en todo el mundo y durante toda la vigencia de las presentes Condiciones generales de uso entre el Usuario y HayPista. Además, el Usuario autoriza expresamente a HayPista a transmitir los beneficios de los derechos anteriores a los socios y sucesores potenciales de HayPista.
			</font>
		</p>
		<p>
			<font color="#636262" face="Arial" size="1">
				Si no desea que HayPista o sus socios reproduzcan o difundan los datos de su anuncio, criterios de búsqueda o presentación, puede cancelar su cuenta HayPista en las condiciones previstas por el Artículo "Baja del servicio". Al tratarse de información presente en su anuncio, criterios de búsqueda y presentación, la baja del servicio sólo tendrá efecto a contar de la siguiente actualización o edición de los soportes de comunicación (impresos, por vía de prensa, audiovisuales o electrónicas) que contengan datos de su anuncio o presentación, sus criterios de búsqueda y su perfil de usuario.
			</font>
		</p>
		<p>
			<a href="http://www.haypista.es/misc/privacy_v.php#mtcBody%23mtcBody" target="_blank">
				<font color="#c50076" face="Arial" size="1">
					<u>
						Al principio
					</u>
				</font>
			</a>
			&nbsp;
			<br>
			&nbsp;
			<br>
		</p>
		
