
<h3>
	1. Terminos de Uso
</h3>

<p>
	Al acceder a este sitio web, usted acepta las Condiciones del sitio web y de uso, todas las leyes y reglamentos aplicables,
	y acepta que es responsable de cumplir con las leyes locales. 
	de cumplir con las leyes locales leyesSi usted no está de acuerdo con cualquiera de estos términos, le está prohibido
	usar o acceder a este sitio. Los materiales contenidos en este sitio web estan
	protegidos por derechos de autor y derecho de marcas.
</p>
<br />

<h3>
	2. Licencia de Uso
</h3>

<ol type="a">
	<li>
		Se otorga permiso para copiar descargar temporalmente uno de los materiales de
		(de información o software) en el sitio web HayPista para el personal,
		su exhibición no comercial sólo transitoria. Esta es la concesión de una licencia,
		no una transferencia de título, y bajo esta licencia no podrá:
		
		<ol type="i">
			<li>modificar o copiar el material;</li>
			<li>utilizar los materiales para cualquier propósito comercial, o para cualquier exhibición pública (comercial o no comercial);</li>
			<li>intentar descompilar ni aplicar ingeniería inversa de software que figuran en el sitio web de HayPista;</li>
			<li>eliminar los derechos de autor u otros notaciones de propiedad de los materiales, o</li>
			<li>transferir el material a otra persona o "espejo" los materiales en cualquier otro servidor.</li>
		</ol>
	</li>
	<li>
		Esta licencia terminará automáticamente si usted viola cualquiera de estas restricciones y puede ser denunciado por HayPista en cualquier momento. Después de cancelar su visión de estos materiales o en la terminación de esta licencia, usted deberá destruir cualquier material descargado en su poder ya sea en formato electrónico o impreso.
	</li>
</ol>
<br />

<h3>
	3. Exoneración de Responsabilidad
</h3>

<ol type="a">
	<li>
		Los materiales en el sitio web de HayPista se proporcionan "tal cual". HayPista no ofrece ninguna garantía, expresa o implícita, y por la presente renuncia y niega cualquier otra garantía, incluyendo sin limitación, garantías o condiciones implícitas de comerciabilidad, adecuación para un propósito particular, o no infracción de la propiedad intelectual o cualquier otra violación de los derechos. Además, HayPista no garantiza ni hace ninguna representación sobre la exactitud, los resultados probables, o la fiabilidad de la utilización de los materiales en su página de Internet o de otro tipo relativa a los materiales o en cualquier sitio ligado a este sitio.
	</li>
</ol>
<br />

<h3>
	4. Limitaciones
</h3>

<p>
	En ningún caso HayPista o sus proveedores serán responsables por cualquier daño (incluyendo, sin limitación, daños por pérdida de datos o beneficios, o debido a la interrupción del negocio,) que se deriven de la utilización o la imposibilidad de utilizar los materiales en el sitio Internet de HayPista, incluso si HayPista o un representante autorizado HayPista ha sido notificado en forma oral o por escrito de la posibilidad de tales daños. Debido a que algunas jurisdicciones no permiten limitaciones en garantías implícitas o limitaciones de responsabilidad por daños indirectos o incidentales, estas limitaciones pueden no aplicarse a usted.
</p>
<br />

<h3>
	5. Las Revisiones y Erratas
</h3>

<p>
	Los materiales que aparecen en el sitio web HayPista podría incluir aspectos técnicos, tipográficos o fotográficos errores. HayPista no garantiza que cualquiera de los materiales en su sitio web sea precisa, completa o actualizada. HayPista puede hacer cambios a los materiales contenidos en su sitio web en cualquier momento sin previo aviso. HayPista no lo hace, sin embargo, ningún compromiso de actualizar los materiales.
</p>
<br />

<h3>
	6. Enlaces
</h3>

<p>
	HayPista no ha revisado todos los sitios vinculados a su sitio web en Internet y no es responsable por el contenido de dicho sitio. La inclusión de cualquier enlace no implica aprobación por parte de HayPista del sitio. El uso de cualquier sitio web vinculado como es bajo el propio riesgo del usuario.
</p>
<br />

<h3>
	7. Terminos de Uso
</h3>

<p>
	HayPista puede revisar estos términos de uso de su sitio web en cualquier momento sin previo aviso. Al usar este sitio web usted acepta estar obligado por la versión entonces vigente de estos Términos y Condiciones de uso.
</p>
<br />

<h3>
	8. Exoneración de Responsabilidad
</h3>

<p>
			Aceptas exonerar de toda responsabilidad a la Compañía, sus empresas asociadas y filiales y a sus respectivos administradores, directivos, agentes, contratistas, socios y empleados, frente a cualesquiera pérdidas, responsabilidades, reclamaciones, demandas, daños, costes y gastos, incluyendo los honorarios razonables de abogados, derivados de cualquier Contenido de Usuario y cualquier tipo de Aplicaciones, Software o Contenido de Terceros que publiques o compartas a través del Sitio (incluyendo a través del Servicio Compartir), tu utilización del Servicio o el Sitio, tu conducta en relación con el Servicio, el Sitio u otros usuarios del Servicio o el Sitio, o cualquier incumplimiento del presente Contrato, de cualesquiera leyes o derechos de un tercero.
</p>
<br />

<h3>
	9. Privacidad
</h3>

<p>
Su privacidad es muy importante para nosotros. En consecuencia, hemos desarrollado esta Política para que usted pueda entender cómo recolectamos, utilizamos, comunicar y divulgar y hacer uso de la información personal. A continuación se detalla nuestra política de privacidad.
</p>

<ul>
	<li>
		Antes o en el momento de la recogida de información personal, identificaremos los fines para los que la información está siendo recopilada.
	</li>
	<li>
		Vamos a recoger y el uso de información personal con el único objetivo de cumplir los fines indicados por nosotros y para otros fines compatibles, a menos que obtener el consentimiento de la persona en cuestión o de lo requerido por la ley.
	</li>
	<li>
		Sólo se conservará la información personal el tiempo necesario para el cumplimiento de estos fines.
	</li>
	<li>
		Nosotros recogemos información personal por medios legítimos y justos y, en su caso, con el conocimiento o el consentimiento de la persona en cuestión.
	</li>
	<li>
		Los datos personales deben ser pertinentes a los fines para los que se va a utilizar, y, en la medida necesaria para esos fines, debe ser precisa, completa y actualizada.
	</li>
	<li>
	Vamos a proteger la información personal de garantías razonables de seguridad contra la pérdida o robo, así como el acceso no autorizado, revelación, copia, uso o modificación.
	</li>
	<li>
	Vamos a poner a disposición a los clientes información acerca de nuestras políticas y prácticas relativas a la gestión de información personal.
	</li>
</ul>

<p>
	Estamos comprometidos a llevar a cabo nuestro negocio de acuerdo con estos principios a fin de garantizar que la confidencialidad de los datos personales están protegidos y mantenidos.
</p>		

