
<p>
	<strong>
		HayPista&nbsp;
	</strong>				
</p>

<p>
	Thank you for choosing HayPista ('HayPista'). HayPista provides a software platform that enables you to organize and share data amongst different groups of people.
</p>
<p>
	By using HayPista you are agreeing to be bound by the following terms and conditions ('Terms of Service') as well as subject to the HayPista's privacy policy. In addition, if you are using HayPista's application programming interface ('API') you will be subject to the HayPista Application Developer Terms. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes.
</p>
<p>
	HayPista reserves the right to update and change the Terms of Service from time to time without notice. Violation of any of the terms below will result in the termination of your Account.
</p>
<p>
	BY CONTINUING TO USE HayPista, YOU ARE CONFIRMING YOUR CONSENT AND AGREEMENT TO BE BOUND TO THESE TERMS OF SERVICE:
</p>
<h3>
	Account Terms
</h3>
<ol>
	<li>
		This service is for adults. You must be 13 years or older to use this Service.
	</li>
	<li>
		You must provide a valid email address, and any other information requested in order to complete the signup process.
	</li>
	<li>
		Your login may only be used by one person; shared use of one login is not allowed. You may create separate logins for as many people as you'd like.
	</li>
	<li>
		You are responsible for maintaining the security of your account and password. HayPista can not be liable for any loss or damage from your failure to comply with this security obligation.
	</li>
	<li>
		You are responsible for all activity, usage and content posted under your account (even when Content is posted by others who have accounts under your account).
	</li>
	<li>
		You agree not to impersonate any other person or falsely identify yourself to gain information contained for others within HayPista.
	</li>
	<li>
		You must comply with all applicable local, state, national and foreign laws related to the posting of materials onto HayPista.
	</li>
	<li>
		You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).
	</li>
	<li>
		HayPista may modify, suspent or discontinue service at any time in its sole discretion. HayPista reserves the right to refuse service to anyone at any time.
	</li>
	<li>
		If you are using a free account you are not permitted to block ads.
	</li>
</ol>
<h3>
	General Conditions
</h3>
<ol>
	<li>
		Your use of the Service is at your sole risk. The service is provided on an 'as is' and 'as available' basis.
	</li>
	<li>
		Technical support is only provided via email unless otherwise indicated. Paying customers will receive priority for technical support.
	</li>
	<li>
		You agree not to change, modify, hack, or make derivative works any portion of HayPista for the purposes of licensing, sublicensing, selling, reselling, copying, duplicating, reproducing, distributing or making available to any third party.
	</li>
	<li>
		You have read, understand and agree to our privacy policy and our security policy.
	</li>
	<li>
		We may, but have no obligation to, remove content and accounts containing content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Service.
	</li>
	<li>
		You must not upload, post, host, or transmit unsolicited email or 'spam' messages.
	</li>
	<li>
		You must not transmit any worms, trojan horses, viruses or any code of a destructive nature to or through HayPista.
	</li>
	<li>
		Your plan may include limitations on bandwidth, storage, downloads, emails or other items. We will provide a means for you to monitor this activity but should the level of activity rapidly change we reserve the right to disable your account or throttle your activity until the situation can be resolved..
	</li>
	<li>
		HayPista does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.
	</li>
	<li>
		You expressly understand and agree that HayPista shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if HayPista has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.
	</li>
	<li>
		You agree to defend, indemnify, and hold harmless HayPista, its officers, directors, employees and its agents from any againt any claims, actions or demands, including without limitation reasonable legal and accounting fees, made by any third party due to or resulting from your use of the Service or your violation of this Terms of Service.
	</li>
</ol>
<h3>
	Account Plans
</h3>
<p>
	HayPista offers access to our service through various subscription plans. A subscription plan may be free, supported by advertising or paid for by the user/subscriber.
</p>
<p>
	From time to time a free plan for users to evaluate and test our service. The free version will be made available at no cost and will not require a credit card or other form of payment. The free plan may include advertising similar to the ad supported plan. HayPista may restrict the length of time of the free trial, the amount of storage or bandwidth provided the number of transactions allowed and the features provided.
</p>
<p>
	HayPista may also offer one or more ad supported plans. These plans may include advertising within the web site, within emails or within other correspondence. The specific features of this plan and the level and kind of advertising will be outlined in the specific plan information.
</p>
<p>
	Free or ad supported accounts without a log in or activity for 90 days are subject to being removed. If an account is removed all data, content, information, images, files and feeds will be deleted. We will attempt to notify you at least 3 times before this occurs via the email address on file.
</p>
<p>
	HayPista also offers paid plans with different levels of storage and functionality. The following provides information for paid plans:
</p>
<ol>
	<li>
		A valid credit card is required for paying accounts
	</li>
	<li>
		You may upgrade from a free plan or ad supported plan at any time. Upgrading to a paid lan will immediately end your free plan.
	</li>
	<li>
		Your billing cycle will begin immediately after the upgrade.
	</li>
	<li>
		Your plan will be billed monthly, quarterly or annually based on the plan selected.
	</li>
	<li>
		The Service is billed in advance on a monthly basis and is non-refundable. There will be no refunds or credits for partial months of service, upgrade/downgrade refunds, or refunds for months unused with an open account.
	</li>
	<li>
		Cancellation must be made through our account management feature. Cancellation is not valid if made by phone or email. Notices are made effective immediately upon receipt and upon cancellation you will not be charged again. Refunds and/or credits will not be issued for unused partial months or periods pre-paid in advance. Immediately after cancellation, HayPista will destroy all content, data, information, text, files, documents, images and feeds that were created and accessed during your subscription to the Service.
	</li>
	<li>
		For any upgrade or downgrade in plan level, your credit card that you provided will automatically be charged the new rate on your next billing cycle.
	</li>
	<li>
		Downgrading your Service may cause the loss of Content, features, or capacity of your Account. We will attempt to make clear what you may lose. HayPista does not accept any liability for such loss.
	</li>
	<li>
		All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties, excluding only United States (federal or state) taxes.
	</li>
</ol>
<p>
	Wizehive reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof), in which case we will provide our users with notice so they may download and/or export their data.
</p>
<p>
	Prices of all Services, including but not limited to monthly subscription plan fees to the Service, are subject to change upon 30 days notice from us. Such notice may be provided at any time by posting the changes to the HayPista Site, via email to your email address on file, or the Service itself.
</p>
<p>
	HayPista shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.
</p>
<h3>
	Other
</h3>
<p>
	HayPista claims no intellectual property rights over the material you provide to the Service. Your profile and materials uploaded remain yours.
</p>
<p>
	The look and feel of the Service is copyright &copy; HayPista, Inc. All rights reserved. You may not duplicate, copy, or reuse any portion of the HTML/CSS or visual design elements without express written permission from HayPista.
</p>
<p>
	The failure of HayPista to enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. These Terms of Service apply to you and may not be transferred, assigned or delegated to anyone without the express written permission of HayPista. Any attempt by you to assign, transfer or delegate these Terms of Service without the express written permission of HayPista shall be null and void. These Terms of Service shall be governed by the law of Pennslylvania, PA, without regard to its conflicts of law provisions. These Terms of Service comprise the entire agreement between you and HayPista with respect to the use of the Service and supersedes all prior agreements between the parties regarding the subject matter contained herein (including any prior versions of the Terms of Service).
</p>

<p>
	Thank you for choosing HayPista ('HayPista'). HayPista provides a software platform that enables you to organize and share data amongst different groups of people.
</p>
<p>
	By using HayPista you are agreeing to be bound by the following terms and conditions ('Terms of Service') as well as subject to the HayPista's privacy policy. In
</p>

<p>
	Last revised on 11/30/2008
</p>

<p>
	Question or comments?&nbsp;
	<a href="mailto:support@HayPista.com">
		Drop us a note.
	</a>
</p>
