<% display = false %>



<p>
	<em>
		Por favor lee atentamente estas condiciones de uso ya que contienen toda la información relativa a tus derechos y obligaciones como usuario de HAYPISTA. Aquí podrás ver todo lo que puedes y lo que no puedes hacer en la plataforma social privada de HAYPISTA, así como todos los procedimientos de reclamación y solución de conflictos.
	</em>
</p>

<% if display %>
<p>
	HAYPISTA es una plataforma social privada (en adelante, también denominada "Servicio") que facilita un espacio (en adelante "Perfil") a través del que puedes facilitar e intercambiar información y establecer comunicación entre tus amigos y tú. Permite saber qué cosas están pasando a tu alrededor y te ayuda a conectar con tus amigos y a hacer contactos de todo tipo de redes como el colegio, universidad, trabajo, zonas de marcha y demás. La plataforma social privada de HAYPISTA es administrada por HAYPISTA TECHNOLOGIES, S.L. (en adelante "HAYPISTA" o "nosotros").
</p>
<% end %>

<p>
	Estas Condiciones de uso regulan el acceso y la utilización del Servicio y sitio web alojado bajo los nombres de dominio www.haypista.com y www.haypista.es, www.haypista.net así como de todos los contenidos que en los mismos se muestre o pongan a disposición de los Usuarios. Cuando accedes o utilizas el sitio web o cualquiera de las utilidades de la plataforma social privada, manifiestas que has leído y aceptas cumplir con todo lo dispuesto en estas Condiciones de uso.
</p>

<% if display %>
<p>
	Estas Condiciones de uso también se aplicarán a la versión móvil del sitio web y del Servicio.
</p>
<% end %>

<p>
	HAYPISTA se reserva el derecho a su elección exclusiva, de revisar las presentes Condiciones de uso en cualquier momento. Cuando esto ocurra te avisaremos de ello a través del sitio web y si, una vez te hemos informado de ello, continúas utilizando el Servicio, entenderemos que has aceptado las modificaciones introducidas. Si no estuvieras de acuerdo con las modificaciones efectuadas, podrás darte de baja en el servicio siguiendo el procedimiento habilitado para ello.
</p>
<p>
	Estas Condiciones de uso podrán ser completadas por HAYPISTA a través de condiciones particulares que regulen el uso de determinados servicios o productos que se puedan ofrecer en el Sitio Web.
</p>
<p>
	La recogida y tratamiento de tus datos personales así como el ejercicio de tus derechos sobre dichos datos, se regirán por estas Condiciones de uso y la Política de Privacidad y Protección de Datos.
</p>

<h4>
	ACCESO AL SERVICIO: Personas físicas mayores de 14 años
</h4>
<p>
	El acceso al Servicio está PROHIBIDO a los menores de 14 años, por tanto, por la aceptación de estas Condiciones, garantizas que eres mayor de 14 años y te responsabilizas enteramente de esta declaración.
</p>

<% if display %>
<p>
	El equipo de HAYPISTA puede ponerse en contacto contigo, en cualquier momento, para que demuestres tu edad real aportándonos fotocopia de tu DNI o un documento equivalente. Si no nos das esa información dentro del plazo que te digamos, desde HAYPISTA nos reservamos el derecho a bloquear o cancelar tu perfil.
</p>
<p>
	Los datos del DNI o del documento que se aporte serán utilizados única y exclusivamente por el personal autorizado de HAYPISTA para realizar esta tarea de identificación, en ningún caso, se tratará para otro fin.
</p>
<p>
	Si tienes entre 14 y 18 años, te recomendamos que informes y consultes con tus padres o tutores legales a la hora de transmitir información a terceros con los que hayas contactado a través del Servicio.
</p>

<p>
	Si somos informados de que un menor de 14 años está registrado como Usuario en HAYPISTA, adoptaremos las medidas necesarias y podremos eliminar o bloquear el perfil de Usuario.
</p>
<% end %>

<p>
	Te pedimos que cualquier abuso o vulneración de las presentes condiciones que detectes y, en particular, aquellos que afecten a menores, nos lo digas inmediatamente.
</p>



<% if display %>
<p>
	Además, tienes que saber que para poder ser Usuario de HAYPISTA es necesario que antes hayas recibido en tu correo electrónico una invitación de un amigo que ya sea Usuario de HAYPISTA. Para ver las implicaciones que en materia de protección de datos tiene el envío de invitaciones, consulta el apartado "Invitaciones" en la Política de Privacidad y Protección de Datos.
</p>
<% end %>

<h4>
	SEGURIDAD DEL PERFIL
</h4>
<p>
	ACEPTAS EXPRESAMENTE que el Servicio y los servicios de HAYPISTA se ofrecen exclusivamente para tu uso personal, y no puedes utilizarlo para una finalidad económica o comercial sin contar con la previa autorización de HAYPISTA.
</p>
<p>
	Sin perjuicio de las herramientas publicitarias, de comunicación o de patrocinio que HAYPISTA pueda poner a tu disposición, las personas jurídicas - sean empresas, asociaciones o cualesquiera otro tipo de entidades - tienen PROHIBIDO tener un Perfil. Asimismo, tampoco podrán tener Perfil las personas físicas que, por si solas, en representación de personas jurídicas o en el ejercicio de actividades profesionales, tengan como finalidad utilizar el Perfil con un fin comercial, publicitario, promocional o para la realización de alguna actividad con finalidad económica.
</p>
<p>
	El acceso al Servicio implica necesariamente que debes facilitar a HAYPISTA una serie de datos de carácter personal y, por tanto, consentir nuestra Política de Privacidad y Protección de Datos.
	<strong>
		Queda prohibido el suministro de datos falsos
	</strong>
	, por tanto, debes identificarte siempre con tu nombre real y con datos correctos. Si HAYPISTA detecta datos falsos o incorrectos en los perfiles podrá cancelarlo, de acuerdo con lo previsto en estas Condiciones de uso.
</p>
<p>
	Los datos que suministres deberás mantenerlos actualizados en todo momento.
</p>
<p>
	El acceso al Servicio y el uso del perfil implica tu compromiso y obligación de hacer un uso correcto de los mismos, con sujeción a estas condiciones y a la legalidad vigente, sea nacional o internacional, así como a los principios de buena fe, a la moral y al orden público, y con el compromiso de observar diligentemente cualquier instrucción adicional que, en relación con el uso y acceso que hagas, pueda realizarte HAYPISTA. Tú eres el responsable del uso que hagas del perfil.
</p>
<h4>
	RESPONSABILIDADES
</h4>
<p>
	Estás obligado a hacer un uso razonable del Servicio y del sitio web y sus contenidos, según las posibilidades y fines para los que está concebido.
</p>
<p>
	En relación al Servicio, HAYPISTA actúa como mero intermediario que pone a tu disposición su espacio web, asumiendo única y exclusivamente la responsabilidad derivada de la diligencia que le pudiera ser exigible por ley. HAYPISTA no asumirá ninguna responsabilidad, ya sea directa o indirecta, derivada del mal uso que hagas del Servicio, del sitio web o de los contenidos allí localizados.
</p>
<p>
	HAYPISTA hará todo lo razonablemente posible para vigilar la legalidad de los contenidos, imágenes, opiniones y demás información que se comuniquen a través del Servicio y del sitio web. Sin embargo, al no ser posible el control absoluto de aquellos, tú serás el único responsable de la información, imágenes, opiniones, alusiones o contenidos de cualquier tipo que comuniques, alojes, transmitas, pongas a disposición o exhibas a través del sitio web; y, en concreto, serás el único responsable del mantenimiento de tu perfil, y de la información, imágenes, opiniones, alusiones o contenidos de cualquier tipo que comuniques, alojes, transmitas, pongas a disposición o exhibas en tu perfil.
</p>
<p>
	En especial, HAYPISTA no podrá ser considerado responsable editorial, y declaramos expresamente que no nos identificamos con ninguna de las opiniones que como usuario de HAYPISTA podáis emitir a través del Servicio, de cuyas consecuencias se hace enteramente responsable el emisor de las mismas.
</p>
<p>
	Podremos limitar el acceso al Servicio de opiniones, informaciones, comentarios, imágenes o dibujos que como usuario de HAYPISTA nos hagas llegar, pudiendo instalar, si así lo entendiéramos oportuno, filtros a tales efectos. Lo anterior no supone, en modo alguno, la obligación de HAYPISTA de controlar los contenidos que puedan difundirse a través del Servicio, sino la voluntad de evitar, en la medida de lo posible, que a través de HAYPISTA puedan difundirse en la Red contenidos u opiniones que puedan ser considerados difamatorios, racistas, sexistas, xenófobos, discriminatorios, pornográficos, violentos o que, de cualquier modo contraríen la moral, el orden público o las buenas costumbres, o resulten claramente ilícitos o ilegales.
</p>
<h4>
	USOS NO PERMITIDOS
</h4>
<p>
	QUEDA TERMINANTEMENTE PROHIBIDO y, por tanto, sus consecuencias serán de tu exclusiva responsabilidad, el acceso o la utilización del Servicio con fines ilegales o no autorizados, con o sin finalidad económica, y, más específicamente y sin que el siguiente listado tenga carácter absoluto, queda prohibido:
</p>
<ul>
	<li>
		Alojar, almacenar, divulgar, publicar, distribuir o compartir cualquier contenido que pueda ser considerado como una vulneración en cualquier forma de los derechos fundamentales al honor, imagen e intimidad personal y familiar de terceros y, muy especialmente, de los menores de edad.
	</li>
	<li>
		Alojar, almacenar, divulgar, publicar, distribuir o compartir imágenes o fotografías que recojan imágenes o datos personales de terceros sin haber obtenido el oportuno consentimiento de sus titulares.
	</li>
	<li>
		Alojar, almacenar, divulgar, publicar, distribuir o compartir cualquier contenido que vulnere el secreto en las comunicaciones, la infracción de derechos de propiedad industrial e intelectual o de las normas reguladoras de la protección de datos de carácter personal.
	</li>
	<li>
		Reproducir, distribuir, poner a disposición o de cualquier otro modo compartir, dentro o fuera de la red de HAYPISTA, fotografías o imágenes que hayan sido puestas a disposición por otros usuarios de HAYPISTA.
	</li>
	<li>
		Alojar, almacenar, divulgar, publicar, distribuir o compartir cualquier material o información que sea ilegal, racista, obscena, pornográfica, abusiva, difamatoria, engañosa, fraudulenta o de cualquier forma contraria a la moral o al orden público.
	</li>
	<li>
		Usar el servicio para injuriar, difamar, intimidar, violar la propia imagen o acosar a otros usuarios.
	</li>
	<li>
		Hacer un uso del Sitio Web o de cualquiera de los servicios de HAYPISTA de forma ilegal, o de cualquier otro modo por el cual se pueda dañar, sobrecargar o perjudicar el Servicio o el sitio web.
	</li>
	<li>
		Introducir virus informáticos, archivos defectuosos, o alojar, almacenar, distribuir o compartir cualquier otro material o programa informático que pueda provocar daños o alteraciones en los contenidos, programas o sistemas de HAYPISTA.
	</li>
	<li>
		Usar el Servicio para el envío de publicidad o comunicaciones comerciales, para la emisión de mensajes con finalidad publicitaria o para la captación de datos con el mismo fin.
	</li>
	<li>
		Usar el Servicio, con independencia de su finalidad, para remitir correos electrónicos con carácter masivo y/o repetitivo no solicitados a una pluralidad de personas, ni mandar direcciones de correo electrónico de terceros sin su consentimiento.
	</li>
	<li>
		Captar o recopilar direcciones de correo electrónico u otra información de contacto de otros usuarios a través del Servicio de HAYPISTA con la finalidad de enviar correos electrónicos u otras comunicaciones no solicitados.
	</li>
	<li>
		Alojar, almacenar, divulgar, publicar, distribuir o facilitar publicidad no solicitada o no autorizada, ofrecimientos ilícitos, materiales promocionales, "correo basura", "spam", "cartas encadenadas", o comunicaciones similares.
	</li>
	<li>
		Registrar y usar el perfil con una finalidad económica, comercial o publicitaria.
	</li>
	<li>
		Crear Perfiles en nombre o para el beneficio de personas jurídicas (empresas entidades administrativas, organizaciones, asociaciones, partidos políticos, sindicatos, ONGs…etc).
	</li>
	<li>
		Instar, pedir o solicitar a otros usuarios, a través del Servicio de HAYPISTA, datos personales o solicitar contraseñas o datos de carácter personal.
	</li>
	<li>
		Crear una identidad falsa, suministrar y/o utilizar datos falsos en el perfil, realizar manifestaciones falsas, proporcionar información falsa sobre ti y sobre otras personas y/o tu relación con ellas.
	</li>
	<li>
		Registrar un perfil en nombre de otra persona, o cualquier otra modalidad de utilización de identidades ajenas y, en particular, la suplantación de personalidades.
	</li>
</ul>
<p>
	La realización de cualquiera de los anteriores comportamientos por tu parte, con o sin consideración económica, permitirá a HAYPISTA para, dependiendo de la gravedad y según su criterio, suspender o cancelar tu perfil de forma inmediata y, en su caso, para retirar contenidos en los perfiles que vulneren este catálogo de prohibiciones.
</p>
<p>
	En aplicación de esto, HAYPISTA podría suspender o cancelar tu perfil automáticamente sin previo aviso, y, en ningún caso, tal suspensión o cancelación te daría derecho a indemnización alguna. A todos estos efectos, te informamos que HAYPISTA podrá poner en conocimiento y colaborar oportunamente con las autoridades policiales y judiciales competentes si detectase cualquier infracción de la legislación vigente o si tuviera sospecha de delito.
</p>
<h4>
	SUPLANTACIÓN DE PERFILES
</h4>
<p>
	En relación con los casos de suplantación de personalidades, te advertimos que, en el momento en el que tengamos indicios de que has suplantado la personalidad de un tercero a través de tu perfil, procederemos a comprobar tu identidad y si has suplantado una identidad ajena borraremos tu perfil.
</p>
<p>
	Si realizadas las debidas comprobaciones de tu identidad por parte de HAYPISTA comprobásemos que efectivamente habías llevado a cabo una suplantación de una identidad ajena y no pudiésemos certificar adecuadamente tu identidad, procederíamos a la cancelación definitiva de tu perfil.
</p>
<p>
	Si en algún momento sabes que hay un perfil que es falso o tienes indicios de que puede ser falso por favor no dudes en enviarnos un correo a
	<a href="mailto:support@haypista.com">
		support@haypista.com
	</a>
	.
</p>
<p>
	A todos estos efectos, te informamos que HAYPISTA podrá poner en conocimiento y colaborar oportunamente con las autoridades policiales y judiciales competentes si detectase una suplantación de identidad que pudiera implicar la comisión de un delito, en particular, del tipificado en el artículo 401 del Código Penal vigente.
</p>
<h4>
	PROPIEDAD INTELECTUAL E INDUSTRIAL DEL SERVICIO
</h4>
<p>
	HAYPISTA es el titular de todos los derechos de propiedad industrial e intelectual relativos al Servicio, a excepción de los contenidos de los Usuarios que les seguirán perteneciendo conforme a lo establecido en el apartado siguiente. Por las presentes Condiciones de Uso, HAYPISTA, como propietario del Servicio, te concede una licencia limitada, revocable y no sub-licenciable para usar el Servicio de forma estrictamente personal. A excepción de la licencia referida anteriormente, está prohibida cualquier forma de reproducción, distribución, comunicación pública, modificación y, en general, cualquier acto de explotación de la totalidad o parte de los contenidos (imágenes, textos, diseños, índices, formas, etc.) que integran el sitio web, así como de las bases de datos y del software necesario para la visualización o el funcionamiento del mismo, que no cuente con la expresa y previa autorización escrita de HAYPISTA.
</p>
<p>
	No podrás, en ningún caso, explotar o servirte comercialmente, de forma directa o indirecta, total o parcial, de ninguno de los contenidos (imágenes, textos, diseños, índices, formas, etc.) que conformen el sitio web sin la autorización previa y por escrito de HAYPISTA. En caso de que infrinjas la presente licencia, HAYPISTA cancelará tu perfil, sin perjuicio de otras consecuencias que puedan derivarse de dicha infracción.
</p>
<h4>
	CONTENIDOS DE LOS PERFILES DE LOS USUARIOS
</h4>
<p>
	Al publicar contenidos en tu perfil -fotos, archivos, textos, vídeos, sonidos, dibujos, logos o cualquier otro material-
	<strong>
		conservas todos tus derechos sobre los mismos
	</strong>
	y otorgas a HAYPISTA una licencia limitada para reproducir y comunicar públicamente los mismos, para agregarles información y para transformarlos con el objeto de adaptarlos a las necesidades técnicas del Servicio. Esta autorización es mundial, no exclusiva (lo que significa que puedes otorgar otra licencia sobre tu contenido a cualquier persona o entidad, además de a HAYPISTA), por todo el tiempo que tengas vigente tu perfil y con la única y exclusiva finalidad de que HAYPISTA pueda prestarte el servicio en los términos explicados en estas Condiciones de uso.
</p>
<p>
	La anterior licencia quedará rescindida una vez que elimines tu contenido del Servicio o des de baja tu perfil. A partir de ese momento, HAYPISTA interrumpirá la comunicación de tu contenido a la mayor brevedad posible.
</p>
<p>
	En relación con el contenido que publiques en el Servicio, garantizas:
</p>
<ul>
	<li>
		Que eres el propietario o el titular de cualquier otro derecho que te permite conceder a HAYPISTA la licencia para su publicación.
	</li>
	<li>
		Que no vulnera leyes aplicables tales como las relativas al derecho a la intimidad, a la imagen y/o al honor, derechos de propiedad intelectual o industrial o similares ni ningún derecho de un tercero, ya sea una persona o una entidad.
	</li>
</ul>
<p>
	Por ello, mantendrás indemne a HAYPISTA ante cualquier demanda o reclamación presentada por un tercero en relación a cualquier derecho legítimo sobre el contenido que hayas publicado en el Servicio.
</p>
<h4>
	NOTIFICACIÓN DE INFRACCIÓN DE DERECHOS
</h4>
<p>
	En HAYPISTA velamos por la protección de los derechos de sus titulares por lo que, si cualquier persona o entidad detecta que sus contenidos han sido publicados en el Servicio sin su consentimiento, generando una infracción de derechos de propiedad intelectual o industrial y/o de derecho al honor, intimidad o a la imagen o de cualquier otro derecho, podrá comunicarlo a HAYPISTA, enviando un email a
	<a href="mailto:support@haypista.com">
		support@haypista.com
	</a>
	o bien mediante correo postal a la dirección que consta al final de estas Condiciones de Uso y Política de Privacidad Y Protección de Datos Personales (con el asunto en el caso del email o la referencia expresa en correo postal "Infracción de Derechos") y acompañando la siguiente información:
</p>
<ul>
	<li>
		Identificación del contenido o datos personales o derecho protegido que ha sido vulnerado.
	</li>
	<li>
		Identificación del citado contenido de forma suficiente para que en HAYPISTA podamos ubicarlo dentro del Servicio.
	</li>
	<li>
		Identificación suficiente para que HAYPISTA pueda contactar con el reclamante: correo electrónico y teléfono.
	</li>
	<li>
		Copia de su D.N.I, pasaporte o documento oficial similar que permita su identificación.
	</li>
	<li>
		Una declaración firmada en la que el reclamante manifieste que la información anterior es veraz y que afirme ser el legítimo titular (o bien que está autorizado a actuar en su nombre) de los derechos presuntamente vulnerados.
	</li>
</ul>
<h4>
	EVENTOS Y ACTIVIDADES PROMOCIONALES
</h4>
<p>
	Dentro de la página dispones de un espacio denominado "Mis eventos" en el que podrás colgar información sobre cualquier acontecimiento tuyo y, además, podrás invitar a tus amigos dentro de la red de HAYPISTA a que participen en tus eventos personales, por ejemplo, tu fiesta de cumpleaños.
</p>
<p>
	Además de los eventos personales, HAYPISTA puede realizar actividades promocionales de diversa índole. A título de ejemplo, existen los denominados "eventos patrocinados", que son actividades promocionales realizadas por un profesional o empresa con las que HAYPISTA colabora. Estos eventos funcionan de idéntico modo a los eventos personales, con la salvedad de que es HAYPISTA quien te los propone e invita a que te agregues en virtud de su colaboración con las empresas y profesionales. La participación en estos eventos se regirá por los mismos usos y pautas de comportamiento exigidas en el Servicio y contempladas por estas Condiciones de uso. Cuando señales que vas o que quizás vayas a un evento, debes saber que otros usuarios de HAYPISTA que pueden ver el evento, se hayan unido o no al evento, podrán saber que vas a ir o, en su caso, que quizás vayas al evento.
</p>
<h4>
	RESPONSABILIDAD POR INTERACCIONES CON OTROS USUARIOS
</h4>
<p>
	Tú eres el único responsable de las interacciones que tengas con otros usuarios de HAYPISTA. Nosotros no controlamos tus relaciones personales, lo que sí te recomendamos es que elijas bien a tus amigos y a las personas que unes a tu red. Por supuesto, si alguien te acosa, molesta o intimida, debes comunicárnoslo inmediatamente para que adoptemos las medidas oportunas.
</p>
<p>
	HAYPISTA no se hará responsable de aquellos conflictos que pudieras tener con otros usuarios y que no impliquen incumplimiento de las presentes Condiciones de uso por ninguno de vosotros, por ejemplo en el caso de la posible compraventa de productos entre usuarios. HAYPISTA no estará obligado y no será responsable de ello, pero se reserva el derecho a mediar en los posibles conflictos que surjan.
</p>
<h4>
	PUBLICIDAD
</h4>
<p>
	Conoces y aceptas que hay publicidad en el Servicio y que, por tanto, desde tu perfil podrás acceder a publicidad que terceras empresas y profesionales que contraten con HAYPISTA.
</p>
<h4>
	INVITACIONES, RECUPERACIÓN DE CONTRASEÑAS Y OTRAS NOTIFICACIONES
</h4>
<p>
	HAYPISTA podrá poner a tu disposición un servicio de notificaciones a tu correo electrónico para que conozcas los movimientos que hay en tu perfil y en la red de tus amigos de HAYPISTA. Siempre tendrás todo el control sobre si recibes o no este tipo de notificaciones desde el parte de "Preferencias" dentro de la página.
</p>
<p>
	Este servicio de notificaciones no afectará a las comunicaciones que HAYPISTA pueda hacerte para:
</p>
<ul>
	<li>
		Recuperar tu contraseña, en el caso que haya sido olvidada.
	</li>
	<li>
		Enviarte invitaciones para que puedas enviar a nuevos amigos.
	</li>
	<li>
		Cambiar tu cuenta de correo electrónico.
	</li>
</ul>
<p>
	Conoces y aceptas que estos tipos de comunicaciones y cualesquiera otras de naturaleza similar son necesarias y, por tanto, forman parte del Servicio.
</p>
<p>
	Como Usuario de HAYPISTA podrás invitar a amigos para que se unan a HAYPISTA. Basta con que le envíes una invitación a tu amigo a su correo electrónico a través del sistema de invitación automático de HAYPISTA. Esta invitación es un simple vehículo que HAYPISTA pone a tu disposición para que, si quieres, puedas ofrecer a tus contactos la posibilidad de registrarse en HAYPISTA. El envío de esta invitación no implica que tu amigo aparezca registrado en HAYPISTA automáticamente.
</p>
<p>
	Tu amigo tendrá que aceptar la invitación y cumplir con el proceso de registro de Usuario de HAYPISTA.
</p>
<p>
	HAYPISTA no hará uso de los datos que señales en la invitación y especialmente de la cuenta de correo de tu amigo. Serás tu quien respondas frente a tu amigo si hay cualquier tipo de reclamación contra HAYPISTA.
</p>
<p>
	Cuando invites a otros a unirse a HAYPISTA, tú responderás frente al destinatario de tu invitación por cualquier reclamación que éste pudiera efectuar a HAYPISTA exonerando a esta última de toda responsabilidad que pudiera derivarse de dicha invitación.
</p>
<h4>
	USO DE ENLACES
</h4>
<p>
	QUEDA PROHIBIDO EL USO de cualesquiera recursos técnicos, lógicos o tecnológicos en virtud de los cuales alguien, usuario o no de HAYPISTA, pueda beneficiarse, directa o indirectamente, con o sin lucro, de los perfiles y de los contenidos del sitio web.
</p>
<p>
	Nadie podrá insertar en su web, blog, foro, perfil de HAYPISTA o de cualquier red social, un link, hyperlink, framing o vínculo similar que redireccione a URLs de contenidos de HAYPISTA y/o perfiles de HAYPISTA. Si HAYPISTA detectara algún enlace de estas características que pudiera vulnerar los derechos a la intimidad, el honor y la propia imagen de sus usuarios, estará plenamente legitimada para actuar con el fin de eliminar ese enlace y, en su caso, ponerlo en conocimiento de las autoridades competentes.
</p>
<h4>
	SERVICIO MOVIL DE HAYPISTA
</h4>
<p>
	Todo lo dispuesto en estas Condiciones de uso será aplicable a los accesos que hagas al Servicio a través del teléfono móvil.
</p>
<p>
	A este respecto, tienes que tener en cuenta que nosotros no cobramos por el acceso móvil al Servicio, pero que tu operador de telefonía móvil te aplicará la tarifa que tengas contratada para el envío y recepción de datos.
</p>
<p>
	HAYPISTA no se hace responsable de las restricciones que el operador móvil pueda tener impuestas y que pudieran hacer que el Servicio no funcionara con normalidad. Asimismo, tú eres responsable de conocer si tu operador móvil, tus servicios contratados y tu terminal móvil son los idóneos para el acceso al Servicio.
</p>
<h4>
	MODIFICACIONES
</h4>
<p>
	HAYPISTA podrá sustituir, en cualquier momento, las Condiciones de uso y la Política de Privacidad y Protección de datos y que, según los casos, sustituirán, completarán y/o modificarán las Condiciones de uso y Política de Privacidad aquí recogidas.
</p>
<p>
	Cuando HAYPISTA sustituya o modifique las Condiciones de uso o la Política de Privacidad y Protección de datos, te avisaremos de ello a través del sitio web y si, una vez te hemos informado de ello, continúas utilizando el Servicio, entenderemos que has aceptado las modificaciones introducidas. Si no estuvieras de acuerdo con las modificaciones efectuadas, podrás darte de baja en el servicio siguiendo el procedimiento habilitado para ello.
</p>
<h4>
	LEY APLICABLE Y JURISDICCIÓN
</h4>
<p>
	La normativa vigente determinará las leyes que deban regir y la jurisdicción que deba conocer de las relaciones entre HAYPISTA y los Usuarios del Sitio Web. Ello no obstante, en aquellos casos en los que dicha normativa vigente prevea la posibilidad para las partes de someterse a un fuero determinado, HAYPISTA y el Usuario, con renuncia expresa a cualquier otro fuero que pudiera corresponderles, se someten a los Juzgados y Tribunales de la ciudad de Madrid.
</p>
<h4>
	POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS PERSONALES
</h4>
<p>
	Para poder ser Usuario de HAYPISTA, y tener tu perfil en HAYPISTA, es necesario que leas nuestra Política de Protección de Datos Personales y nos des tu consentimiento a través de la casilla que aparece en este formulario de registro para que podamos tratar tus datos.
</p>
<h4>
	USUARIO Y PERFILES
</h4>
<p>
	HAYPISTA es una plataforma social privada que facilita la comunicación entre tus amigos y tú. Permite saber qué cosas están pasando a tu alrededor y te ayuda a conectar con tus amigos y a hacer contactos de todo tipo de redes como el colegio, universidad, trabajo, zonas de marcha y demás.
</p>
<p>
	Para poder ser Usuario de HAYPISTA es necesario que antes hayas recibido en tu correo electrónico una invitación de un amigo que ya sea Usuario de HAYPISTA.
</p>
<p>
	Una vez que hayas aceptado la invitación de tu amigo, es necesario que te registres y para ello deberás rellenar el formulario con los siguientes datos personales reales:
</p>
<ul>
	<li>
		Nombre y Apellidos.
	</li>
	<li>
		Si estás en el colegio, en la Universidad o trabajando.
	</li>
	<li>
		Fecha de nacimiento.
	</li>
	<li>
		Provincia de residencia.
	</li>
	<li>
		E-mail.
	</li>
</ul>
<p>
	Si quieres, podrás dar voluntariamente a HAYPISTA más información relacionada contigo, como, por ejemplo, dirección, teléfono, tus gustos, aficiones, zonas de marcha o similares.
</p>
<p>
	Esta información estará disponible y podrá ser modificada por ti a través de tu perfil.
</p>
<p>
	Tener un perfil en HAYPISTA supone que tienes que ser tú en todo momento y que no te puedas hacer pasar por nadie. Tienes que ser totalmente responsable y debes introducir tus datos reales y veraces. Desde HAYPISTA procuraremos comprobar la veracidad de tus datos, y nos reservamos, sin perjuicio de otras acciones, el derecho a no registrarte o a darte de baja si los datos que nos has facilitado son falsos o incompletos. La obligación de tener un perfil real es esencial en HAYPISTA. Asimismo, te informamos de que en HAYPISTA, como plataforma social privada, nos reservamos el derecho de admisión, teniendo la facultad de cancelar unilateralmente los perfiles que no nos parezcan adecuados por su contenido en relación con el Servicio.
</p>
<p>
	Cuando te registras en HAYPISTA, tienes un perfil HAYPISTA en el que cuelgas y compartes, como quieras, y con quién desees, tu información personal real. La información personal será compartida en HAYPISTA con las condiciones de privacidad que tú mismo elijas y bajo tu exclusivo control.
</p>
<p>
	Te corresponde a ti controlar, en todo momento, tu información personal por eso te pedimos y recomendamos que seas cuidadoso con la información personal que compartes y con quién la compartes. Además, como Usuario de HAYPISTA nos tienes que informar de cualquier cambio que se produzca en los datos que nos has dado. Puedes acceder a "Mi cuenta","Información personal" y realizar los cambios que quieras.
</p>
<h4>
	INVITACIONES
</h4>
<p>
	Como Usuario de HAYPISTA podrás invitar a amigos para que se unan a HAYPISTA. Basta con que le envíes una invitación a tu amigo a su correo electrónico a través del sistema de invitación automático de HAYPISTA. Esta invitación es un simple vehículo que HAYPISTA pone a tu disposición para que, si quieres, puedas ofrecer a tus contactos la posibilidad de registrarse en HAYPISTA. El envío de esta invitación no implica que tu amigo aparezca registrado en HAYPISTA automáticamente.
</p>
<p>
	Tu amigo tendrá que aceptar la invitación y cumplir con el proceso de registro de Usuario de HAYPISTA.
</p>
<p>
	HAYPISTA no almacenará los datos que señales en la invitación, y especialmente de la cuenta de correo de tu amigo, la cual será utilizada única y exclusivamente para lanzar tu invitación. Serás tú quien respondas frente a tu amigo si hay cualquier tipo de reclamación contra HAYPISTA.
</p>
<p>
	Como Usuario deberás hacer un uso adecuado del sistema de invitaciones de acuerdo con lo previsto en las
	<u>
		Condiciones de uso
	</u>
	.
</p>
<h4>
	EDAD MÍNIMA PARA TENER PERFIL
</h4>
<p>
	Es muy importante que sepas que sólo puedes ser Usuario de HAYPISTA si eres mayor de 14 años. Como mayor de 14 años eres responsable de la edad que dices tener.
</p>
<p>
	El equipo de HAYPISTA puede ponerse en contacto contigo, en cualquier momento, para que demuestres tu edad real aportándonos fotocopia de tu DNI o un documento equivalente. Si no nos das esa información dentro del plazo que te digamos, desde HAYPISTA nos reservamos el derecho a bloquear o cancelar tu perfil.
</p>
<p>
	Los datos del DNI o del documento que se aporte serán utilizados única y exclusivamente por el personal autorizado de HAYPISTA para realizar esta tarea de identificación, en ningún caso, se almacenará o tratará para otro fin.
</p>
<p>
	Si tienes entre 14 y 18 años, te recomendamos que informes y consultes con tus padres o tutores legales a la hora de transmitir información a terceros con los que hayas contactado a través del Servicio.
</p>
<p>
	Si somos informados de que un menor está registrado como Usuario en HAYPISTA, adoptaremos las medidas necesarias y podremos eliminar o bloquear el perfil de Usuario.
</p>
<p>
	Te pedimos que cualquier abuso o vulneración de las presentes condiciones que detectes y, en particular, aquellos que afecten a menores, nos lo digas inmediatamente a través de
	<a href="mailto:support@haypista.com">
		support@haypista.com
	</a>
	.
</p>
<h4>
	NIVELES DE PRIVACIDAD
</h4>
<p>
	HAYPISTA pone a tu disposición niveles de privacidad para garantizar la seguridad de tus datos. De esta manera, serás tú quién, bajo tu exclusiva responsabilidad decidas, por tu cuenta y riesgo, quién tiene acceso a tu información personal.
</p>
<p>
	Como Usuario de HAYPISTA podrás controlar en todo momento la privacidad de tu perfil y sus diferentes elementos; tus fotos, tu tablón, la recepción de mensajes y/o la visibilidad de tus números de teléfono. A continuación te señalamos cómo controlar tu privacidad en diferentes niveles atendiendo al tipo de contenido y en función de tres categorías. Tú eres el único responsable del nivel de privacidad que elijas.
</p>
<p>
	El primer nivel de privacidad que HAYPISTA te ofrece afecta a tu perfil y tus fotos y podrás elegir entre estas categorías:
</p>
<p>
	Sólo mis amigos. Supone que sólo los amigos que tú hayas seleccionado tendrán acceso a tus datos e información de tu perfil.
</p>
<p>
	Sólo hasta amigos de mis amigos. Supone que los amigos que tu hayas seleccionado, y los amigos seleccionados por cada uno de ellos, tendrán acceso a tus datos y a la información de tu perfil.
</p>
<p>
	Todos los miembros de HAYPISTA. Supone que todas las personas con perfil en HAYPISTA tendrán acceso a tus datos y a la información de tu perfil.
</p>
<p>
	Adicionalmente, te ofrecemos un nivel más de privacidad, donde podrás controlar quién puede enviarte mensajes y postear en tu tablón dentro de las tres categorías anteriormente señaladas: Sólo mis amigos, Sólo hasta amigos de mis amigos o Todos los miembros de HAYPISTA.
</p>
<p>
	Igualmente, en un nivel de privacidad más, podrás decidir quién puede ver tus números de teléfono dentro de las tres categorías mencionadas: Sólo mis amigos, Sólo hasta amigos de mis amigos o Todos los miembros de HAYPISTA.
</p>
<p>
	De forma complementaria y compatible con los anteriores niveles de privacidad escogidos, podrás optar por no permitir que nadie que vea tu tablón y/o que nadie pueda descargar tus fotos. Asimismo, tendrás la posibilidad de bloquear a Usuarios no deseados.
</p>
<p>
	En caso de que HAYPISTA añadiese niveles de privacidad adicionales, serás oportunamente informado de ello conforme a lo aquí establecido. HAYPISTA no será responsable, en ningún caso, de cualquier reclamación relacionada con los controles de seguridad elegidos y con el acceso a tu información por parte de otros Usuarios.
</p>
<p>
	HAYPISTA no controla y, por tanto, no asume ninguna responsabilidad en la posible recogida y tratamiento de información de Usuarios por parte de otros Usuarios o por terceros.
</p>
<p>
	Además, tienes que saber que en HAYPISTA hay un buscador que te permite buscar a otros Usuarios miembros de HAYPISTA. En las búsquedas generales que los Usuarios registrados realicen por los perfiles de HAYPISTA, no se tiene acceso a la información del perfil de los Usuarios. En estos casos, la única información que se comparte totalmente y se muestra como presentación será el nombre del Usuario, las redes a las que perteneces, y, en su caso, la foto que el Usuario decida colgar como foto principal. Esta misma información también será accesible dentro de los eventos, en relación a los usuarios que hubieran indicado su intención de acudir o "quizás acudir" al evento.
</p>
<h4>
	TRATAMIENTO DE DATOS PERSONALES Y PUBLICIDAD
</h4>
<p>
	Los datos que aportas en el proceso de registro a HAYPISTA los incluimos en la base de datos de Usuarios de la cual hemos informado a la Agencia Española de Protección de Datos.
</p>
<p>
	Para tu información, la Agencia Española de Protección de Datos es una entidad que se encarga de velar por el cumplimiento de las leyes que protegen los datos personales y garantizar la seguridad y privacidad de los datos.
</p>
<p>
	Si recogemos tus datos y los tratamos es para poder identificarte como Usuario de HAYPISTA, darte acceso a HAYPISTA y poner a tu disposición todas las facilidades y aplicaciones de nuestra plataforma social privada. Además, te mantendremos informado a través de la propia red de todas las novedades que surjan sobre HAYPISTA.
</p>
<p>
	Además, visualizarás en la red información de empresas con las que HAYPISTA colabora.
</p>
<p>
	También podrás acceder en tu red a eventos patrocinados. Estos eventos, son actividades patrocinadas por una empresa con la que HAYPISTA colabora y en los que, si estás interesado, puedes participar.
</p>
<p>
	Como Usuario de HAYPISTA tienes derecho a poder acceder a tus datos personales para saber cómo los tratamos y con que finalidad y decirnos si te opones a que usemos tus datos para una actividad concreta. Además, podrás rectificar tus datos si ves que no son correctos e incluso podrás pedirnos que los cancelemos si no quieres ser Usuario de HAYPISTA.
</p>
<p>
	Para todo ello tendrás que contactar con nosotros enviándonos un correo electrónico a
	<a href="mailto:support@haypista.com">
		support@haypista.com
	</a>
	. Te informamos que para poder hacer cualquiera de las acciones que te hemos señalado te pediremos el DNI u otro documento que te identifique para asegurarnos y comprobar que eres tú quien se ha puesto en contacto con nosotros.
</p>
<h4>
	CONTENIDOS E INFORMACIÓN PERSONAL
</h4>
<p>
	Además de datos personales, podrás compartir en tu perfil textos, fotos, vídeos… y otro tipo de información que estará sujeta a las
	<u>
		Condiciones de Uso de HAYPISTA
	</u>
	.
</p>
<p>
	HAYPISTA no controla la información que compartes con otros Usuarios y por tanto no nos hacemos responsable de esa información. No obstante, si sabes que hay una información o contenido en HAYPISTA que pueda ser indebido y ser contrario a nuestra Política de Protección de Datos Personales y nuestras
	<u>
		Condiciones de Uso
	</u>
	ponte en contacto con nosotros por correo electrónico a
	<a href="mailto:support@haypista.com">
		support@haypista.com
	</a>
	.
</p>
<h4>
	BAJA EN HAYPISTA
</h4>
<p>
	Para darte de baja en HAYPISTA solo tienes que entrar en ¨Mi cuenta¨, ¨Preferencias de mi cuenta¨ y pulsar el botón ¨Eliminar cuenta¨ que encontrarás al final de la página.
</p>
<p>
	Te informamos que si te das de baja en HAYPISTA no podrás volver a entrar con tu misma cuenta y perderás toda la información personal, incluida las fotos, que aparecen en tu perfil.
</p>
<p>
	Para cualquier duda que tengas puedes contactar con nosotros enviándonos un correo electrónico a
	<a href="mailto:support@haypista.com">
		support@haypista.com
	</a>
	.
</p>






