<% display = false %>

<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Condiciones de Uso
		</b>
	</font>
</p>
<p>
	<font face="Tahoma" size="1">
		Fecha de la última revisión 20 Noviembre de 2009.
	</font>
</p>

<% if display %>
<p>
	<font face="Times New Roman" size="3">
		Bienvenido a HayPista, una red social que te permitirá&nbsp;conectarte con las personas de tu entorno. El servicio y la red HayPista (conjuntamente, "HayPista" o "el Servicio") son administrados por HayPista, Inc. y sus filiales (conjuntamente, "nosotros" o "la Compañía"). Al utilizar o acceder a nuestro sitio web en
		<a href="http://www.haypista.com" target="_blank">
			www.haypista.com
		</a>
		o la versión móvil del mismo (conjuntamente, el "Sitio") o al publicar un Botón Compartir en tu sitio, tú (el "Usuario") manifiestas que has leído y comprendido y te obligas a cumplir las presentes Condiciones de Uso (las "Condiciones de Uso" o el "Contrato"), tanto si eres miembro registrado de HayPista como si no lo eres. Nos reservamos el derecho, a nuestra elección exclusiva, de cambiar, modificar, agregar o eliminar partes de las presentes Condiciones de Uso en cualquier momento y sin previo aviso. En tal caso, publicaremos las modificaciones de las Condiciones de Uso en esta página e indicaremos en la parte superior de la misma la fecha de última revisión de las condiciones. Si continúas utilizando el Servicio o el Sitio una vez introducidas tales modificaciones habrás aceptado implícitamente las nuevas Condiciones de Uso. Si no aceptas cumplir éstas o las futuras Condiciones de Uso, no utilices (ni sigas utilizando) el Servicio o el Sitio ni accedas (ni sigas accediendo) a los mismos. Eres responsable de visitar regularmente el Sitio para determinar si se han modificado las presentes Condiciones de Uso y consultar tales modificaciones.
	</font>
</p>
<% end -%>

<p>
	<font face="Times New Roman" size="3">
		<b>
			LEE ATENTAMENTE ESTAS CONDICIONES DE USO, DADO QUE CONTIENEN INFORMACIÓN IMPORTANTE ACERCA DE TUS DERECHOS LEGALES, LOS MEDIOS PARA HACER VALER TALES DERECHOS Y TUS OBLIGACIONES. ESTAS CONDICIONES INCLUYEN DIVERSAS LIMITACIONES Y EXCLUSIONES, ASÍ COMO UNA CLÁUSULA DE RESOLUCIÓN DE CONFLICTOS QUE REGULA EL MODO EN QUE SE DIRIMIRÁ CUALQUIER CONTROVERSIA.
		</b>
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Admisión
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		La admisión como miembro del Servicio no es posible en aquellos supuestos en que esté prohibida. Este Sitio está destinado exclusivamente a usuarios mayores de trece (13) años y a usuarios del Sitio menores de 18 años que estén cursando estudios de enseñanza secundaria o superior. El registro en el Sitio, su uso o el acceso al mismo por parte de personas menores de 13 años, o por personas menores de 18 años que no estén cursando estudios de enseñanza secundaria o superior no está permitido, no se autoriza bajo licencia y constituye una infracción de las presentes Condiciones de Uso. Al usar el Servicio o el Sitio, manifiestas y garantizas que eres mayor de 13 años y estás cursando estudios de enseñanza secundaria o superior, o bien que eres mayor de 18 años, y aceptas y te obligas a cumplir todos los términos y condiciones del presente Contrato.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Datos de Registro; Seguridad de la Cuenta
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Tomando en cuenta su uso de la Página, Usted accede a (a) suministrar información verdadera, actualizada y completa sobre sí&nbsp;mismo como puede ser requerido por cualquiera de las planillas de registro de la Página ("Datos de Registro"); (b) mantener la seguridad de su contraseña e identificación; (c) mantener y actualizar prontamente los Datos de Registro y cualquier otra información suministrada a la Compañía, para mantenerla correcta, actualizada y completa; a (d) hacerse totalmente responsable por todo uso de su cuenta, así como por cualquier acción que tenga lugar mediante el uso de la misma.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Derechos Exclusivos sobre el Contenido del Sitio; Licencia Limitada
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Todo el contenido del Sitio y todo el contenido disponible a través del Servicio, incluyendo diseños, texto, gráficos, imágenes, vídeo, información, aplicaciones, software, música, sonido y otros archivos, así&nbsp;como su selección y disposición (el "Contenido del Sitio"), son propiedad exclusiva de la Compañía, de sus usuarios o de sus licenciantes, con todos los derechos reservados. Ninguna parte del Contenido del Sitio podrá ser modificada, copiada, distribuida, enmarcada, reproducida, republicada, descargada, extraída, mostrada, publicada, transmitida o vendida en modo alguno o por ningún medio, total o parcialmente, sin el previo consentimiento por escrito de la Compañía, en el bien entendido, no obstante, de que lo dispuesto anteriormente no será de aplicación a tu propio Contenido de Usuario (según se define más adelante) que publiques legalmente en el Sitio. Siempre y cuando estés legitimado para usar el Sitio, la Compañía te otorga una licencia limitada para usar y acceder al Sitio y al Contenido del Sitio y para descargar o imprimir una copia de cualquier parte del Contenido del Sitio a la que hayas obtenido acceso legítimamente y sólo para tu uso personal y no comercial, siempre y cuando mantengas intactas todas las advertencias sobre derechos de autor y propiedad intelectual. Salvo en lo que respecta a tu propio Contenido de Usuario, no podrás cargar o republicar Contenido del Sitio en ningún sitio de Internet, Intranet o Extranet ni integrar la información en ninguna otra base de datos o compilación; cualquier otro uso del Contenido del Sitio queda estrictamente prohibido. Esta licencia queda sujeta a las presentes Condiciones de Uso y no incluye el uso de métodos de recopilación o extracción de datos (data mining, robots o similares). El uso del Sitio o del Contenido del Sitio de modo distinto al específicamente autorizado en las presentes Condiciones de Uso, sin el previo consentimiento por escrito de la Compañía, queda estrictamente prohibido y revocará la licencia otorgada en virtud del presente Contrato. El uso no autorizado podrá constituir asimismo una infracción de la legislación aplicable, incluyendo las leyes de marcas y derechos de autor, y de las normativas y reglamentos aplicables en materia de comunicaciones. Salvo que se indique expresamente lo contrario en el presente Contrato, nada de lo dispuesto en las presentes Condiciones de Uso deberá interpretarse en el sentido de otorgar una licencia sobre derechos de propiedad intelectual, ya sea por impedimento legal, implícitamente o de cualquier otra forma. Esta licencia podrá ser revocada en cualquier momento y sin preaviso, con o sin causa.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Marcas
		</b>
	</font>
</p>

<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Conducta del Usuario
		</b>
	</font>
</p>

<ul type="DISC">
	<li>
		<font face="Tahoma" size="1">
			recopilar direcciones de correo electrónico u otra información de contacto de otros usuarios a través del Servicio o del Sitio por medios electrónicos u otros medios con la finalidad de enviar correos electrónicos no solicitados u otras comunicaciones no solicitadas;
		</font>
	</li>
	<li>
		<font face="Tahoma" size="1">
			usar el Servicio o el Sitio de forma ilegal o de forma que pueda dañar, deshabilitar, sobrecargar o perjudicar el Sitio;
		</font>
	</li>
	<li>
		<font face="Tahoma" size="1">
			usar secuencias de comandos automatizadas para recopilar información a través del Servicio o del Sitio o para interactuar de cualquier otro modo con los mismos;
		</font>
	</li>
	<li>
		<font face="Tahoma" size="1">
			cargar, publicar, transmitir, compartir, almacenar o facilitar cualquier contenido que se considere dañino, amenazante, ilegal, difamatorio, infractor, abusivo, incendiario, acosador, vulgar, obsceno, fraudulento, que vulnere el derecho a la intimidad y la propia imagen, que sea malicioso o cuestionable por motivos de raza, etnia o cualquier otro;
		</font>
	</li>
	<li>
		<font face="Tahoma" size="1">
			cargar, publicar, transmitir, compartir, almacenar o facilitar videos que no sean de naturaleza personal y que: (i) sean relativos a ti o a tus amigos, (ii) hayan sido grabados por ti o por tus amigos, o (iii) sean obras o animaciones originales creadas por ti o por tus amigos;
		</font>
	</li>
	<li>
		<font face="Tahoma" size="1">
			registrar más de una cuenta de Usuario, registrar una cuenta de Usuario en nombre de otra persona o registrar una cuenta de Usuario en nombre de un grupo o entidad;
		</font>
	</li>
	<li>
		<font face="Tahoma" size="1">
			hacerte pasar por otra persona o entidad, realizar manifestaciones falsas o proporcionar información falsa acerca de ti, tu edad o tu relación con cualquier persona o entidad;
		</font>
	</li>
	<li>
		<font face="Tahoma" size="1">
			cargar, publicar, transmitir, compartir, almacenar o facilitar publicidad no solicitada o no autorizada, ofrecimientos ilícitos, materiales promocionales, "correo basura", "spam", "cartas encadenadas", "esquemas piramidales" o cualquier otro tipo de comunicaciones ilícitas;
		</font>
	</li>
	<li>
		<font face="Tahoma" size="1">
			cargar, publicar, transmitir, compartir, almacenar o facilitar en el Sitio datos personales de cualquier tercero, incluyendo direcciones, números de teléfono, direcciones de correo electrónico, números de la Seguridad Social o números de tarjetas de crédito;
		</font>
	</li>
	<li>
		<font face="Tahoma" size="1">
			solicitar datos personales a menores de 18 años o solicitar contraseñas o datos de carácter personal con fines comerciales o ilícitos;
		</font>
	</li>
	<li>
		<font face="Tahoma" size="1">
			cargar, publicar, transmitir, compartir o facilitar material que contenga virus informáticos o cualquier otro código, archivo o programa informático diseñado para interrumpir, destruir o limitar la funcionalidad de cualquier software o hardware o equipo de telecomunicaciones;
		</font>
	</li>
	<li>
		<font face="Tahoma" size="1">
			intimidar o acosar a otras personas;
		</font>
	</li>
	<li>
		<font face="Tahoma" size="1">
			cargar, publicar, transmitir, compartir, almacenar o facilitar contenido que constituya, incite o proporcione instrucciones para cometer delitos, que infrinja los derechos de un tercero, dé lugar responsabilidades o vulnere cualquier ley de ámbito local, estatal, nacional o internacional;
		</font>
	</li>
	<li>
		<font face="Tahoma" size="1">
			usar o intentar usar la cuenta, el servicio o el sistema de otra persona sin la autorización de la Compañía, o crear una identidad falsa para usar el Servicio o el Sitio.
		</font>
	</li>
	<li>
		<font face="Tahoma" size="1">
			cargar, publicar, transmitir, compartir, almacenar o facilitar contenido que, a juicio exclusivo de la Compañía, sea cuestionable o que restrinja o impida el uso o disfrute del Sitio por otras personas, o que pueda exponer a la Compañía o a sus usuarios a daños o responsabilidades de cualquier tipo.
		</font>
	</li>
</ul>
<p>
	<font face="Times New Roman" size="3">
		Sin limitación de lo anterior, también te obligas a cumplir nuestro
	</font>
	<a href="http://es-es.haypista.com/codeofconduct.php" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				Código de Conducta de HayPista
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		, que proporciona información adicional acerca de la conducta autorizada de los usuarios de HayPista.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Contenido de Usuario Publicado en el Sitio
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Serás enteramente responsable de las fotos, perfiles (incluyendo tu nombre, imagen y representación de tu persona), mensajes, notas, texto, información, música, video, anuncios, listas y demás contenido que cargues, publiques o muestres (en adelante, "publicar") en el Servicio, en el Sitio o a través de los mismos, o que transmitas a otros usuarios o compartas con otros usuarios (conjuntamente el "Contenido de Usuario"). No podrás publicar, transmitir o compartir Contenido de Usuario en el Sitio o Servicio que no hayas creado o que no estés autorizado a publicar. Reconoces y aceptas que la Compañía podrá, sin constituir su obligación, revisar el Sitio y podrá eliminar o retirar (sin previo aviso) cualquier Contenido del Sitio o Contenido de Usuario a su elección exclusiva, con o sin causa, incluyendo aquel Contenido de Usuario que, a juicio exclusivo de la Compañía, infrinja el presente Contrato o el
	</font>
	<a href="http://es-es.haypista.com/codeofconduct.php" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				Código de Conducta de HayPista
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		, que pueda ser ofensivo o ilegal o que infrinja los derechos o dañe o amenace la seguridad de los usuarios u otras personas. Serás enteramente responsable, exclusivamente a tu cargo, de crear copias de seguridad y sustituir cualquier Contenido de Usuario que publiques o almacenes en el Sitio o proporciones a la Compañía.&nbsp;
		<br>
		&nbsp;
		<br>
		Al publicar Contenido de Usuario en el Sitio, nos autorizas e instruyes para que realicemos las copias del mismo que estimemos necesarias para facilitar la publicación y el almacenamiento del Contenido de Usuario en el Sitio. Al publicar el Contenido de Usuario en cualquier parte del Sitio, otorgas automáticamente a la Compañía, y manifiestas y garantizas que tienes derecho a otorgar a la Compañía, una licencia irrevocable, perpetua, no exclusiva, transferible, plenamente desembolsada y mundial (con derecho de sublicencia) para usar, copiar, reproducir públicamente, mostrar públicamente, reformatear, traducir, obtener extractos (totales o parciales) y distribuir dicho Contenido de Usuario para cualquier fin, ya sea comercial, publicitario o de otro tipo, en relación con el Sitio o la promoción del mismo, para preparar trabajos derivados de dicho Contenido de Usuario o incorporarlo a otros trabajos, y para otorgar y autorizar sublicencias de lo anterior. Podrás retirar tu Contenido de Usuario del Sitio en cualquier momento. Si decides retirar tu Contenido de Usuario, la licencia otorgada conforme a lo dispuesto anteriormente quedará automáticamente revocada. No obstante lo anterior, reconoces que la Compañía podrá conservar copias archivadas de tu Contenido de Usuario. HayPista no reivindica ningún derecho de propiedad sobre tu Contenido de Usuario y reconoce frente a ti que, con sujeción a los derechos que nos asisten en virtud de las presentes Condiciones, conservarás la titularidad exclusiva de todo tu Contenido de Usuario y cualesquiera derechos de propiedad intelectual o autor vinculados a tu Contenido de Usuario.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Servicios Móviles de HayPista
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Todo el contenido del Sitio y todo el contenido disponible a través del Servicio, incluyendo diseños, texto, gráficos, imágenes, video, información, aplicaciones, software, música, sonido y otros archivos, así como su selección y disposición (el "Contenido del Sitio"), son propiedad exclusiva de la Compañía, de sus usuarios o de sus licenciantes, con todos los derechos reservados. Ninguna parte del Contenido del Sitio podrá ser modificada, copiada, distribuida, enmarcada, reproducida, republicada, descargada, extraída, mostrada, publicada, transmitida o vendida en modo alguno o por ningún medio, total o parcialmente, sin el previo consentimiento por escrito de la Compañía, en el bien entendido, no obstante, de que lo dispuesto anteriormente no será de aplicación a tu propio Contenido de Usuario (según se define más adelante) que publiques legalmente en el Sitio. Siempre y cuando estés legitimado para usar el Sitio, la Compañía te otorga una licencia limitada para usar y acceder al Sitio y al Contenido del Sitio y para descargar o imprimir una copia de cualquier parte del Contenido del Sitio a la que hayas obtenido acceso legítimamente y sólo para tu uso personal y no comercial, siempre y cuando mantengas intactas todas las advertencias sobre derechos de autor y propiedad intelectual. Salvo en lo que respecta a tu propio Contenido de Usuario, no podrás cargar o republicar Contenido del Sitio en ningún sitio de Internet, Intranet o Extranet ni integrar la información en ninguna otra base de datos o compilación; cualquier otro uso del Contenido del Sitio queda estrictamente prohibido. Esta licencia queda sujeta a las presentes Condiciones de Uso y no incluye el uso de métodos de recopilación o extracción de datos (data mining, robots, extracción o similares). El uso del Sitio o del Contenido del Sitio de modo distinto al específicamente autorizado en las presentes Condiciones de Uso, sin el previo consentimiento por escrito de la Compañía, queda estrictamente prohibido y revocará la licencia otorgada en virtud del presente Contrato. El uso no autorizado podrá constituir asimismo una infracción de la legislación aplicable, incluyendo las leyes de marcas y derechos de autor, y de las normativas y reglamentos aplicables en materia de comunicaciones. Salvo que se indique expresamente lo contrario en el presente Contrato, nada de lo dispuesto en las presentes Condiciones de Uso deberá interpretarse en el sentido de otorgar una licencia sobre derechos de propiedad intelectual, ya sea por impedimento legal, implícitamente o de cualquier otra forma. Esta licencia podrá ser revocada en cualquier momento y sin preaviso, con o sin causa.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Reclamaciones por Infracción de Derechos de Autor
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Respetamos los derechos de propiedad intelectual de terceros y prohibimos que los usuarios carguen, publiquen o transmitan en el sitio web o en el servicio de HayPista cualquier material que infrinja los derechos de propiedad intelectual de un tercero. Cuando recibamos formalmente una Advertencia de Presunta Infracción de Derechos de Autor, según se describe en nuestra
	</font>
	<a href="http://es-es.haypista.com/copyright.php" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				Política de HayPista en materia de Protección de Derechos de Autor
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		, retiraremos o deshabilitaremos inmediatamente el acceso al material presuntamente infractor y cerraremos las cuentas de cualquier infractor reincidente de conformidad con lo dispuesto en el presente documento y en la Ley de Protección de Derechos de Autor en la Era Digital (Digital Millenium Copyright Act). Si consideras que algún material del Sitio infringe cualquier derecho de autor del que seas titular o que se encuentre bajo tu control, podrás notificar por escrito dicha infracción a nuestro Agente Designado. Consulta la
	</font>
	<a href="http://es-es.haypista.com/copyright.php" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				Política de HayPista en materia de Protección de Derechos de Autor
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		para obtener más información sobre cómo denunciar infracciones de derechos de autor.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Política sobre Infractores Reincidentes
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		De conformidad con la Digital Millennium Copyright Act (DMCA) y demás leyes aplicables, la Compañía ha adoptado, como política, la expulsión de aquellos miembros que considere infractores reincidentes en determinadas circunstancias y a su elección exclusiva. La Compañía podrá asimismo y a su libre elección limitar el acceso al Sitio y/o expulsar a aquellos usuarios que infrinjan los derechos de propiedad intelectual de terceros, con independencia de que hayan reincidido o no en la comisión de la infracción.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Sitios Web y Contenido de Terceros
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		El Sitio contiene (o es posible que recibas a través del Sitio o del Servicio) vínculos a otros sitios web (los "Sitios de Terceros"), así&nbsp;como artículos, fotografías, texto, gráficos, imágenes, diseños, música, sonido, video, información, aplicaciones, software y otros contenidos o elementos pertenecientes a terceros u originados a través de terceros (las "Aplicaciones, Software o Contenido de Terceros"). No comprobamos ni verificamos la exactitud, adecuación o exhaustividad de tales Sitios de Terceros, Aplicaciones, Software o Contenido de Terceros, y no nos hacemos responsables de los Sitios de Terceros a los que se acceda a través del Sitio ni de las Aplicaciones, Software o Contenido de Terceros que se publiquen en el Sitio, a los que se pueda acceder a través del Sitio o que se instalen desde el Sitio, incluyendo en lo que respecta al contenido, la exactitud, el carácter ofensivo, las opiniones, la fiabilidad, la política de privacidad o demás políticas de los Sitios de Terceros o las Aplicaciones, Software o Contenido de Terceros. La inclusión de cualesquiera Aplicaciones, Software o Contenido de Terceros, la creación de vínculos a cualquier Sitio de Terceros o a cualesquiera Aplicaciones, Software o Contenido de Terceros o nuestra autorización para la utilización o instalación de cualquier Sitio de Terceros o cualesquiera Aplicaciones, Software o Contenido de Terceros no significa que aprobemos o patrocinemos tales Sitios de Terceros, Aplicaciones, Software o Contenido de Terceros. Si deseas abandonar el Sitio y acceder a los Sitios de Terceros o usar o instalar cualesquiera Aplicaciones, Software o Contenido de Terceros, lo harás por tu cuenta y riesgo, en cuyo caso reconoces y aceptas que nuestras condiciones y políticas dejarán de ser de aplicación. Deberás consultar las condiciones y políticas aplicables, incluyendo las políticas en materia de privacidad y recogida de datos, de cualquier sitio al que accedas a través del Sitio o que esté relacionado con las aplicaciones que, en su caso, uses o instales desde el Sitio.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Servicio Compartir
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		La Compañía ofrece una función que permite a los usuarios del Sitio compartir con otras personas o publicar sus propios perfiles de miembro, videos, artículos y demás Aplicaciones, Software o Contenido de Terceros desde los Sitios de Terceros y/o vínculos a los Sitios de Terceros, a través del Servicio (el "Servicio Compartir"). Reconoces y aceptas que el uso que hagas del Servicio Compartir y de todos los vínculos, todo el Contenido de Usuario y todas las Aplicaciones, Software o Contenido de Terceros que se compartan a través del Servicio Compartir estará sujeto a las normas de conducta para usuarios que se establecen anteriormente y deberá cumplir con los demás términos y condiciones que se recogen en las presentes Condiciones de Uso.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Uso de Vínculos Compartir por los Proveedores de Contenido Online
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Con sujeción a los términos y condiciones de las presentes Condiciones de Uso, los Sitios de Terceros que cumplan los requisitos expuestos a continuación podrán colocar un Vínculo Compartir (según se describe a continuación), de la forma que apruebe la Compañía, en las páginas de sus sitios web para facilitar el uso del Servicio Compartir. Un Sitio de Terceros que coloque un Vínculo Compartir en su sitio se denominará en el presente Contrato un "Proveedor de Contenido Online" y deberá cumplir con las disposiciones aplicables de las presentes Condiciones de Uso. Un "Vínculo Compartir" es un botón y/o un vínculo de texto que aparece en la página web de un Proveedor de Contenido Online que, al ser accionado mediante un clic por el usuario, nos permite iniciar un mecanismo a través del cual los usuarios pueden compartir con otras personas o publicar sus propios perfiles de miembro, vínculos y contenidos desde dicha página.&nbsp;
		<br>
		&nbsp;
		<br>
		En caso de que el Vínculo Compartir sea un botón que contenga iconos, imágenes gráficas, marcas u otros materiales propiedad de la Compañía, se autoriza al Proveedor de Contenido Online para utilizar tales imágenes, marcas o materiales exclusivamente con la finalidad de colocar el Vínculo Compartir en el sitio del Proveedor de Contenido Online y únicamente en el formato actual proporcionado por la Compañía. En caso de que el Vínculo Compartir sea un vínculo de texto, deberá incluir la palabra "HayPista" como parte del vínculo. Los derechos otorgados en virtud de este apartado podrán ser revocados por la Compañía en cualquier momento con o sin causa y a su elección exclusiva, y una vez revocados tales derechos, el Proveedor de Contenido Online se obliga a eliminar inmediatamente todos los Vínculos Compartir de su sitio.&nbsp;
		<br>
		&nbsp;
		<br>
		Para que un Proveedor de Contenido Online incluya un Vínculo Compartir en sus páginas, el Sitio de Terceros no deberá incluir ningún contenido web cuyo uso compartido o publicación por parte de un usuario constituya una infracción de las normas de conducta para usuarios establecidas anteriormente. Sin limitación de lo anterior, el Proveedor de Contenido Online se obliga a no publicar Vínculos Compartir en ningún sitio web que incluya, y manifiesta y garantiza que dicho sitio web no incluye ni incluirá, contenido infractor, dañino, amenazante, ilegal, difamatorio, abusivo, incendiario, acosador, vulgar, obsceno, lascivo, fraudulento, que vulnere el derecho a la intimidad y la propia imagen o pueda exponer a la Compañía o a sus usuarios a cualquier tipo de daños o responsabilidades. Al incluir un Vínculo Compartir, el Proveedor de Contenido Online se obliga a defender, exonerar de toda responsabilidad y mantener indemnes a la Compañía, sus filiales y entidades vinculadas, y a cada uno de sus administradores, directivos, agentes, contratistas, socios y empleados, frente a las pérdidas, responsabilidades, reclamaciones, demandas, daños, costes y gastos, incluyendo honorarios razonables de abogados, que puedan derivarse de la inclusión del Vínculo Compartir, cualesquiera vínculos, contenidos, elementos o materiales que puedan ser compartidos o publicados a través del Vínculo Compartir, o del incumplimiento o presunto incumplimiento de las manifestaciones y garantías establecidas anteriormente.&nbsp;
		<br>
		&nbsp;
		<br>
		Al incluir un Vínculo Compartir, el Proveedor de Contenido Online otorga automáticamente, y manifiesta y garantiza que tiene derecho a otorgar a la Compañía, una licencia irrevocable, perpetua, no exclusiva, transferible, plenamente desembolsada y mundial (con derecho de sublicencia) para usar el Servicio Compartir con el fin de colocar vínculos, usar, copiar, publicar, transmitir, reproducir públicamente, mostrar públicamente, reformatear, traducir, obtener extractos (totales o parciales), resumir y distribuir el contenido, los vínculos y demás materiales de cualquier tipo que estén publicados en cualesquiera páginas web en las que el Proveedor de Contenido Online coloque el Vínculo Compartir.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			HayPista Marketplace
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Todas las listas publicadas en el servicio HayPista Marketplace y todas las operaciones realizadas en relación con dicho servicio se regirán por las
	</font>
	<a href="http://es-es.haypista.com/marketplace/guidelines.php" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				Directrices sobre HayPista Marketplace
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		(las "Directrices") así como por las presentes Condiciones de Uso. Al utilizar el servicio HayPista Marketplace de cualquier forma, aceptas cumplir las Directrices y las demás normas de aplicación que se establecen en las presentes Condiciones de Uso. Las Directrices podrán ser modificadas sin previo aviso y en cualquier momento, a elección exclusiva de la Compañía, por lo que deberás consultarlas cada vez que utilices el servicio HayPista Marketplace. Las partes intervinientes en cualquier operación serán enteramente responsables de todas las interacciones que realicen entre ellas, así como de organizar el pago e intercambio de los bienes adquiridos o los servicios contratados, en su caso, y de los resultados de cualquier relación u operación formalizada a través del servicio HayPista Marketplace. Reconoces que HayPista no será responsable de los actos u omisiones de cualquiera de las partes intervinientes en una operación, ni de la falta de prestación, la falta de pago o la falta de entrega de cualesquiera bienes o servicios de conformidad con las condiciones pactadas, ni de ningún otro aspecto relacionado con la operación. Las tarifas y los precios cobrados por HayPista en relación con el servicio HayPista Marketplace se establecen en el Sitio, y todos los términos y condiciones aplicables a tales tarifas y precios se recogen en las
	</font>
	<a href="http://es-es.haypista.com/termsofsale.php" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				Condiciones de Venta de HayPista
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		No obstante lo anterior, ten en cuenta que las Condiciones de Venta no serán de aplicación a los productos que adquieras o los servicios que contrates de un tercero a través del servicio HayPista Marketplace, por cuanto que tales operaciones se formalizarán estrictamente entre tú y dicho tercero. EL USO DEL SERVICIO HAYPISTA MARKETPLACE SE REALIZARÁ "TAL CUAL" Y POR TU CUENTA Y RIESGO.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Aplicaciones de la Plataforma HayPista
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		La Plataforma HayPista es un conjunto de APIs y servicios que HayPista proporciona para permitir que terceros desarrolladores (los "Desarrolladores de Plataformas") creen sitios web y aplicaciones que recojan datos facilitados por HayPista y sus usuarios y/o datos autorizados a través de sitios de terceros para su utilización en el Sitio de HayPista (las "Aplicaciones de la Plataforma").&nbsp;
		<br>
		&nbsp;
		<br>
		Los Desarrolladores de Plataformas podrán utilizar la Plataforma HayPista y crear Aplicaciones de la Plataforma únicamente de conformidad con los términos y condiciones establecidos en un contrato suscrito entre HayPista y el Desarrollador de Plataformas (las "Condiciones para Desarrolladores"). Nuestro documento marco de Condiciones para Desarrolladores está integrado por las
	</font>
	<a href="http://developers.haypista.com/terms.php" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				Condiciones del Servicio para Desarrolladores de HayPista
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		y las
	</font>
	<a href="http://developers.haypista.com/guidelines.php" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				Directrices sobre las Aplicaciones de la Plataforma HayPista
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		. Es posible que puntualmente suscribamos por separado contratos con determinados terceros Desarrolladores de Plataformas que contengan disposiciones distintas o adicionales, en el entendimiento, no obstante, de que en virtud de cada uno de tales contratos suscritos por separado, el tercero Desarrollador de Plataformas estará obligado a mostrar únicamente tu información de acuerdo con tus
	</font>
	<a href="http://es-es.haypista.com/privacy/" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				Configuración de Privacidad de HayPista
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		. El documento marco de Condiciones para Desarrolladores podrá ser modificado sin previo aviso y en cualquier momento, a elección exclusiva de la Compañía, por lo que deberás consultar estos documentos periódicamente. EL USO DE LA PLATAFORMA HAYPISTA SE REALIZARÁ "TAL CUAL" Y POR TU CUENTA Y RIESGO.&nbsp;
		<br>
		&nbsp;
		<br>
		Los Usuarios que instalen Aplicaciones de la Plataforma deberán aceptar los términos y condiciones establecidos en las
	</font>
	<a href="http://developers.haypista.com/user_terms.php" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				Condiciones de Uso de las Aplicaciones de la Plataforma
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		(las "Condiciones para Usuarios de las Aplicaciones") y en las presentes Condiciones de Uso. Las Condiciones para Usuarios de las Aplicaciones podrán ser modificadas sin previo aviso y en cualquier momento, a elección exclusiva de la Compañía, por lo que deberás consultar estas condiciones cada vez que instales una aplicación y periódicamente. Los Desarrolladores de Plataformas podrán exigirte que aceptes sus propias condiciones de servicio, políticas de privacidad y/o demás reglamentos como condición previa a la utilización de Aplicaciones de la Plataforma. Las Aplicaciones de la Plataforma no han sido aprobadas o examinadas en modo alguno por HayPista, y no seremos responsables del uso que hagas de las mismas ni en caso de que no puedas utilizarlas, incluyendo el contenido, la exactitud o la fiabilidad de tales aplicaciones y la política de privacidad o demás normativas de los Desarrolladores. EL USO DE LAS APLICACIONES DE LA PLATAFORMA SE REALIZARÁ POR TU CUENTA Y RIESGO.&nbsp;
		<br>
		&nbsp;
		<br>
		Si tú, tus amigos o los miembros de tu red utilizan cualesquiera Aplicaciones de la Plataforma, es posible que tales Aplicaciones de la Plataforma accedan a determinada información relativa a ti y la compartan con terceros de conformidad con tu configuración de privacidad, conforme se describe más detalladamente en nuestra
	</font>
	<a href="http://es-es.haypista.com/policy.php" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				Política de Privacidad
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		. Los Desarrolladores de Plataformas están obligados a aceptar restricciones sobre el acceso, el almacenamiento y la utilización de dicha información. No obstante lo anterior y aunque hemos adoptado medidas contractuales y técnicas para limitar la posible utilización no autorizada de dicha información por parte de los Desarrolladores de Plataformas, no seleccionamos ni aprobamos a los Desarrolladores, y no podemos garantizar que todos los Desarrolladores de Plataformas cumplirán tales restricciones y los acuerdos correspondientes. Determinadas acciones que realices a través de las Aplicaciones de la Plataforma pueden mostrase a tus amigos en tu perfil, mini-feeds y feeds de noticias, y podrás optar por no mostrar tales acciones en la página de Configuración de Privacidad. Te rogamos que comuniques cualquier posible uso indebido de la información a través de la Plataforma HayPista según se describe en nuestra
	</font>
	<a href="http://es-es.haypista.com/policy.php" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				Política de Privacidad
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		.&nbsp;
		<br>
		&nbsp;
		<br>
		Podrás configurar tus preferencias para tus feeds de noticias y mini-feeds
	</font>
	<a href="http://es-es.haypista.com/privacy/?view=feeds" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				aquí
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Páginas de HayPista
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Las páginas de HayPista son perfiles especiales que se utilizan exclusivamente con fines comerciales, políticos o benéficos. No podrás configurar una página de HayPista en nombre de otra persona o entidad salvo que tengas autorización para hacerlo. Esto incluye las páginas de HayPista para fans, así como las páginas de HayPista para apoyar o criticar a otras personas o entidades.&nbsp;
		<br>
		&nbsp;
		<br>
		HAYPISTA NO FILTRA NI APRUEBA LAS PÁGINAS DE HAYPISTA Y NO PUEDE GARANTIZAR QUE UNA PÁGINA DE HAYPISTA HAYA SIDO REALMENTE CREADA Y ESTÉ SIENDO GESTIONADA POR LA PERSONA O ENTIDAD QUE CONSTITUYE EL OBJETO DE UNA PÁGINA DE HAYPISTA. ASIMISMO, HAYPISTA NO ES RESPONSABLE DEL CONTENIDO DE NINGUNA PÁGINA DE HAYPISTA, NI DE LAS OPERACIONES REALIZADAS U OTRAS ACCIONES LLEVADAS A CABO EN RELACIÓN CON CUALQUIER PÁGINA DE HAYPISTA, INCLUYENDO EL MODO EN QUE EL PROPIETARIO DE LA PÁGINA DE HAYPISTA OBTIENE, TRATA, UTILIZA Y/O COMPARTE LOS DATOS PERSONALES QUE PUEDA OBTENER DE LOS USUARIOS (CONSULTA LA
	</font>
	<a href="http://es-es.haypista.com/privacy/" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				POLÍTICA DE PRIVACIDAD DE HAYPISTA
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		SI TIENES DUDAS ACERCA DE CÓMO SE UTILIZAN O COMPARTEN TUS DATOS PERSONALES). PRESTA ATENCIÓN ANTES DE FACILITAR DATOS PERSONALES O REALIZAR OPERACIONES EN RELACIÓN CON UNA PÁGINA DE HAYPISTA.&nbsp;
		<br>
		&nbsp;
		<br>
		Con carácter adicional a las presentes Condiciones de Uso, las Páginas de HayPista están sujetas a determinadas
	</font>
	<a href="http://es-es.haypista.com/terms_pages.php" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				Condiciones Adicionales Aplicables a las Páginas de HayPista
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		. Las Condiciones Adicionales Aplicables a las Páginas de HayPista prevalecerán en caso de conflicto entre éstas y las Condiciones de Uso.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Condiciones de Venta
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Consulta nuestras
	</font>
	<a href="http://es-es.haypista.com/termsofsale.php" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				Condiciones de Venta
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		para conocer los términos, condiciones y políticas aplicables a tu operación de compra de productos o servicios de la Compañía. Al solicitar productos o servicios de la Compañía a través del Sitio, aceptas cumplir las Condiciones de Venta. Las Condiciones de Venta podrán ser modificadas en cualquier momento y sin previo aviso, a elección exclusiva de la Compañía, por lo que deberás revisar las Condiciones de Venta cada vez que realices una compra.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Conflictos de Usuario
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Como usuario, serás el único responsable de tus interacciones con otros usuarios de HayPista. Nos reservamos el derecho a controlar los conflictos que tengas con otros usuarios, si bien no vendremos obligados a ello.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Privacidad
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Nos preocupa la privacidad de nuestros usuarios. Haz clic
	</font>
	<a href="http://es-es.haypista.com/policy.php" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				aquí
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		para consultar la Política de Privacidad de HayPista. Al utilizar el Sitio o el Servicio, aceptas la transferencia de tus datos a Estados Unidos, así como su tratamiento en dicho país.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Exclusión de Responsabilidad
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		La Compañía no es responsable en modo alguno de ningún Contenido de Usuario o de Aplicaciones, Software o Contenido de Terceros publicados en el Sitio o en relación con el Servicio, con independencia de que hayan sido publicados u originados por usuarios del Sitio, HayPista, otros terceros o cualquiera de los equipos o programas asociados al Sitio o Servicio o utilizados en éstos. Aunque establecemos normas relativas a la conducta de los usuarios y a las publicaciones, no controlamos lo que los usuarios publican, transmiten o comparten en el Sitio, y no somos por tanto responsable de ello ni de ningún contenido ofensivo, inapropiado, obsceno, ilegal o cuestionable que puedas encontrar en el Sitio o en relación con cualquier Contenido de Usuario o Aplicaciones, Software o Contenido de Terceros. La Compañía no es responsable de la conducta, online u offline, de ningún usuario del Sitio o del Servicio.&nbsp;
		<br>
		&nbsp;
		<br>
		Ocasionalmente, el Sitio y el Servicio podrán no estar disponibles temporalmente por motivos de mantenimiento o por otras causas. La Compañía no asume ningún tipo de responsabilidad por errores, omisiones, interrupciones, eliminaciones, defectos, retrasos de funcionamiento o de transmisión, fallos de la línea de comunicaciones, robos, destrucción, acceso no autorizado o alteración de las comunicaciones del Usuario. La Compañía no se hace responsable de ninguna avería técnica ni de ningún otro problema de la red o el servicio telefónico, de los sistemas informáticos, servidores o proveedores, equipos informáticos o de telefonía móvil, software, fallos del correo electrónico o los servidores ocasionados por problemas técnicos o congestión de tráfico en Internet o en cualquier Sitio (o en una combinación de éstos), incluyendo lesiones o daños sobre el ordenador, el teléfono móvil o cualquier otro elemento de hardware o software del Usuario o de otra persona, derivados de la utilización o de la descarga de materiales en relación con la Web y/o con el Servicio, incluyendo el software del Cliente Móvil. La Compañía no será en ningún caso responsable de pérdidas o daños, incluyendo cualesquiera pérdidas o daños sobre el Contenido de Usuario o lesiones personales o muertes, derivados de la utilización por parte de cualquier persona del Sitio, el Servicio, cualquier Contenido de Usuario o las Aplicaciones, Software o Contenido de Terceros publicados en el Sitio o el Servicio o transmitidos a Usuarios, o de las interacciones entre los usuarios del Sitio, ya sean online u offline.&nbsp;
		<br>
		&nbsp;
		<br>
		EL SITIO, EL SERVICIO (INCLUYENDO LOS SERVICIOS MÓVILES, EL SERVICIO COMPARTIR Y EL SERVICIO MARKETPLACE), LAS APLICACIONES DE LA PLATAFORMA Y EL CONTENIDO DEL SITIO SE PROPORCIONAN "TAL CUAL " Y LA COMPAÑÍA EXCLUYE EXPRESAMENTE TODAS LAS DECLARACIONES Y GARANTÍAS, EXPRESAS O IMPLÍCITAS, INCLUYENDO LAS GARANTÍAS IMPLÍCITAS DE PROPIEDAD, COMERCIABILIDAD, ADECUACIÓN A UN FIN CONCRETO Y NO INFRACCIÓN. LA COMPAÑÍA NO PUEDE GARANTIZAR Y NO PROMETE NINGÚN RESULTADO ESPECÍFICO DERIVADO DEL USO DEL SITIO, EL SERVICIO Y/O CUALQUIER APLICACIÓN DE LA PLATAFORMA. LA COMPAÑÍA NO DECLARA NI GARANTIZA QUE EL SOFTWARE, EL CONTENIDO O LOS MATERIALES DEL SITIO, EL SERVICIO O LAS APLICACIONES DE LA PLATAFORMA SEAN EXACTOS, COMPLETOS O FIABLES O QUE ESTÉN ACTUALIZADOS O LIBRES DE ERRORES, O QUE EL SITIO, EL SERVICIO, SUS SERVIDORES O LAS APLICACIONES DE LA PLATAFORMA ESTÉN LIBRES DE VIRUS U OTROS COMPONENTES DAÑINOS. EN CONSECUENCIA, DEBERÁS TENER PRECAUCIÓN CUANDO UTILICES Y DESCARGUES DICHO SOFTWARE, CONTENIDO O MATERIAL Y EMPLEAR ALGÚN SOFTWARE PARA LA DETECCIÓN Y DESINFECCIÓN DE VIRUS RECONOCIDO EN EL SECTOR. SIN LIMITACIÓN DEL CARÁCTER GENERAL DE LA ANTERIOR DISPOSICIÓN, RECONOCES Y ACEPTAS QUE DESCARGAS U OBTIENES CONTENIDO, MATERIAL, DATOS O SOFTWARE (INCLUYENDO CUALQUIER CLIENTE MÓVIL) A TRAVÉS DEL SERVICIO Y DE CUALESQUIERA APLICACIONES DE LA PLATAFORMA POR TU CUENTA Y RIESGO, Y QUE SERÁS EL ÚNICO RESPONSABLE DEL USO QUE REALICES DE LOS MISMOS, DE CUALESQUIERA DAÑOS QUE PUEDA SUFRIR TU DISPOSITIVO MÓVIL O SISTEMA INFORMÁTICO, Y DE LAS PÉRDIDAS DE DATOS U OTROS DAÑOS QUE PUEDAN DERIVARSE.&nbsp;
		<br>
		&nbsp;
		<br>
		La Compañía se reserva el derecho a modificar cualquier contenido, software y demás elementos utilizados o incluidos en el Sitio y en cualesquiera Servicios y Aplicaciones de la Plataforma ofrecidos a través del Sitio en cualquier momento y sin previo aviso. Las referencias a productos, servicios, procesos u otras informaciones mediante nombres comerciales, marcas, fabricantes, proveedores u otros, no constituyen ni implican que la Compañía apruebe, patrocine o recomiende tales productos, servicios, procesos o informaciones, ni que tenga ninguna relación con éstos.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Limitación de Responsabilidad
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		EN NINGÚN CASO SERÁ&nbsp;LA COMPAÑÍA O SUS DIRECTIVOS, EMPLEADOS O AGENTES RESPONSABLE FRENTE A TI U OTROS TERCEROS POR CUALESQUIERA DAÑOS INDIRECTOS, EMERGENTES, EJEMPLARIZANTES, DERIVADOS, ESPECIALES O PUNITIVOS, INCLUYENDO PÉRDIDAS DE BENEFICIOS O DATOS DERIVADOS DE TU UTILIZACIÓN DEL SITIO O EL SERVICIO, LAS APLICACIONES DE LA PLATAFORMA, EL CONTENIDO DEL SITIO U OTROS MATERIALES A LO QUE SE HAYA ACCEDIDO A TRAVÉS DEL SITIO O DESCARGADOS DE ÉSTE, AUN CUANDO LA COMPAÑÍA SEA CONSCIENTE O HAYA SIDO ADVERTIDA DE LA POSIBILIDAD DE DICHOS DAÑOS. SIN PERJUICIO DE CUALQUIER DISPOSICIÓN PREVISTA EN CONTRARIO EN EL PRESENTE CONTRATO, LA RESPONSABILIDAD DE LA COMPAÑÍA FRENTE A TI POR CUALQUIER CAUSA, Y CON INDEPENDENCIA DE LA FORMA DE ACTUACIÓN, QUEDARÁ LIMITADA EN TODO MOMENTO A LA CANTIDAD QUE HAYAS ABONADO, EN SU CASO, A LA COMPAÑÍA POR EL SERVICIO DURANTE EL PERIODO DE TIEMPO QUE HAYAS SIDO MIEMBRO, SIN QUE EN NINGÚN CASO LA RESPONSABILIDAD DE LA COMPAÑÍA FRENTE A TI SUPERE $1.000. RECONOCES QUE EN CASO DE NO ABONAR NINGUNA CANTIDAD A LA COMPAÑÍA POR EL SERVICIO, ÚNICAMENTE TENDRÁS DERECHO A LA ADOPCIÓN DE MEDIDAS CAUTELARES, SALVO QUE LA LEY PERMITA LO CONTRARIO, Y NO TENDRÁS DERECHO A NINGÚN TIPO DE INDEMNIZACIÓN DE LA COMPAÑÍA EN CONCEPTO DE DAÑOS Y PERJUICIOS, CON INDEPENDENCIA DE LA CAUSA DE ACCIÓN.&nbsp;
		<br>
		&nbsp;
		<br>
		DETERMINADAS LEYES DE ÁMBITO NACIONAL NO PERMITEN LA LIMITACIÓN DE GARANTÍAS IMPLÍCITAS NI LA EXCLUSIÓN O LIMITACIÓN DE DETERMINADOS DAÑOS. SI ESTAS LEYES TE SON DE APLICACIÓN, ES POSIBLE QUE LA TOTALIDAD O ALGUNA PARTE DE LAS ANTERIORES DISPOSICIONES SOBRE EXCLUSIÓN, EXONERACIÓN O LIMITACIÓN DE RESPONSABILIDAD NO TE SEAN DE APLICACIÓN, Y QUE TE ASISTAN DERECHOS ADICIONALES.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Cancelación
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		La Compañía podrá&nbsp;cancelar tu condición de miembro, eliminar tu perfil y cualquier contenido o información que hayas publicado en el Sitio o a través de cualquier Aplicación de la Plataforma y/o prohibirte que utilices el Servicio, el Sitio o cualquier Aplicación de la Plataforma, o que o accedas a éstos (o a cualquier parte, aspecto o función del Servicio o el Sitio o cualquier Aplicación de la Plataforma) por cualquier causa, o sin causa, en cualquier momento y a nuestra elección exclusiva, con o sin preaviso, incluyendo cuando consideremos que eres menor de 13 años, o menor de 18 y no estás cursando estudios de enseñanza secundaria o superior. Por norma general, si bien no vendremos obligados a ello, cuando se nos notifique que un usuario ha fallecido, mantendremos activa la cuenta de ese usuario de forma especial y conmemorativa durante un periodo de tiempo determinado para permitir a otros usuarios que publiquen y vean comentarios.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Ley Aplicable y Jurisdicción
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Al visitar o hacer uso de la página o del servicio, es porque confirmas que las leyes del estado de Delaware, sin tener en cuenta los principio del conflicto de leyes, regularán estas condiciones de uso así&nbsp;como cualquier disputa que pudiera surgir entre tú y la compañía o con alguno de nuestros afiliados. Respecto a toda disputa o queja no sujeta a arbitrariedad (tal y como se indica abajo), estás de acuerdo en no emprender ninguna acción fuera del estado y de los tribunales federales de California, y con esto das el consentimiento, y prescindes de toda defensa de carencia de jurisdicción personal o de foro de no convenienca respecto a esto, lugar de reunión y órgano jurisdiccional del estado y tribunales federales de California.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Arbitraje
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		LA COMPAÑÍA Y TÚ&nbsp;ACORDÁIS QUE, SALVO QUE SE INDIQUE LO CONTRARIO CON RESPECTO A DETERMINADOS SERVICIOS ESPECÍFICOS DEL SITIO EN CUALESQUIERA TÉRMINOS Y CONDICIONES ESPECÍFICOS APLICABLES A DICHOS SERVICIOS, LA JURISDICCIÓN EXCLUSIVA Y LA ÚNICA ACCIÓN LEGAL EN CASO DE CONFLICTOS O RECLAMACIONES EN RELACIÓN CON LOS PRESENTES TÉRMINOS Y CONDICIONES DE USO, EL SITIO Y/O EL SERVICIO (INCLUYENDO TU VISITA AL SITIO Y/O AL SERVICIO O EL USO DE ÉSTOS) SERÁ EL ARBITRAJE DEFINITIVO Y VINCULANTE, exceptuando: (a) en la medida en que cualquiera de nosotros haya infringido real o potencialmente de cualquier modo cualquier derecho de patente, derecho de autor, marca o secreto comercial de la otra parte, o cuando hayas incumplido cualquiera de las normas de conducta de usuario anteriormente indicadas o el Código de Conducta, las partes reconocen que el arbitraje no constituirá un recurso legal adecuado pudiendo adoptarse en tal caso medidas cautelares u otras medidas de subsanación adecuadas; y (b) que no podrán ser objeto de arbitraje los conflictos o reclamaciones relativos a cualquier operación que realices con un tercero a través de HayPista Marketplace.&nbsp;
		<br>
		&nbsp;
		<br>
		El procedimiento arbitral contemplado en el presente Contrato se realizará a través de la Asociación Americana de Arbitraje (American Arbitration Association - "AAA") de conformidad con sus Normas de Arbitraje Comercial y, cuando se trate de conflictos de consumo, los Procedimientos Complementarios de la AAA para Conflictos Relativos al Consumo (las "Normas de Consumo de la AAA") (conjuntamente las "Normas de la AAA"). El lugar del procedimiento arbitral y la adjudicación de los costes y gastos de dicho arbitraje vendrán determinados de conformidad con las Normas de la AAA y estarán sujetos a las limitaciones previstas en las Normas de Consumo de la AAA (para conflictos de consumo). Si se determina que dichos gastos son excesivos para un conflicto de consumo, la Compañía será responsable del pago de todos los gastos del procedimiento arbitral y los honorarios del árbitro que superen la cantidad que se considere razonable. El laudo arbitral será vinculante y podrá ser ejecutado por cualquier tribunal competente.&nbsp;
		<br>
		&nbsp;
		<br>
		En la medida máxima de lo permitido por la legislación aplicable, NINGÚN PROCEDIMIENTO ARBITRAL O RECLAMACIÓN QUE SE REFIERA A LOS PRESENTES TÉRMINOS Y CONDICIONES DE USO PODRÁ CONSOLIDARSE CON OTROS PROCEDIMIENTOS ARBITRALES O RECLAMACIONES, INCLUYENDO LOS RELATIVOS A ACTUALES O ANTIGUOS USUARIOS DEL SERVICIO, Y NO SE PERMITIRÁN PROCEDIMIENTOS DE ARBITRAJE COLECTIVO. En ningún caso podrás iniciar ninguna reclamación, acción legal o procedimiento judicial que esté relacionado de cualquier modo con el Sitio y/o el Servicio (incluyendo tu visita al Sitio y/o el Servicio, o tu utilización de éstos) cuando hayan transcurrido más de tres (3) años desde la fecha en que se haya originado la causa de acción.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Exoneración de Responsabilidad
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Aceptas exonerar de toda responsabilidad a la Compañía, sus empresas asociadas y filiales y a sus respectivos administradores, directivos, agentes, contratistas, socios y empleados, frente a cualesquiera pérdidas, responsabilidades, reclamaciones, demandas, daños, costes y gastos, incluyendo los honorarios razonables de abogados, derivados de cualquier Contenido de Usuario y cualquier tipo de Aplicaciones, Software o Contenido de Terceros que publiques o compartas a través del Sitio (incluyendo a través del Servicio Compartir), tu utilización del Servicio o el Sitio, tu conducta en relación con el Servicio, el Sitio u otros usuarios del Servicio o el Sitio, o cualquier incumplimiento del presente Contrato, de cualesquiera leyes o derechos de un tercero.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Información Remitida
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Reconoces y aceptas que toda pregunta, comentario, sugerencia, idea, feedback u otra información relativa al Sitio o el Servicio (la "Información Remitida"), que envíes a la Compañía no tendrán carácter confidencial y pasará a ser propiedad exclusiva de la Compañía. La Compañía tendrá derechos exclusivos, incluyendo todos los derechos de propiedad intelectual, y podrá divulgar y utilizar sin restricciones la mencionada Información Remitida para cualquier fin, comercial o de cualquier otro tipo, sin necesidad de obtener tu aceptación u ofrecerte una compensación.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Definiciones e Interpretación
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Salvo que se especifique lo contrario, se considerará que los términos "incluye", "incluyendo", "p.ej.", "por ejemplo" y otros términos similares incluyen la expresión "sin limitación alguna" con carácter inmediatamente posterior. Los términos en mayúscula incluidos en los presentes Términos y Condiciones tendrán el significado que se establece en dichos Términos y Condiciones.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Disposiciones Generales
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Las presentes Condiciones de Uso constituyen el acuerdo completo entre tú&nbsp;y la Compañía en relación con el uso del Sitio y/o el Servicio, y sustituyen a todos los anteriores acuerdos entre tú y la Compañía en relación con tu utilización del Sitio o el Servicio. La omisión por parte de Compañía en el ejercicio o la exigencia de cumplimiento de cualquier derecho o disposición de las presentes Condiciones de Uso no constituirá una renuncia a dicho derecho o disposición en ese caso concreto o en cualquier otro. Si alguna disposición del presente Contrato es declarada inválida, el resto del presente Contrato permanecerá vigente en todos sus aspectos. Si cualquier disposición de las presentes Condiciones de Uso es declarada ilegal, nula o inaplicable por cualquier causa, esa disposición quedará excluida de las presentes Condiciones de Uso sin afectar a la validez y aplicabilidad de las restantes disposiciones.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Principios de HayPista
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Construimos HayPista para facilitar el intercambio de información con tus amigos y la gente que te rodea. Entendemos que no quieras que todo el mundo tenga acceso a la información que compartes en HayPista; es por eso que te damos el control de tu información. Nuestra configuración de privacidad predeterminada limita la información expuesta en tu perfil a tus redes y otras limitaciones razonables a la comunidad de las que te informamos.
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		HayPista sigue dos principios básicos:
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		<b>
			1. Debes tener control sobre tu información personal.
		</b>
		&nbsp;
		<br>
		HayPista te ayuda a compartir información con tus amigos y la gente que te rodea. Tú eliges qué información introduces en tu perfil, incluyendo información de contacto, personal, fotos, intereses y grupos a los que perteneces. De igual modo, tú controlas los usuarios con los que compartes esa información a través de las opciones de privacidad de la página
	</font>
	<a href="http://es-es.haypista.com/privacy/" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				Privacidad
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		.
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		<b>
			2. Debes tener acceso a la información que otros quieren compartir.
		</b>
		&nbsp;
		<br>
		Hay una cantidad creciente de información disponible ahí fuera, y puede que quieras saber la que te concierne a ti, a tus amigos y a la gente que te rodea. Queremos ayudarte a conseguir fácilmente esa información.
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Compartir información debería ser fácil. Y queremos proporcionarte las herramientas de privacidad necesarias para controlar cómo y con quiénes compartes esa información. Si tienes preguntas o ideas, por favor envíalas a
	</font>
	<a href="mailto:support@haypista.com" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				support@haypista.com
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		<a name="0.1_graphic0A">
		</a>
		<img src="https://mail.google.com/mail/?name=d33be9805ff33117.jpg&amp;attid=0.1&amp;disp=vahi&amp;view=att&amp;th=11c656a5e5458a48" alt="Your browser may not support display of this image." width="1" height="1">
		.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Uso seguro de HayPista
		</b>
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Para obtener información para los usuarios y padres acerca de cómo mantenerse seguro en HayPista,
	</font>
	<a href="http://es-es.haypista.com/help.php?safety" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				haz clic aquí
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		.
	</font>
</p>
<p>
	<font color="#333333" face="Tahoma" size="2">
		<b>
			Política de privacidad de HayPista
		</b>
	</font>
</p>
<p>
	<a name="0.1_graphic0B">
	</a>
	<a href="http://www.truste.org/ivalidate.php?url=www.haypista.com&amp;sealid=101" target="_blank">
		<font color="#3b5998" face="Times New Roman" size="3">
			<img src="https://mail.google.com/mail/?name=d33be9805ff33117.jpg&amp;attid=0.1&amp;disp=vahi&amp;view=att&amp;th=11c656a5e5458a48" alt="Your browser may not support display of this image." width="1" height="1">
		</font>
	</a>
</p>
<p>
	<font face="Times New Roman" size="3">
		La Política de privacidad de HayPista está&nbsp;diseñada para ayudarte a entender cómo recopilamos y usamos la información personal que decides compartir, y para ayudarte a tomar decisiones informadas al utilizar HayPista, en
		<a href="http://www.haypista.com" target="_blank">
			www.haypista.com
		</a>
		y sus dominios directamente asociados (colectivamente, "HayPista" o "sitio web").
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Al utilizar o acceder a HayPista, aceptas las prácticas descritas en esta Política de privacidad.
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		HayPista es licenciatario del Programa de privacidad TRUSTe. TRUSTe es una organización independiente y sin fines de lucro cuya misión es aumentar la confianza de los usuarios en Internet fomentando el uso de prácticas de información justas. Esta declaración de privacidad se aplica al sitio web
		<a href="http://www.haypista.com" target="_blank">
			www.haypista.com
		</a>
		y a sus dominios directamente asociados. Dado que este sitio web quiere demostrarte su compromiso con tu privacidad, ha consentido revelar sus prácticas de información y adaptar sus prácticas de privacidad a TRUSTe.
	</font>
</p>
<p>
	<font face="Times New Roman" size="3">
		Si tienes alguna pregunta o duda sobre esta declaración, primero debes contactar con nuestro personal de privacidad en
	</font>
	<a href="mailto:support@haypista.com" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				support@haypista.com
			</u>
		</font>
	</a>
	<font face="Times New Roman" size="3">
		<a name="0.1_graphic0C">
		</a>
		<img src="https://mail.google.com/mail/?name=d33be9805ff33117.jpg&amp;attid=0.1&amp;disp=vahi&amp;view=att&amp;th=11c656a5e5458a48" alt="Your browser may not support display of this image." width="1" height="1">
		. Si no recibes acuse de recibo o si la respuesta a tu pregunta no es satisfactoria, debes contactar con TRUSTe Watchdog en
	</font>
	<a href="http://www.truste.org/consumers/watchdog_complaint.php" target="_blank">
		<font color="#636262" face="Times New Roman" size="3">
			<u>
				http://www.truste.org/
				<wbr>
					consumers/watchdog_complaint.
					<wbr>
						php
					</u>
				</font>
			</a>
			<font face="Times New Roman" size="3">
				. TRUSTe actuará entonces como mediador con nosotros para resolver tus dudas.
			</font>
		</p>
		<p>
			<font color="#333333" face="Tahoma" size="2">
				<b>
					Participación en el sistema Safe Harbor de la Unión Europea
				</b>
			</font>
		</p>
		<p>
			<font face="Times New Roman" size="3">
				Formamos parte del Marco de privacidad Safe Harbor de la UE, tal y como establece el Departamento de Comercio de los Estados Unidos de América. Como parte de nuestra participación en Safe Harbor, hemos adoptado la resolución de disputas de TRUSTe para resolver las disputas relacionadas con nuestro cumplimiento con el Marco de privacidad Safe Harbor. Si tienes alguna queja referente a nuestro cumplimiento con Safe Harbor, primero debes contactar con nosotros en
			</font>
			<a href="mailto:support@haypista.com" target="_blank">
				<font color="#636262" face="Times New Roman" size="3">
					<u>
						support@haypista.com
					</u>
				</font>
			</a>
			<font face="Times New Roman" size="3">
				<a name="0.1_graphic0D">
				</a>
				<img src="https://mail.google.com/mail/?name=d33be9805ff33117.jpg&amp;attid=0.1&amp;disp=vahi&amp;view=att&amp;th=11c656a5e5458a48" alt="Your browser may not support display of this image." width="1" height="1">
				. Si así no se resuelve tu queja, entonces puedes enviarla a TRUSTe, en
			</font>
			<a href="http://www.truste.org/users/users_watchdog_intro.html" target="_blank">
				<font color="#636262" face="Times New Roman" size="3">
					<u>
						http://www.truste.org/users/
						<wbr>
							users_watchdog_intro.html
						</u>
					</font>
				</a>
				<font face="Times New Roman" size="3">
					.
				</font>
			</p>
			<p>
				<font color="#333333" face="Tahoma" size="2">
					<b>
						Información que recopilamos
					</b>
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					Cuando visitas HayPista, nos proporcionas dos tipos de información: información personal que tú&nbsp;conscientemente eliges divulgar y que nosotros recopilamos, e información de tu uso del sitio web, que nosotros recopilamos mientras interactúas con nuestro sitio web.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					Cuando te registras en HayPista, nos proporcionas cierta información personal, como tu nombre, dirección de correo electrónico, número de teléfono, dirección, sexo, los colegios a los que has asistido y cualquier otra información personal o sobre tus preferencias que desees proporcionarnos.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					Cuando entras en HayPista, comprobamos tu tipo de navegador y tu dirección IP. Esta información se recopila de todos las personas que visitan HayPista. Además, almacenamos cierta información de tu navegador usando "cookies". Una cookie es un dato almacenado en el PC de un usuario que contiene información sobre ese usuario. Utilizamos cookies de ID de sesión para confirmar que los usuarios están conectados. Estas cookies se desactivan cuando el usuario cierra el navegador. De forma predeterminada, usamos unas cookies permanentes que almacenan tu nombre de usuario (aunque no tu contraseña) para facilitarte el inicio de sesión cuando vuelvas a entrar en HayPista. Puedes eliminar o bloquear esta cookie utilizando la configuración de tu navegador si deseas deshabilitar esta cómoda función.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					Cuando usas HayPista, puedes crear tu perfil personal, formar relaciones, enviar mensajes, realizar búsquedas y preguntas, formar grupos, crear eventos, agregar aplicaciones y transmitir información por varios canales. Recopilamos esta información de modo que podamos proporcionarte el servicio y ofrecerte características personalizadas. En la mayor parte de los casos la conservamos para que, por ejemplo, puedas volver a leer mensajes que has enviado o ver fácilmente tu lista de amigos. Cuando actualizas información, por lo general guardamos una copia de seguridad de la versión anterior durante un período razonable de tiempo para habilitar el retorno a la versión anterior de dicha información.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					Tú&nbsp;publicas Contenido de Usuario (como se define en las
				</font>
				<a href="http://es-es.haypista.com/terms.php" target="_blank">
					<font color="#636262" face="Times New Roman" size="3">
						<u>
							Condiciones de Uso
						</u>
					</font>
				</a>
				<font face="Times New Roman" size="3">
					de HayPista) en el Sitio bajo tu propio riesgo. Aunque permitamos que configures opciones de privacidad que limiten el acceso a tus páginas, por favor ten en cuenta que ninguna medida de seguridad es perfecta o infalible. Nosotros no podemos controlar las acciones de otros Usuarios con quien puedas decidir compartir tus páginas e información. Por lo tanto, no podemos y no garantizamos que el Contenido de Usuario que publiques en el Sitio no será visualizado por personas no autorizadas. No somos responsables de la infracción de ninguna configuración de privacidad o de las medidas de seguridad contenidas en el Sitio. Entiendes y reconoces que, incluso hasta después de su eliminación, pueden permanecer visibles copias del Contenido de Usuario en páginas en caché o archivadas, o si otros Usuarios han copiado o almacenado tu Contenido de Usuario.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					Cualquier recopilación indebida o mal uso de la información proporcionada en HayPista constituye una infracción de las Condiciones de Servicio de HayPista y deberán denunciarse a través de
				</font>
				<a href="mailto:support@haypista.com" target="_blank">
					<font color="#636262" face="Times New Roman" size="3">
						<u>
							support@haypista.com
						</u>
					</font>
				</a>
				<font face="Times New Roman" size="3">
					<a name="0.1_graphic0E">
					</a>
					<img src="https://mail.google.com/mail/?name=d33be9805ff33117.jpg&amp;attid=0.1&amp;disp=vahi&amp;view=att&amp;th=11c656a5e5458a48" alt="Your browser may not support display of this image." width="1" height="1">
					.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					Si eliges usar el servicio de invitaciones para hablarle a un amigo/a de nuestro sitio, te solicitaremos la información necesaria para enviarle la información, como la dirección de correo electrónico de tu amigo/a. Automáticamente enviaremos a esa persona un correo electrónico o mensaje instantáneo invitándola a visitar el sitio. HayPista almacena dicha información para enviar esa invitación así como para registrar esa relación de amistad en caso de que la invitación sea aceptada y para hacer un seguimiento de la eficacia de nuestro programa de referencias. Tu amigo/a puede escribirnos a
				</font>
				<a href="mailto:support@haypista.com" target="_blank">
					<font color="#636262" face="Times New Roman" size="3">
						<u>
							support@haypista.com
						</u>
					</font>
				</a>
				<font face="Times New Roman" size="3">
					<a name="0.1_graphic0F">
					</a>
					<img src="https://mail.google.com/mail/?name=d33be9805ff33117.jpg&amp;attid=0.1&amp;disp=vahi&amp;view=att&amp;th=11c656a5e5458a48" alt="Your browser may not support display of this image." width="1" height="1">
					para solicitar que esta información se elimine de nuestra base de datos.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					HayPista también puede recopilar información sobre ti de otras fuentes, como periódicos, blogs, servicios de mensajería instantánea y otros usuarios del servicio HayPista a través del uso del mismo (por ej., etiquetas de fotos) para proporcionarte información más útil y una experiencia más personalizada.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					Al usar HayPista, consientes que tus datos personales sean transferidos y procesados en los Estados Unidos.
				</font>
			</p>
			<p>
				<font color="#333333" face="Tahoma" size="2">
					<b>
						Niños menores de 13 años
					</b>
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					HayPista no recopila ni solicita información personal de nadie menor de 13 años intencionadamente, ni tampoco deja que se registren personas de esta edad. Si eres menor de 13 años, no intentes registrarte en HayPista ni envíes información sobre ti, como tu nombre, dirección, número de teléfono o correo electrónico. Ninguna persona menor de 13 años debe proporcionar información personal a o en HayPista. Si descubrimos que tenemos información de un niño menor de 13 años sin la autorización de sus padres, la eliminaremos lo antes posible. Si crees que podríamos tener cualquier tipo de información sobre un niño menor de 13 años, escríbenos a
				</font>
				<a href="mailto:support@haypista.com" target="_blank">
					<font color="#636262" face="Times New Roman" size="3">
						<u>
							support@haypista.com
						</u>
					</font>
				</a>
				<font face="Times New Roman" size="3">
					<a name="0.1_graphic10">
					</a>
					<img src="https://mail.google.com/mail/?name=d33be9805ff33117.jpg&amp;attid=0.1&amp;disp=vahi&amp;view=att&amp;th=11c656a5e5458a48" alt="Your browser may not support display of this image." width="1" height="1">
					.
				</font>
			</p>
			<p>
				<font color="#333333" face="Tahoma" size="2">
					<b>
						Niños de entre 13 y 18 años
					</b>
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					Recomendamos que los menores de edad, pero mayores de 13 años, pidan permiso a sus padres antes de enviar cualquier tipo de información personal a otros por Internet.
				</font>
			</p>
			<p>
				<font color="#333333" face="Tahoma" size="2">
					<b>
						Uso de información obtenida por HayPista
					</b>
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					Cuando te registras en HayPista, creas tu propio perfil y configuración de privacidad. Tu información de perfil, así como tu nombre, correo electrónico y fotos se muestran a las personas de las redes que especifiques en tu configuración de privacidad, lo que te permite contactar con otras personas a través de HayPista. Ocasionalmente, podemos usar tu nombre y dirección de correo electrónico para enviarte notificaciones acerca de nuevos servicios ofrecidos por HayPista que consideremos que pudieran serte útiles.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					HayPista utiliza la información de perfil principalmente para presentártela a ti y que la edites cuando accedas al servicio, y para presentársela a otros a los que hayas permitido verla según tu configuración de privacidad. Si tu configuración de privacidad lo permite (por ejemplo, publicar en tu muro), otros usuarios pueden complementar tu perfil.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					La información de perfil que envíes a HayPista estará disponible para los usuarios que pertenezcan al menos a una de las redes a las que has permitido acceder a tu información por medio de tu configuración de privacidad (p. ej. colegio, geografía, amigos de amigos). Tu nombre así como los nombres de tus redes y tu foto de perfil en miniatura estarán disponibles en los resultados de búsqueda dentro de la red de HayPista y posiblemente también lo estén en motores de búsqueda de otras compañías. Esto es esencial para que tus amigos puedan hallarte y enviarte una solicitud de amigos. Sin embargo, las personas que ven tu nombre en resultados de búsquedas, no tendrán acceso a la información de tu perfil hasta tener una relación contigo (amigo, amigo de amigo, miembro de tus redes, etc.) que les permita este acceso, dependiendo de tu configuración de privacidad.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					De vez en cuando, HayPista puede enviarte notificaciones relacionadas con el servicio a través del uso normal del mismo. Por ejemplo, si un amigo te ha enviado un mensaje o te ha dado un toque, o alguien ha publicado en tu muro, puedes recibir un correo electrónico de aviso.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					Generalmente, puedes desactivar la opción de recibir estos mensajes de correo electrónico desde la página
				</font>
				<a href="http://es-es.haypista.com/editaccount.php?notifications" target="_blank">
					<font color="#636262" face="Times New Roman" size="3">
						<u>
							Notificaciones
						</u>
					</font>
				</a>
				<font face="Times New Roman" size="3">
					, pero HayPista se reserva el derecho a enviarte las novedades de tu cuenta incluso si desactivas esta opción.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					HayPista puede usar información de tu perfil sin identificarte individualmente ante terceros. Lo hacemos para calcular a cuánta gente de una red le gusta un grupo o una película determinados y personalizar anuncios y promociones para HayPista. Creemos que esto es beneficioso para ti. Puedes saber más cosas sobre todo lo que te rodea y, cuando haya anuncios, es más probable que sean interesantes para ti. Por ejemplo, si especificas una película favorita en tu perfil, podemos anunciarte el estreno de una película del mismo estilo en tu ciudad. No obstante, no revelaremos a la productora cinematográfica quién eres.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					Podemos utilizar información sobre ti que recopilemos de otras fuentes incluyendo, entre otras, periódicos y fuentes de Internet como blogs, servicios de mensajería instantánea, la plataforma de desarrolladores de HayPista y otros usuarios de HayPista, para complementar tu perfil. En general, allí donde se utilice este tipo de información, te permitimos especificar en tu configuración de privacidad que no quieres que esto ocurra o realizar otras acciones que limiten la conexión de esta información con tu perfil (p. ej., eliminar enlaces a etiquetas de fotos).
				</font>
			</p>
			<p>
				<font color="#333333" face="Tahoma" size="2">
					<b>
						Información compartida con terceros
					</b>
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					HayPista te permite compartir información con otros (amigos y gente de tus redes), a la vez que te proporciona opciones de privacidad que restringen a otros usuarios el acceso a tu información. Puedes elegir la información que proporcionas a tus amigos y redes a través de HayPista. Nuestra arquitectura de red y tu configuración de privacidad te permiten tomar decisiones informadas sobre quién tiene acceso a tu información. No proporcionamos información de contacto a proveedores externos sin tu permiso. Compartimos tu información con terceros sólo en circunstancias limitadas, cuando creamos que 1) es razonablemente necesario para ofrecer el servicio, 2) es un requisito legal o 3) se hace con tu consentimiento. Por ejemplo:
				</font>
			</p>
			<ul type="DISC">
				<li>
					<font face="Tahoma" size="1">
						Tus noticias y mini-noticias pueden agregar la información que introduzcas y ponerla a disposición de tus amigos y de los miembros de la red de acuerdo con tu configuración de privacidad. Puedes definir tus preferencias para las noticias y las mini-noticias en tu pagina de
					</font>
					<a href="http://es-es.haypista.com/privacy/?view=feeds" target="_blank">
						<font color="#636262" face="Tahoma" size="1">
							<u>
								Privacidad
							</u>
						</font>
					</a>
					<font face="Tahoma" size="1">
						.
					</font>
				</li>
				<li>
					<font face="Tahoma" size="1">
						Al contrario que la mayoría de sitios web, HayPista limita el acceso a la información del sitio por parte de motores de búsqueda "crawlers" (como Google, Yahoo, MSN o Ask). HayPista bloquea el acceso de estos buscadores a información personal más allá de tu nombre, foto de perfil y cierta información limitada acerca de tu perfil (por ej. número de publicaciones en tu muro).
					</font>
				</li>
				<li>
					<font face="Tahoma" size="1">
						Podemos suministrar información a proveedores de servicios para que nos ayuden a acercarte los servicios que ofrecemos. Específicamente, podemos utilizar a terceros para facilitar nuestra actividad, por ejemplo, alojar el servicio en un centro de cómputos para servidores, enviar actualizaciones de HayPista por correo electrónico, eliminar información reiterativa de nuestras listas de usuarios, procesar pagos por productos o servicios, ofrecer un proceso de solicitud de trabajo en línea, o suministrar resultados de búsqueda o enlaces (incluyendo enlaces patrocinados). Respecto a estas ofertas y operaciones comerciales, nuestros proveedores de servicio pueden acceder a tu información personal para utilizarla por un tiempo limitado en relación con estas actividades comerciales. Cuando utilizamos a terceros para el procesamiento de cualquier información personal, implementamos protecciones técnicas y contractuales razonables que limitan el uso de esa información para los fines específicos de HayPista.
					</font>
				</li>
				<li>
					<font face="Tahoma" size="1">
						Si tú, tus amigos o miembros de tu red utilizáis cualquier aplicación de terceros desarrollada a través de la plataforma HayPista ("Aplicaciones de la Plataforma"), esas Aplicaciones de la Plataforma pueden acceder y compartir cierta información sobre ti con otros, según tu configuración de privacidad. Puedes optar por no compartir parte o toda la información a través de las Aplicaciones de la Plataforma en la página
					</font>
					<a href="http://es-es.haypista.com/privacy/" target="_blank">
						<font color="#636262" face="Tahoma" size="1">
							<u>
								Privacy Settings
							</u>
						</font>
					</a>
					<font face="Tahoma" size="1">
						. Además, los desarrolladores terceros que hayan creado y manejen Aplicaciones de la Plataforma ("Desarrolladores de la Plataforma"), también pueden acceder a tu información personal (excluyendo tu información de contacto) si permites que las Aplicaciones de la Plataforma accedan a tu información. Antes de permitir que cualquier Desarrollador de la Plataforma te ofrezca Aplicaciones de la Plataforma, HayPista exige al Desarrollador de la Plataforma que suscriba un acuerdo en virtud del cual, entre otras cosas, debe respetar tu configuración de privacidad y se limita estrictamente la recopilación, uso y almacenamiento de tu información. Sin embargo, aunque hayamos adoptado procedimientos técnicos y contractuales para restringir el posible mal uso de tal información por los Desarrolladores de la Plataforma, no podemos y no garantizamos que todos los Desarrolladores de la Plataforma cumplan tales acuerdos. Ten en cuenta que HayPista no investiga ni aprueba Desarrolladores de la Plataforma y no puede controlar cómo tales Desarrolladores de la Plataforma usan cualquier tipo de información personal que puedan obtener en relación con las Aplicaciones de la Plataforma. Además, los Desarrolladores de la Plataforma pueden requerir que aceptes sus propias condiciones de servicio, políticas de privacidad u otras políticas, que pueden concederles derechos adicionales o imponerte obligaciones adicionales, así que por favor asegúrate de leer estas condiciones y políticas detenidamente antes de usar cualquier Aplicación de la Plataforma. Puedes denunciar cualquier posible mal uso de información a través de la plataforma HayPista, y nosotros investigaremos la denuncia y tomaremos las medidas apropiadas contra el Desarrollador de la Plataforma, incluidas la finalización de su participación en la plataforma HayPista y/u otras acciones formales y legales.
					</font>
				</li>
				<li>
					<font face="Tahoma" size="1">
						Ocasionalmente proporcionamos cuentas de prueba que permiten a los no usuarios experimentar el mundo de HayPista. Dichas cuentas tienen capacidad limitada, (p. ej., el envío de mensajes está deshabilitado) y las contraseñas se cambian regularmente para limitar su posible mal uso.
					</font>
				</li>
				<li>
					<font face="Tahoma" size="1">
						Se nos puede requerir que revelemos información de usuario con arreglo a solicitudes legales, como citaciones u órdenes judiciales, o conforme a las leyes aplicables. No revelamos la información hasta creer de buena fe que la solicitud de información por parte de la ley o litigantes privados cumple la normativa legal aplicable. Además, podemos compartir una cuenta u otra información cuando creamos que es necesario para cumplir con la ley, para proteger nuestros intereses o propiedades, para impedir fraudes u otras actividades ilegales perpetradas a través del servicio HayPista o utilizando el nombre de HayPista, o para impedir daños físicos inminentes. Esto podría incluir compartir la información con otras compañías, abogados, agentes u agencias gubernamentales.
					</font>
				</li>
				<li>
					<font face="Tahoma" size="1">
						Te dejamos elegir compartir información con proveedores comerciantes o comercios electrónicos a travpes de grupos patrocinadores u otras ofertas en el sitio.
					</font>
				</li>
				<li>
					<font face="Tahoma" size="1">
						Podemos ofrecer tiendas o proporcionar servicios conjuntamente con otras compañías en HayPista. Podrás saber cuándo otra compañía está relacionada con cualquier tienda o servicio proporcionado en HayPista, y nosotros podremos compartir información de clientes con esa empresa en relación con tu uso de esa tienda o servicio.
					</font>
				</li>
				<li>
					<font face="Tahoma" size="1">
						HayPista Beacon es una forma de compartir con tus amigos en HayPista las acciones que has realizado en otros sitios, como una compra o la publicación de una crítica. Para darte, como usuario de HayPista, especificaciones claras sobre la información de la actividad que otros sitios recopilan y posiblemente comparten con tus amigos en HayPista, recopilamos cierta información de ellos y te la presentamos una vez que hayas completado una acción en dicho sitio. Tienes la opción de que HayPista deseche esa información o la comparta con tus amigos.&nbsp;
						<br>
						Para obtener más información sobre el funcionamiento del servicio,
					</font>
					<a href="http://es-es.haypista.com/beacon/faq.php" target="_blank">
						<font color="#636262" face="Tahoma" size="1">
							<u>
								lee el tutorial aquí
							</u>
						</font>
					</a>
					<font face="Tahoma" size="1">
						. Para rechazar el servicio completamente,
					</font>
					<a href="http://es-es.haypista.com/privacy/?view=feeds&amp;tab=external" target="_blank">
						<font color="#636262" face="Tahoma" size="1">
							<u>
								haz clic aquí
							</u>
						</font>
					</a>
					<font face="Tahoma" size="1">
						.&nbsp;
						<br>
						Como muchos otros sitios web que interactúan con sitios web de terceros, podemos recibir información aún cuando estés desconectado de HayPista o que concierna a personas que no utilicen HayPista, de estos sitios junto con la operación técnica del sistema. En los casos donde HayPista recibe información sobre usuarios que están desconectados o sobre personas que no utilizan HayPista, no asociamos esta información con una cuenta individual de HayPista y la desechamos.
					</font>
				</li>
				<li>
					<font face="Tahoma" size="1">
						Si el propietario de toda o prácticamente toda la empresa HayPista, o determinadas unidades empresariales propiedad de HayPista, Inc. fuera a cambiar, tu información de usuario podría ser transferida al nuevo propietario con el fin de que el servicio siguiera funcionando. En dicho caso de transferencia de información, tu información de usuario permanecería sujeta a las promesas efectuadas en cualquier política de privacidad existente.
					</font>
				</li>
			</ul>
			<p>
				<font face="Times New Roman" size="3">
					Cuando usas HayPista, cierta información que publicas o compartes con terceros (p. ej., un amigo o alguien de tu red), como información personal, comentarios, mensajes, fotos, vídeos, anuncios clasificados de Marketplace u otra información, puede ser compartida con otros usuarios según la configuración de privacidad que selecciones. Todo el proceso de compartir información se realiza bajo tu propio riesgo. Por favor, ten presente que si revelas información personal en tu perfil o cuando publiques comentarios, mensajes, fotos, vídeos, anuncios clasificados de Marketplace u otros elementos, esta información puede aparecer públicamente.
				</font>
			</p>
			<p>
				<font color="#333333" face="Tahoma" size="2">
					<b>
						Enlaces
					</b>
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					HayPista puede contener enlaces a otros sitios web. Por supuesto, no asumimos la responsabilidad de las prácticas de privacidad de otros sitios web. Recomendamos a nuestros usuarios que lean las declaraciones de privacidad de todo sitio web que recopile información personal cada vez que abandonen nuestro sitio. Esta Política de Privacidad sólo es aplicable a la información recopilada por HayPista.
				</font>
			</p>
			<p>
				<font color="#333333" face="Tahoma" size="2">
					<b>
						Anuncios de terceros
					</b>
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					Los anuncios que aparecen en HayPista son algunas veces publicados (o "enviados") directamente a los usuarios por anunciantes terceros. Cuando esto sucede, reciben automáticamente tu dirección de IP. Estos anunciantes terceros también pueden descargar cookies en tu equipo o usar otras tecnologías como JavaScript y "web beacons" (también conocidos como "gifs de 1x1") para medir la eficacia de sus anuncios y personalizar su contenido. Esto permite a la red publicitaria reconocer tu equipo cada vez que te envía un anuncio para así medir su eficacia y personalizar su contenido. De esta forma, puede recopilar información sobre el lugar donde las personas que utilizan tu equipo o navegador vieron sus anuncios y determinar en qué anuncios hicieron clic. HayPista no tiene acceso ni control sobre las cookies que pueden descargar anunciantes terceros. Los anunciantes terceros no tienen acceso a tu información de contacto almacenada en HayPista a menos que tú desees compartirla con ellos.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					Esta política de privacidad cubre el uso de cookies por parte de HayPista y no cubre el uso de cookies u otras tecnologías de rastreo por parte de ninguno de sus anunciantes.
				</font>
			</p>
			<p>
				<font color="#333333" face="Tahoma" size="2">
					<b>
						Cambio o eliminación de información
					</b>
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					El acceso y el control sobre la mayor parte de la información personal en HayPista están disponibles a través de las herramientas de edición de perfil. Los usuarios de HayPista pueden modificar o eliminar en todo momento cualquier información de su perfil cuando inicien sesión en su cuenta. La información se actualizará inmediatamente. Aquellos que deseen desactivar su cuenta de HayPista pueden hacerlo en la página
				</font>
				<a href="http://es-es.haypista.com/editaccount.php" target="_blank">
					<font color="#636262" face="Times New Roman" size="3">
						<u>
							Mi cuenta
						</u>
					</font>
				</a>
				<font face="Times New Roman" size="3">
					. La información eliminada podría permanecer en copias de seguridad dentro de un tiempo razonable, pero generalmente no estará disponible para los miembros de HayPista.
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					Cuando utilizas las funciones de comunicación del servicio para compartir información con otras personas en HayPista (por ej., enviar un mensaje personal a otro usuario) generalmente no podrás eliminar estas comunicaciones.
				</font>
			</p>
			<p>
				<font color="#333333" face="Tahoma" size="2">
					<b>
						Seguridad
					</b>
				</font>
			</p>
			<p>
				<font face="Times New Roman" size="3">
					HayPista toma precauciones adecuadas para proteger la información de nuestros usuarios. La información de tu cuenta está&nbsp;guardada en un servidor seguro protegido por un firewall. Cada vez que introduces información confidencial (como números de tarjetas de crédito o tu contraseña), codificamos esa información mediante la tecnología SSL (Secure Socket Layer). (Para obtener más información sobre SSL, visita
				</font>
				<a href="http://en.wikipedia.org/wiki/Secure_Sockets_Layer" target="_blank">
					<font color="#636262" face="Times New Roman" size="3">
						<u>
							http://en.wikipedia.org/wiki/
							<wbr>
								Secure_Sockets_Layer
							</u>
						</font>
					</a>
					<font face="Times New Roman" size="3">
						). Puesto que el correo electrónico y la mensajería instantánea no se consideran comunicaciones seguras, te pedimos que no nos envíes información privada por correo electrónico o servicios de mensajería instantánea. Si tienes alguna pregunta acerca de la seguridad en la web de HayPista, ponte en contacto con nosotros en
					</font>
					<a href="mailto:support@haypista.com" target="_blank">
						<font color="#636262" face="Times New Roman" size="3">
							<u>
								support@haypista.com
							</u>
						</font>
					</a>
					<font face="Times New Roman" size="3">
						<a name="0.1_graphic11">
						</a>
						<img src="https://mail.google.com/mail/?name=d33be9805ff33117.jpg&amp;attid=0.1&amp;disp=vahi&amp;view=att&amp;th=11c656a5e5458a48" alt="Your browser may not support display of this image." width="1" height="1">
					</font>
				</p>
				<p>
					<font color="#333333" face="Tahoma" size="2">
						<b>
							Condiciones de uso, avisos y revisiones
						</b>
					</font>
				</p>
				<p>
					<font face="Times New Roman" size="3">
						Tu uso de HayPista y cualquier disputa derivada del mismo están sujetos a esta Política de Privacidad, así&nbsp;como a nuestras Condiciones de Uso y todas sus medidas de resolución de disputas, incluidos el arbitraje, limitación a los daños y elección de legislación. Nos reservamos el derecho de cambiar nuestra Política de Privacidad y nuestras Condiciones de Uso en cualquier momento. Los cambios no materiales y aclaraciones entrarán en vigor inmediatamente, mientras que los cambios materiales entrarán en vigor pasados 30 días desde su publicación en este sitio web. Si hacemos cambios, los publicaremos e indicaremos en la parte superior de esta página la nueva fecha de vigencia de la política. Si hacemos cambios materiales a esta política, te lo notificaremos aquí, por correo electrónico o a través de un aviso en nuestra página de inicio. Te recomendamos que consultes esta política de forma periódica para que entiendas nuestra política de privacidad vigente. A menos que se especifique lo contrario, nuestra política de privacidad vigente se aplica a toda la información que tenemos sobre ti y tu cuenta.
					</font>
				</p>
				<p>
					<font color="#333333" face="Tahoma" size="2">
						<b>
							Contacto con el sitio web
						</b>
					</font>
				</p>
				<p>
					<font face="Times New Roman" size="3">
						Si tienes cualquier pregunta acerca de esta política de privacidad, ponte en contacto con nosotros en
					</font>
					<a href="mailto:support@haypista.com" target="_blank">
						<font color="#636262" face="Times New Roman" size="3">
							<u>
								support@haypista.com
							</u>
						</font>
					</a>
					<font face="Times New Roman" size="3">
						También puedes ponerte en contacto con nosotros por correo postal en MADRID.
					</font>
				</p>
