<div class="row">
	<div class="twelve columns">

		<table>

			<% my_schedules.each do |schedule| -%>		
			<tr>
				<%= view_schedule_name(schedule) %>
				<%= view_schedule_group(schedule) %>
				<%= view_schedule_played(schedule) %>
				<%= view_schedule_rating(schedule) %>
			</tr>
			<% end -%>

		</table>
	</div>
</div>






