<%  
	the_label = label_name(:my_upcoming)
	# content_for(:title, the_label)
	unless my_schedules.empty? 
%>
	<h2 class="title"><%= option_image_link('events') %>&nbsp;&nbsp;<%= the_label %></h2>

	<div class="inner">
		<%= render :partial => "home/upcoming_schedule", :locals => {:upcoming_schedules => my_schedules, :add_style => true} %>
	</div>
<% end %>








