<div class="block">

	<%= render :partial => 'secondary_info' %>

	<div id="faq">
		<div id="faq_content">
			<h3>
				<%= label_name(:what_is_haypista) %>
			</h3>

			<p>
				<strong>
					HayPista 
				</strong>
				es un portal que te ayuda a organizar partidos entre amigos, 
				buscar un centro donde puedas jugar, 
				encontrar a gente con los mismos intereses y sobretodo disfrutar el deporte. 
			</p>

			<h4>
				<%= label_name(:our_philosophy) %>
			</h4>
			<p>
				<%= label_name(:modo) %>
			</p>
			
		
		</div>

	</div>

</div>