<%  
	the_label = label_name(:classifieds)
	content_for(:title, the_label)
%> 

<div class="block">

  <%= get_secondary_navigation %>

	<div class="content">   

		<h2 class="title"><%#= get_collection_label(@items) %></h2>

		<div class="inner">

			<table class="table">

			<% @classifieds.each do |classified| 
				
				case classified.item_type
				when "Group"
					group = classified.item
				end

				
				%>
				<%= render "classifieds/classified", :classified => classified, :group => group %>  
			<%- end -%>
			
			</table>

			<%#= render :partial => 'shared/action_bar', :locals => { :collection => @classified } %>

		</div>
	</div>
</div>

<%# content_for :sidebar, render(:partial => 'sidebar') if current_user.is_manager_of?(@group) -%>
<%# content_for :sidebar, render(:partial => '/groups/sidebar_show') -%>





