

<div id="home">

	<div class="announce">
		<h1><strong><%= label_name(:faq) %></strong></h1>
	</div>

	<div class="features">

		<h3>¿Cómo te puede ayudar HayPista?</h3>
		
		<p>*  Te permite organizar equipos y eventos.</p>
		
		<p>*  Puedes ver quien se ha convocado al evento, quien esta para ultima hora y quien sera ausente.</p>
		
		<p>*  Controlar los pagos y deudas del equipo</p>
		
		<p>*  Dejar mensajes en el muro del equipo o de tus companeros e incluso en el evento</p>
		
		<p>*  Podras mandar mensajes a tu equipo</p>
		
		<p>*  Controlar las estadisticas de tu equipo</p>
		
		<p>*  Ver y subir el logo de tu equipo o tu propia foto</p>
		
		<p>*  Ver los centros mas cercanos a donde tu juegas</p>

		<br/>
		<p>
			<%= label_name(:question_or_comment) %>
			<a href="mailto:support@HayPista.com">
				<%= label_name(:drop_us_a_note) %>
			</a>
		</p>

	</div>
</div>
