<div class="block">

	<%= render :partial => 'secondary_info' %>

	<div class="content">   

		<h2 class="title"><%= label_name(:faq) %></h2>

		<div class="inner">

			<p>
				<strong>
					HayPista&nbsp;
				</strong>
				was founded in late 2007 with the mission of making it easy for you to find a team to play with based on your individual interests. We are developing an algorithm to generate personalized recommendations to help you discover the best team available today.
			</p>

			<p>
				Question or comments?&nbsp;
				<a href="mailto:support@HayPista.com">
					Drop us a note.
				</a>
			</p>
						
		</div>
	</div>
</div>
		