<div id="home">
	
	<div class="announce">
		<%= content_tag 'h4', "#{label_name(:feedback)}" %>		
	</div>
	
	<hr/>
	<br/>
	
	<div class="features">
		<%#= content_tag 'h5', label_name(:what_is_haypista) %>
		<%#= content_tag 'p', "#{label_name(:haypista_pronunciation)} #{label_name(:what_is_haypista_details)}" %>

		<!-- <hr/> -->
		
		<%#= content_tag 'h5', label_name(:faq_our_philosophy) %>
		<%#= content_tag 'p', label_name(:faq_our_philosophy_description) %>		
		
		<!-- <hr/> -->
		
		<%#= content_tag 'h5', label_name(:faq_our_story) %>
		<%#= content_tag 'p', "#{app_name} #{label_name(:faq_our_story_description)}" %>
		
		<!-- <hr/> -->

	</div>
</div>