<div class="block">

	<%= render :partial => 'secondary_info' %>

	<div id="faq">
		<div id="faq_content">
			<h3>
				<%= label_name(:faq_acceso_con_tu_cuenta) %>
			</h3>
			<h4>
				<%= label_name(:why_use_your_account) %>
			</h4>
			<p>
				Registrarse en HayPista es rápido y fácil! Aquí, en HayPista, no creemos que debes tener que crear otro nombre de usuario y clave. 
				Nosotros trabajamos con varios sitios que ya puedes utilizar. 
				Simplemente selecciona la cuenta con la que quieres acceder a HayPista y nosotros nos encargamos del resto!
			</p>

			<h4>		
				<%= label_name(:what_is_your_account) %>
			</h4>
			<p>				
				Acceso con tu cuenta es una manera sencilla de identificarte en multitud de sitios web con los mismos datos, 
				sin tener que recordar diferentes datos de acceso (usuario/clave) para cada una de las web que visites.
			</p>

			<h4>
				¿Por qué usar acceso con tu cuenta?
			</h4>
			<p>
				La principal ventaja es que <strong>solo necesitas recordar un dato</strong> para acceder a todos los sitios web que soporten este servicio. 
			</p>

			<h4>
				¿Por qué acceso con tu cuenta es seguro?
			</h4>
			<p>
				Con este servicio, HayPista <strong>no tiene acceso a tu clave</strong>, 
				al contrario de los sistemas tradicionales. Solo tiene acceso a los datos que tú quieres y en el momento que quieres.
			</p>


		</div>

	</div>

</div>