

<div id="home">

	<div class="announce">
		<h1><strong><%= label_name(:success_story) %></strong></h1>
	</div>

	<div class="features">

		<h3><%= label_name(:success_story) %></h3>
		
		<p>&nbsp;</p>

	</div>
</div>
