<div id="home">
	
	<div class="announce">
		<%= content_tag 'h4', "#{label_name(:How does Facebook login work?)}" %>		
	</div>
	
	<hr/>
	<br/>
	
	<div class="features">

		<%= render 'home/terms_default_es_zurb' %>

		<hr/>
		
		<p>
			<%= label_name(:question_or_comment) %>
			<a href="mailto:support@HayPista.com">
				<%= label_name(:drop_us_a_note) %>
			</a>
		</p>
		
		<hr/>

	</div>
</div>