<div id="home">
	
	<div class="announce">
		<h1><strong><%= label_name(:terms_of_use) %></strong></h1>
	</div>
	
	<div class="features">

		<%= render :partial => 'terms_default_es' %>

		<br/>
		<p>
			<%= label_name(:question_or_comment) %>
			<a href="mailto:support@HayPista.com">
				<%= label_name(:drop_us_a_note) %>
			</a>
		</p>				
		
	</div>

</div>