<%  
	the_label = label_name(:upcoming)
	content_for(:title, the_label)
	
	is_cup_display = DISPLAY_FREMIUM_SERVICES and !@upcoming_cups.empty?
	is_game_display = DISPLAY_FREMIUM_SERVICES and !@upcoming_games.empty?
%> 


<%= render 'home/upcoming_schedule_zurb', :my_schedules => @upcoming_schedules, :the_label => the_label unless @upcoming_schedules.empty? %>

<%= render 'home/upcoming_cup_zurb', :upcoming_cups => @upcoming_cups, :the_label => label_name(:upcoming) if is_cup_display %>
	
<%= render 'home/upcoming_game_zurb', :my_schedules => @upcoming_games, :the_label => the_label if is_game_display %>

<% unless @upcoming %>

<div class="row">
	<div class="twelve columns">   

		<%= show_heading(label_name(:upcoming_no)) %>

	</div> 
</div>

<% end -%>
