<%  
	has_schedule ||= false
	has_meet ||= false
	
	has_schedule = true unless upcoming_schedules.empty? 
	has_meet = true unless upcoming_meets.empty?
	has_classified = true unless upcoming_classifieds.empty?
	the_label = label_name(:upcoming_schedules)
	content_for(:title, the_label)
%> 

<div class="block">

  <%= render :partial => 'secondary_navigation' %>   
  
  <div class="content">   
  
 	<%= show_heading(the_label) %>
	
    <div class="inner">

	<%= render :partial => "upcoming_schedule", :locals => {:upcoming_schedules => @upcoming_schedules} if has_schedule %>
	<%#= render :partial => "upcoming_meet", :locals => {:upcoming_meets => @upcoming_meets} if has_meet %>
	
    </div>
  </div> 
</div>

<% content_for :sidebar, render(:partial => '/invitations/sidebar') -%>
<% content_for :sidebar, render(:partial => 'shared/upcoming_classified' , :locals => {:upcoming_meets => @upcoming_meets}) if has_classified -%>
<% content_for :sidebar, render(:partial => '/shared/active_comment') if current_user and @has_activities  -%>
<% content_for :sidebar, render(:partial => 'sidebar') -%>






