<%  
	has_schedule ||= false
	# has_meet ||= false
	
	has_schedule = true unless upcoming_schedules.empty? 
	
	# if has_schedule
	# 	the_label = @upcoming_schedules.first.concept 
	# else
		the_label = label_name(:upcoming_schedules)
	# end
	content_for(:title, the_label)
%> 

<div class="block">

  <%= render :partial => 'secondary_navigation' %>   
  
  <div class="content">   
  
 	<%= show_heading(the_label) %>
	
    <div class="inner">

	<%= render :partial => "upcoming_schedule", :locals => {:upcoming_schedules => @upcoming_schedules} if has_schedule %>
	
    </div>
  </div> 
</div>

<% content_for :sidebar, render(:partial => '/shared/sidebar_index') -%>






