<%
	the_label = label_name(:escuadras_destroy)
	the_confirmation = "#{ the_label }?"
%>

<tr>  
	<td>
		<%= escuadra_image_link_smaller(escuadra) %>
	</td>

	<td>
		<%= escuadra_link(escuadra) %>
	</td>

	<td>&nbsp;</td>

	<td>&nbsp;</td>

	<td>&nbsp;</td>

	<td>
		<span class="action">
			<% if is_current_manager_of(@cup) and !final_played %>
			<span class="action">
				<%= link_to(label_name(:escuadras_edit), edit_escuadra_path(escuadra)) %><br/>
				<%= link_to(the_label , borrar_escuadra_path(:id => escuadra, :cup => @cup), :confirm => the_confirmation) %>
			</span>
			<% end -%>

		</span>
	</td>
</tr>   