
<h2 class="title"><%= label_name(:escuadras_options_without) %></h2>

<div class="inner">

<p>
	<span class="large">*&nbsp;&nbsp;
		<%= link_to("#{label_name(:you_can)} #{label_name(:create_your_own)} #{label_name(:escuadra).downcase}", new_escuadra_url(:id => @cup)) %>
	</span>
</p>
<p>
	<span class="large">*&nbsp;&nbsp;
		<%= link_to("#{label_name(:you_can)} #{label_name(:escuadras_join)}", escuadras_path) %>
		<%#=  link_to(label_name(:all_escuadra) , escuadras_path) %>
	</span>
</p>
</div>