<div class="block">
	<h3><%= label_name(:options) %></h3>
	<div class="content">
		<p><%= option_image_link('group') %>&nbsp;&nbsp;<%= link_to(label_name(:escuadras_create) , new_escuadra_url(:id => @cup)) %></p>
	</div>
</div>