<% 
	@cup_escuadras = @cup.escuadras
	@escuadras = Escuadra.find(:all, :conditions => ["item_type = 'Escuadra' and id not in (select escuadra_id from cups_escuadras where cup_id = ?)", @cup], :order => 'name')
%>

<div class="block">
	
	<%= get_secondary_navigation(@cup) %>  

	<div class="content">   

		<h2 class="title"><%= "#{control_action_label} #{label_name('for')} " %><%= item_name_link(@cup)
 %></h2>

		<div class="inner">

			<% form_for(@escuadra, :html => { :multipart => true, :class => :form  }) do |f| -%>
				<%= render "escuadras/form", :f => f, :escuadras => @escuadras, :cup => @cup %>
			<% end -%>

		</div>

	</div>

</div>
