<%
	the_label = label_name(:escuadras)
	content_for(:title, the_label)
	has_escuadras = (object_counter(@cup.escuadras) > 0 )
%>

<div class="block">
	
	<%= render "cups/secondary_navigation", :cup => @cup %>

	<div class="content">  
			<% if has_escuadras %>
				<%= render :partial => '/escuadras/index_full' %>
			<% else %>
				<% if @cup.official %>
				<%= render :partial => '/escuadras/index_blank' %>
				<% else %>
				<%= render :partial => '/groups/index_blank' %>
				<% end %>
			<% end %>
	</div>	
</div>

<% content_for :sidebar, render(:partial => 'shared/sidebar_show_final_played') -%>
