<%
	the_label = label_name(:escuadras)
	content_for(:title, the_label)
%>

<div class="block">
	<%= render :partial => '/cups/secondary_navigation' %>  
	<div class="content">  
			<% if object_counter(@escuadras) > 0 %>
				<%= render :partial => '/escuadras/index_full' %>
			<% else %>
				<%= render :partial => '/escuadras/index_blank' %>
			<% end %>
	</div>	
</div>

<% content_for :sidebar, render(:partial => 'cups/sidebar_show') -%>
<% content_for :sidebar, render(:partial => 'sidebar') if current_user.is_manager_of?(@cup) -%>
