<%#= stylesheet_link_tag 'rater' %>

<% @convert = %w[one two three four five] %>

 <%#= number_with_precision(asset.ratings, 1) %>/5 Stars</p>  
 <ul class='star-rating'>  
 <li class='current-rating' style='width:<%#= (asset.ratings * 30).to_i -%>px;'><br />  
           Currently <%#= number_with_precision(asset.rating, 1) %>/5 Stars.  
         </li>  

<li>
<% 1.upto(5) do |x| -%>

	<%= link_to "#{x}", ratings_rate_path(:id => asset.id, :rating => x, :type => asset.class.to_s),
	{ :class => "#{@convert[x-1]}-stars", :name => "#{pluralize(x,'star')} out of 5", :title => "Rate this a #{x} out of 5" }
	 %>
	<%#= link_to_remote "#{x}", 
		{ :url => { :controller => 'ratings', :action => 'rate', :id => asset.id, :rating => x, :rateable_type => asset.class.to_s } },
		{ :class => "#{@convert[x-1]}-stars", :name => "#{pluralize(x,'star')} out of 5", :title => "Rate this a #{x} out of 5" }  
	-%>
	&nbsp;&nbsp;&nbsp;&nbsp;	
<% end -%>
</li>