<!-- Tour created with Amberjack wizard: http://amberjack.org -->
<div class="ajTourDef" id="MyTour" style="display:none">
  <div title="http://thepista.local">
    Placeholder for page 1 - replace this text
  </div>
  <div title="http://thepista.local"></div>
</div>

<script type="text/javascript" src="http://amberjack.org/src/stable/amberjack.pack.js">
</script>

<script type="text/javascript" defer="true">
  Amberjack.onCloseClickStay = true;
  Amberjack.open();
</script>