<%
	the_label = label_name(:invitations)
	content_for(:title, the_label)
%>

<div class="row"> 
	<div class="twelve column">   

		<%= set_title_class(the_label, 'invitation') %>



			<% if object_counter(@invitations) > 0 %>

			<table>
				<%= render :partial => 'invitation_zurb', :collection => @invitations %>
			</table>

			<% end %>
			


	</div>
</div>