<%
	the_label = label_name(:invitations)
	content_for(:title, the_label)
%>

<div class="row"> 

	<div class="twelve column">   

		<h2 class="title"><%= get_collection_label(@invitations) %></h2>

		<div class="inner">

			<% if object_counter(@invitations) > 0 %>

			<table>
				<%= render :partial => 'invitation_zurb', :collection => @invitations %>
			</table>

			<% end %>
			
			<%= render 'shared/action_bar_zurb', :collection => @invitation %>

		</div>
	</div>
</div>