<%
	the_label = label_name(:invitations)
	content_for(:title, the_label)
%>

<div class="block"> 
	<%= render :partial => '/messages/secondary_navigation' %>  

	<div class="content">   

		<h2 class="title"><%= get_collection_label(@invitations) %></h2>

		<div class="inner">

			<% if object_counter(@invitations) > 0 %>

			<table class="table">
				<%= render :partial => 'invitation', :collection => @invitations %>
			</table>

			<% end %>
			<%= render :partial => 'shared/action_bar', :locals => { :collection => @invitation } %>

		</div>
	</div>
</div>