<% 
	the_label = control_action_label 

	if @schedule 
		the_label = "#{label_name(:to)} #{item_name_link(@schedule)}" 
	elsif @group 
		the_label = "#{label_name(:to)} #{item_name_link(@group)}"  
	elsif @challenge 
		the_label = "#{label_name(:to)} #{item_name_link(@challenge)}" 
	elsif @cup 
		the_label = "#{label_name(:to)} #{item_name_link(@cup)}" 
	end

	the_label = "#{label_name(:invitation)} #{the_label}"
	@item = @invitation
%>

<div class="row">

	<div class="twelve columns">  

		<%= set_title_class(the_label) %>
		
		<hr />

		<%= render 'shared/new_edit_multipart_zurb', :item => @item %>
		

	 </div>
	 
</div>