<div class="block">
	<h3><%= label_name(:managers_options) %></h3>
	<div class="content">
		<p><%= option_image_link('venue') %>&nbsp;&nbsp;<%= link_to(label_name(:venues_create) , new_venue_url) %></p>
	</div>
</div>