<div class="block">

<h3><%= label_name(:options) %></h3>

<div class="content">
<% @venue.installations.each do |installation| 
	the_label = h(installation.name)
%>					
	<p><%= option_image_link('installation') %>&nbsp;&nbsp;<%#= item_name_link(installation) %>
		<%= link_to the_label, reservations_path(:id => installation) %>
	</p>		
<% end %>
</div>

</div>