<%
	the_label = label_name(:venues)
	content_for(:title, the_label)
%>

<div class="block">
	
	<%= get_secondary_navigation(Venue.new) %>
	 
	<div class="content">  
			<% if object_counter(@venues) > 0 %>
				<%= render :partial => '/venues/index_full' %>
			<% else %>
				<%= render :partial => '/venues/index_blank' %>
			<% end %>
	</div>	
</div>

<% content_for :sidebar, render('/shared/sidebar_index') -%>
<% content_for :sidebar, render(:partial => 'venues/sidebar')  if current_user.is_maximo? -%>