


	<div id="blq-container-inner" lang="en-GB">
		<div id="blq-main" class="blq-clearfix">          
			<div class="world-cup-2010-section">
				<div class="ukfs-sport">
				</div>
				<div id="navigation">
				</div>
				<div class="full-layout">
					<h1 class="sectionHeader noLine">Groups and teams</h1>
					<div class="horizontal">
					</div>
					<h2 class="noLine">Group stage</h2>
					<div class="groupTableModule  ">
						<table>
							<colgroup>
							<col width="110px">
							<col width="22px">
							<col width="22px">
							<col width="22px">
							<col width="25px">
							<col width="25px">
						</colgroup>
						<thead>
							<tr>
								<th class="first">
									<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/group_a">Group A</a>
								</th>
								<th>W</th>
								<th>D</th>
								<th>L</th>
								<th>GD</th>
								<th>PTS</th>
							</tr>
						</thead>
						<tbody>
							<tr class="alt ">
								<td class="first uru">
									<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/uruguay">Uruguay</a>
								</td>
								<td>2</td>
								<td>1</td>
								<td>0</td>
								<td>4</td>
								<td>7</td>
							</tr>
							<tr class="split ">
								<td class="first mex">
									<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/mexico">Mexico</a>
								</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>4</td>
							</tr>
							<tr class="alt ">
								<td class="first rsa">
									<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/south_africa">South Africa</a>
								</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>-2</td>
								<td>4</td>
							</tr>
							<tr>
								<td class="first fra">
									<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/france">France</a>
								</td>
								<td>0</td>
								<td>1</td>
								<td>2</td>
								<td>-3</td>
								<td>1</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="groupTableModule  ">
					<table>
						<colgroup>
						<col width="110px">
						<col width="22px">
						<col width="22px">
						<col width="22px">
						<col width="25px">
						<col width="25px">
					</colgroup>
					<thead>
						<tr>
							<th class="first">
								<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/group_b">Group B</a>
							</th>
							<th>W</th>
							<th>D</th>
							<th>L</th>
							<th>GD</th>
							<th>PTS</th>
						</tr>
					</thead>
					<tbody>
						<tr class="alt ">
							<td class="first arg">
								<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/argentina">Argentina</a>
							</td>
							<td>3</td>
							<td>0</td>
							<td>0</td>
							<td>6</td>
							<td>9</td>
						</tr>
						<tr class="split ">
							<td class="first kor">
								<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/south_korea">South Korea</a>
							</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>-1</td>
							<td>4</td>
						</tr>
						<tr class="alt ">
							<td class="first gre">
								<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/greece">Greece</a>
							</td>
							<td>1</td>
							<td>0</td>
							<td>2</td>
							<td>-3</td>
							<td>3</td>
						</tr>
						<tr>
							<td class="first nga">
								<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/nigeria">Nigeria</a>
							</td>
							<td>0</td>
							<td>1</td>
							<td>2</td>
							<td>-2</td>
							<td>1</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="groupTableModule  ">
				<table>
					<colgroup>
					<col width="110px">
					<col width="22px">
					<col width="22px">
					<col width="22px">
					<col width="25px">
					<col width="25px">
				</colgroup>
				<thead>
					<tr>
						<th class="first">
							<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/group_c">Group C</a>
						</th>
						<th>W</th>
						<th>D</th>
						<th>L</th>
						<th>GD</th>
						<th>PTS</th>
					</tr>
				</thead>
				<tbody>
					<tr class="alt ">
						<td class="first usa">
							<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/usa">USA</a>
						</td>
						<td>1</td>
						<td>2</td>
						<td>0</td>
						<td>1</td>
						<td>5</td>
					</tr>
					<tr class="split ">
						<td class="first eng">
							<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/england">England</a>
						</td>
						<td>1</td>
						<td>2</td>
						<td>0</td>
						<td>1</td>
						<td>5</td>
					</tr>
					<tr class="alt ">
						<td class="first svn">
							<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/slovenia">Slovenia</a>
						</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>0</td>
						<td>4</td>
					</tr>
					<tr>
						<td class="first alg">
							<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/algeria">Algeria</a>
						</td>
						<td>0</td>
						<td>1</td>
						<td>2</td>
						<td>-2</td>
						<td>1</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="groupTableModule last ">
			<table>
				<colgroup>
				<col width="110px">
				<col width="22px">
				<col width="22px">
				<col width="22px">
				<col width="25px">
				<col width="25px">
			</colgroup>
			<thead>
				<tr>
					<th class="first">
						<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/group_d">Group D</a>
					</th>
					<th>W</th>
					<th>D</th>
					<th>L</th>
					<th>GD</th>
					<th>PTS</th>
				</tr>
			</thead>
			<tbody>
				<tr class="alt ">
					<td class="first ger">
						<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/germany">Germany</a>
					</td>
					<td>2</td>
					<td>0</td>
					<td>1</td>
					<td>4</td>
					<td>6</td>
				</tr>
				<tr class="split ">
					<td class="first gha">
						<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/ghana">Ghana</a>
					</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>0</td>
					<td>4</td>
				</tr>
				<tr class="alt ">
					<td class="first aus">
						<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/australia">Australia</a>
					</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>-3</td>
					<td>4</td>
				</tr>
				<tr>
					<td class="first srb">
						<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/serbia">Serbia</a>
					</td>
					<td>1</td>
					<td>0</td>
					<td>2</td>
					<td>-1</td>
					<td>3</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="groupTableModule  ">
		<table>
			<colgroup>
			<col width="110px">
			<col width="22px">
			<col width="22px">
			<col width="22px">
			<col width="25px">
			<col width="25px">
		</colgroup>
		<thead>
			<tr>
				<th class="first">
					<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/group_e">Group E</a>
				</th>
				<th>W</th>
				<th>D</th>
				<th>L</th>
				<th>GD</th>
				<th>PTS</th>
			</tr>
		</thead>
		<tbody>
			<tr class="alt ">
				<td class="first ned">
					<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/netherlands">Netherlands</a>
				</td>
				<td>3</td>
				<td>0</td>
				<td>0</td>
				<td>4</td>
				<td>9</td>
			</tr>
			<tr class="split ">
				<td class="first jpn">
					<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/japan">Japan</a>
				</td>
				<td>2</td>
				<td>0</td>
				<td>1</td>
				<td>2</td>
				<td>6</td>
			</tr>
			<tr class="alt ">
				<td class="first den">
					<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/denmark">Denmark</a>
				</td>
				<td>1</td>
				<td>0</td>
				<td>2</td>
				<td>-3</td>
				<td>3</td>
			</tr>
			<tr>
				<td class="first cmr">
					<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/cameroon">Cameroon</a>
				</td>
				<td>0</td>
				<td>0</td>
				<td>3</td>
				<td>-3</td>
				<td>0</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="groupTableModule  ">
	<table>
		<colgroup>
		<col width="110px">
		<col width="22px">
		<col width="22px">
		<col width="22px">
		<col width="25px">
		<col width="25px">
	</colgroup>
	<thead>
		<tr>
			<th class="first">
				<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/group_f">Group F</a>
			</th>
			<th>W</th>
			<th>D</th>
			<th>L</th>
			<th>GD</th>
			<th>PTS</th>
		</tr>
	</thead>
	<tbody>
		<tr class="alt ">
			<td class="first par">
				<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/paraguay">Paraguay</a>
			</td>
			<td>1</td>
			<td>2</td>
			<td>0</td>
			<td>2</td>
			<td>5</td>
		</tr>
		<tr class="split ">
			<td class="first svk">
				<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/slovakia">Slovakia</a>
			</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>-1</td>
			<td>4</td>
		</tr>
		<tr class="alt ">
			<td class="first nzl">
				<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/new_zealand">New Zealand</a>
			</td>
			<td>0</td>
			<td>3</td>
			<td>0</td>
			<td>0</td>
			<td>3</td>
		</tr>
		<tr>
			<td class="first ita">
				<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/italy">Italy</a>
			</td>
			<td>0</td>
			<td>2</td>
			<td>1</td>
			<td>-1</td>
			<td>2</td>
		</tr>
	</tbody>
</table>
</div>
<div class="groupTableModule  ">
	<table>
		<colgroup>
		<col width="110px">
		<col width="22px">
		<col width="22px">
		<col width="22px">
		<col width="25px">
		<col width="25px">
	</colgroup>
	<thead>
		<tr>
			<th class="first">
				<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/group_g">Group G</a>
			</th>
			<th>W</th>
			<th>D</th>
			<th>L</th>
			<th>GD</th>
			<th>PTS</th>
		</tr>
	</thead>
	<tbody>
		<tr class="alt ">
			<td class="first bra">
				<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/brazil">Brazil</a>
			</td>
			<td>2</td>
			<td>1</td>
			<td>0</td>
			<td>3</td>
			<td>7</td>
		</tr>
		<tr class="split ">
			<td class="first por">
				<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/portugal">Portugal</a>
			</td>
			<td>1</td>
			<td>2</td>
			<td>0</td>
			<td>7</td>
			<td>5</td>
		</tr>
		<tr class="alt ">
			<td class="first civ">
				<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/ivory_coast">Ivory Coast</a>
			</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>4</td>
		</tr>
		<tr>
			<td class="first prk">
				<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/north_korea">North Korea</a>
			</td>
			<td>0</td>
			<td>0</td>
			<td>3</td>
			<td>-11</td>
			<td>0</td>
		</tr>
	</tbody>
</table>
</div>
<div class="groupTableModule last ">
	<table>
		<colgroup>
		<col width="110px">
		<col width="22px">
		<col width="22px">
		<col width="22px">
		<col width="25px">
		<col width="25px">
	</colgroup>
	<thead>
		<tr>
			<th class="first">
				<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/group_h">Group H</a>
			</th>
			<th>W</th>
			<th>D</th>
			<th>L</th>
			<th>GD</th>
			<th>PTS</th>
		</tr>
	</thead>
	<tbody>
		<tr class="alt ">
			<td class="first esp">
				<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/spain">Spain</a>
			</td>
			<td>2</td>
			<td>0</td>
			<td>1</td>
			<td>2</td>
			<td>6</td>
		</tr>
		<tr class="split ">
			<td class="first chi">
				<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/chile">Chile</a>
			</td>
			<td>2</td>
			<td>0</td>
			<td>1</td>
			<td>1</td>
			<td>6</td>
		</tr>
		<tr class="alt ">
			<td class="first sui">
				<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/switzerland">Switzerland</a>
			</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>0</td>
			<td>4</td>
		</tr>
		<tr>
			<td class="first hon">
				<a href="http://news.bbc.co.uk/sport1/hi/football/world_cup_2010/groups_and_teams/team/honduras">Honduras</a>
			</td>
			<td>0</td>
			<td>1</td>
			<td>2</td>
			<td>-3</td>
			<td>1</td>
		</tr>
	</tbody>
</table>
</div>
<div class="horizontal">
</div>
<div id="knockout">
	<h2 class="noLine">Knock-out stage</h2>
	<h4 class="first">Last 16</h4>
	<div class="">
		<h5>KO 1</h5>
		<p>Uruguay 2-1 South Korea</p>
	</div>
	<div class="">
		<h5>KO 2</h5>
		<p>United States 1-2 Ghana</p>
	</div>
	<div class="">
		<h5>KO 3</h5>
		<p>Germany 4-1 England</p>
	</div>
	<div class="">
		<h5>KO 4</h5>
		<p>Argentina 3-1 Mexico</p>
	</div>
	<div class="">
		<h5>KO 5</h5>
		<p>Netherlands 2-1 Slovakia</p>
	</div>
	<div class="">
		<h5>KO 6</h5>
		<p>Brazil 3-0 Chile</p>
	</div>
	<div class="">
		<h5>KO 7</h5>
		<p>Paraguay 0-0 Japan</p>
	</div>
	<div class="">
		<h5>KO 8</h5>
		<p>Spain 1-0 Portugal</p>
	</div>
	<h4>Quarter-finals</h4>
	<div class="">
		<h5>QF 1</h5>
		<p>Netherlands 2-1 Brazil</p>
	</div>
	<div class="">
		<h5>QF 2</h5>
		<p>Uruguay 1-1 Ghana</p>
	</div>
	<div class="">
		<h5>QF 3</h5>
		<p>Argentina 0-4 Germany</p>
	</div>
	<div class="">
		<h5>QF 4</h5>
		<p>Paraguay 0-1 Spain</p>
	</div>
	<h4>Semi-finals</h4>
	<div class="semi">
		<h5>SF 1</h5>
		<p>Uruguay 2-3 Netherlands</p>
	</div>
	<div class="semi">
		<h5>SF 2</h5>
		<p>Germany 0-1 Spain</p>
	</div>
	<h4>Third-place play-off</h4>
	<div class="third">
		<p>Uruguay 2-3 Germany</p>
	</div>
	<h4>World Cup final</h4>
	<div class="final">
		<p>Netherlands v Spain</p>
	</div>
</div>
</div>

</div>    
  </div>

</div>                 



</div>     

