<%
	the_label = is_action('index') ? label_name(:group_stage) : label_name(:group_round)
	content_for(:title, the_label)
	is_manager = is_current_manager_of(@cup)	
	
	final_played ||= false
	the_game = Game.final_game(@cup)
	final_played = the_game.played unless (the_game.nil? or the_game.blank?)
%>

<div class="row">

  <div class="twelve column">   
  
    <%#= set_title_class(the_label) %>
	
    <!-- <div class="inner"> -->
	
	<%= render :partial => '/games/cup_knockout_zurb' %>
		
	<!-- </div> -->
	</div>
</div>
