<% 
	@cup = @game.cup 
	the_label = "#{control_action_label} #{label_name(:for)} #{item_name_link(@cup)}" 
	@item = @game
%>

<div class="row">

	<div class="twelve columns">  

		<%= set_title_class(the_label) %>
		
		<hr />

		<%= render 'shared/new_edit_multipart_zurb', :item => @item %>


	</div>

</div>

