<div class="secondary-navigation">

<ul>
	
<% 
	the_label = "" 
	the_controller = controller.controller_name
	the_action = controller.action_name
%>

</ul>

<div class="clear"></div>

</div>