<%
	is_company_manager = @company ? is_current_manager_of(@company) : false
	is_company_member = @company ? is_current_member_of(@company) : false
	is_new_company = (get_controller_action =='company_new' or get_controller_action == 'company_create')
	has_company = @company ? is_new_company ? false : true : false
	has_branch = @brand ? true : false
			
	the_company_name = ""
	the_manager_label = ""
%>

<% if has_company %>

	<%= set_form_create_id_label_link(Branch.new, :company_id, @company, "#{label_name(:branches_create)} - #{@company.name}") %>

	<% if is_company_manager %>
	
		<div class="row">	
			<div class="twelve columns">				
				<%= set_form_edit_image_link(@company, :companies_edit) %>	
			</div>	
		</div>
		
	<% end -%>

	
	<% @company.branches.each do |branch| 
		is_branch_manager = (current_user.is_manager_of?(branch))
	%>
		<%= set_form_create_id_label_link(Group.new, :branch_id, branch, "#{label_name(:group_new)} - #{branch.name}") %>
	<% end %>
	
<% end -%>
