<div title="Fuera del plazo de reserva permitido" class="FueraPlazo" style="height: 66px;">
	
	<div class="Cabecera HoraReserva">
		
		<span>
			<%= "#{nice_simple_time_at(starts_at)} - #{nice_simple_time_at(starts_at+time_frame)}" %>
		</span>
		
	</div>
	
</div>