<%= stylesheet_link_tag 'venue' %>

<table class="Cuadrante" border="0">
	<tbody>
		<tr>			
			<% 7.times.each do |x| 
				current_day = first_day + x.day 
				starts_at = convert_to_datetime_zone(current_day, @installation.starts_at)
				ends_at = convert_to_datetime_zone((current_day + 1.day).midnight, @installation.ends_at)
				available = (starts_at > first_day)
				reserved = false
				block_number = 1
			%>
			
			<td class="ColPista">
				
				<%= render 'reservations/day_of_week', :current_day => current_day, :available => available %>	
							
				<%  				
					while (starts_at < ends_at)
						@reservations.each {|reservation| reserved = (reservation.starts_at == starts_at)}
						# the_block = Base64::b64encode(block_number.to_s)
						the_block = Base64::b64encode(starts_at.to_i.to_s)
						
						if reserved 
				%>
							<%= render "hour_reserved", :starts_at => starts_at, :time_frame => time_frame %>
					<% else %>
							<%= render "hour_available_#{available}", :starts_at => starts_at, :time_frame => time_frame, :block => the_block %>
				<% 
						end 
				 		starts_at += time_frame
						block_number +=1
					end 
				%>
								
			</td>
			
			<% end %>
		
		</tr>
	</tbody>
</table>


