<%#= stylesheet_link_tag 'venue' %>

<table style="width: 97%;">
<tbody>
<tr>						
<% 7.times.each do |x| 
	current_day = first_day + x.day
	block_token = Base64::encode64(current_day.to_i.to_s)
	
	is_holiday = false
	holiday_hour = false
	
	@holidays.each do |holiday| 
		if holiday.starts_at == convert_to_datetime_zone(current_day, holiday.starts_at)
			is_holiday = true
			holiday_hour = holiday.holiday_hour
		end
	end		
%>					
<td class="ColPista">
	<%#= render 'reservations/index_holiday_zurb', :current_day => current_day, :block_token => block_token, 
											 :is_holiday => is_holiday, :holiday_hour => holiday_hour  %> 
																						
	<%#= render 'reservations/day_of_week_zurb', :current_day => current_day %>	
<% 
	the_timetables = Timetable.installation_week_day(installation, current_day, is_holiday)

	the_timetables.each do |timetable|

		starts_at = convert_to_datetime_zone(current_day, timetable.starts_at)
		ends_at = convert_to_datetime_zone(current_day.midnight, timetable.ends_at)
		time_frame = timetable.timeframe.hour
	
		while (starts_at < ends_at )
			reserved = false
			available = false
			the_item = []
		
			@reservations.each do |reservation| 
				if reservation.starts_at == starts_at
					reserved = true
					the_item << reservation
				end
			end 
		
			@schedules.each do |schedule| 
				if schedule.starts_at == starts_at
					reserved = true
					the_item << schedule
				end
			end
			
			reserved = true if (is_holiday and !holiday_hour)

			if reserved 
%>
				<%#= render "hour_reserved_zurb", :starts_at => starts_at, :time_frame => time_frame, :items => the_item %>
<% 
			else
				block_token = Base64::encode64(starts_at.to_i.to_s)
				available = (starts_at > Time.zone.now + MINUTES_TO_RESERVATION )
%>
				<%= render "hour_available_#{available}_zurb", :starts_at => starts_at, :ends_at => ends_at, 
														  :time_frame => time_frame, :block_token => block_token %>
<% 
			end 
			starts_at += time_frame
		end 
	end
%>
</td>
<% 
	end 
%>	
</tr>
</tbody>
</table>