<%= stylesheet_link_tag 'venue' %>

<table style="width: 97%;">
<tbody>
<tr>						
<% 7.times.each do |x| 
	current_day = first_day + x.day
	block_token = Base64::b64encode(current_day.to_i.to_s)
%>					
<td class="ColPista">
	<%= render 'reservations/day_of_week', :current_day => current_day %>
	<%#= render 'reservations/index_holiday', :current_day => current_day, :block_token => block_token if current_user.is_manager_of?(@venue) %>	
<% 
	the_timetables = Timetable.find(:all, :select => "timetables.starts_at, timetables.ends_at, timetables.timeframe",
				:joins => "join types on types.id = timetables.type_id", 
				:conditions => ["installation_id = ? and types.table_type = 'Timetable' and types.name =  ?", installation.id, Date::DAYNAMES[current_day.wday]],
					:order => "timetables.type_id, timetables.starts_at")

				
	the_timetables.each do |timetable|

		starts_at = convert_to_datetime_zone(current_day, timetable.starts_at)
		ends_at = convert_to_datetime_zone(current_day.midnight, timetable.ends_at)
		time_frame = timetable.timeframe.hour
	
		while (starts_at < ends_at )
			reserved = false
			available = false
			the_item = []
		
			@reservations.each do |reservation| 
				if reservation.starts_at == starts_at
					reserved = true
					the_item << reservation
				end
			end 
		
			@schedules.each do |schedule| 
				if schedule.starts_at == starts_at
					reserved = true
					the_item << schedule
				end
			end
			
			block_token = Base64::b64encode(starts_at.to_i.to_s)
			available = (starts_at > Time.zone.now + @minutes_to_reserve)

			if reserved 
%>
				<%= render "hour_reserved", :starts_at => starts_at, :time_frame => time_frame, :items => the_item %>
			
				<% else %>
				<%= render "hour_available_#{available}", :starts_at => starts_at, :ends_at => ends_at, 
														  :time_frame => time_frame, :block_token => block_token %>
<% 
			end 
			starts_at += time_frame
		end 
	end
%>
</td>
<% 
	end 
%>	
</tr>
</tbody>
</table>