<table class="CabCuadrante">
	<tbody>
		<tr>
			<td class="Cabecera FechaCuadrante">
				Fecha
				<br>
				<select style="visibility: visible;" name="ctl00$C1$cboFecha" onchange="javascript:setTimeout('__doPostBack(\'ctl00$C1$cboFecha\',\'\')', 0)" id="ctl00_C1_cboFecha">
					<option selected="selected" value="09/04/2011">
						sábado, 09 de abril de 2011
					</option>
					<option value="10/04/2011">
						domingo, 10 de abril de 2011
					</option>
					<option value="11/04/2011">
						lunes, 11 de abril de 2011
					</option>
					<option value="12/04/2011">
						martes, 12 de abril de 2011
					</option>
					<option value="13/04/2011">
						miércoles, 13 de abril de 2011
					</option>
					<option value="14/04/2011">
						jueves, 14 de abril de 2011
					</option>
					<option value="15/04/2011">
						viernes, 15 de abril de 2011
					</option>
				</select>
			</td>

		</tr>
	</tbody>
</table>