<%
	the_label = label_name(:reservations)
	content_for(:title, the_label)
	
	the_new_label = "#{the_label} (#{item_name_link(@installation)})"
	left_label = ""
	right_label = "#{item_name_link(@installation)}<br/>#{nice_day_time_wo_year_exact(Time.zone.now)}".html_safe
%>


<div class="row">
	<div class="twelve columns">

				
			<%	@venue.installations.each do |installation| %>			
				<%= link_to(installation.name, reservations_path(:id => installation), set_tab_navigation_active('reservation_index')) %>
			<% end %>								

	</div>
</div>

<hr />

<%= render 'reservations/calendar_zurb' %>


