<%
	the_label = label_name(:reservations)
	content_for(:title, the_label)
	
	the_new_label = "#{the_label} #{label_name(:in)} #{item_name_link(@venue)}"
	left_label = ""
	right_label = "#{item_name_link(@installation)}<br/>#{nice_day_time_wo_year_exact(Time.zone.now)}"
%>

<div class="block">

	<%= get_secondary_navigation(@venue) %>

	<div class="content">   

		<h2 class="title"><%= the_new_label %></h2>
		
		<div class="columns"> 
				<table class="table">
				<tr>
					<%= content_tag :td, right_label, :class =>"first_left" %>
					<%#= content_tag :td, right_label, :class =>"last_left" %>
				</tr>
				</table>
		</div>
		<br/>
		
		<div class="inner">
		
			<table class="table">	
				<%#= render 'reservations/weekdays', :first_day => @first_day %>
				<%#= render 'reservations/index_boxes', :first_day => first_day, :time_frame => time_frame %>
				
				<%= render 'reservations/new_reservation', :first_day => @first_day, :time_frame => @time_frame %>
				
			</table>
	
		</div>
	</div>
</div>


<%# content_for :sidebar, render('/shared/sidebar_index') -%>
<%# content_for :sidebar, render(:partial => '/reservations/sidebar') if current_user.is_manager? -%>
