<% the_confirmation = "#{ label_name(:classifieds_destroy) } #{ label_name(:from) } #{@group.name}?" %>

<div class="block">
	<h3><%= label_name(get_the_controller, 'options') %></h3>
	<ul class="navigation">
		<li><%= link_to label_name(:classifieds_new), new_classified_path(@classified) %></li>
		<li><%= link_to(label_name(:classifieds_edit), edit_classified_path(@classified)) if current_user.is_manager_of?(Group.find(@classified.table_id)) %></li>  
		<li><%= link_to(control_label('destroy'), 
				{:controller => 'classifieds', :action => 'destroy', :id => @classified}, 
				:confirm => the_confirmation) %></li>
	</ul>
</div>