<div class="row">

	<div class="twelve column">   

		<h2 class="title"><%= get_collection_label(@classifieds) %></h2>

		<div class="inner">

			<% if object_counter(@classifieds) > 0 %>

			<table>

			<% @classifieds.each do |classified| %>
			<%= render "classifieds/classified_zurb", :classified => classified, :group => @group %>
			<%- end -%>
			
			</table>

			<% end %>
			
			<%= render 'shared/action_bar_zurb', :collection => @classified %>

		</div>
	</div>
</div>
