<div class="block">

<h3><%= label_name(get_the_controller, 'options') %></h3>

<ul class="navigation">
<% 
	if current_user.is_member_of?(@practice.group) 
%>
		<li><%= link_to label_name(:practice_attend), attend_practice_path(current_user) %> 

<% 
	end 

	if current_user.is_manager_of?(@practice.group)
%> 
		<li><%#= link_to(control_label('new'), new_practice_path(:id => group.id) %></li>                       
		<li><%#= link_to(control_label('edit'), edit_group_path(group)) if current_user.is_manager_of?(group) %></li>  
		<li><%#= link_to(control_label('destroy'), destroy_group_path(group), 
												:confirm => the_confirmation) if group.has_practice?(group) and display_actions %></li>
<% 
	end 
%>
</ul>

</div>