<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<body lang="es" dir="ltr" id="arriba">
	<div id="contenedor">
		<div id="contenido">
		<!-- ************** CABECERA ******************	-->
		<!-- ************** CONTENIDO ******************	-->
		<a name="content">
		</a>
		<div id="contenedor31" class="clear">
			<div class="columna1">
				<div class="panel5">
					<div class="cabeceraC clear">
						<div class="objectBack">
						</div>
						<div class="titular1_1">
							<strong>
								Direcciones y teléfonos
							</strong>
						</div>
					</div>
					<div class="cuerpovistaC clear">
						<div class="publiCuerpo">
							<div class="entradilla simple clear">
								<h3 class="parrafoTitulo">
									Centro Deportivo Municipal La Masó
								</h3>
							</div>
							<div class="entradilla simple">
								<div class="entradillaShort">
									<div class="ftl">
										<img alt="INSTALACION DEPORTIVA MUNCIPAL LA MASO" src="/UnidadWeb/UGBBDD/ObjetosExternos/Ficheros/sicweb/monograficos/dgd/imagenes/instalaciones/maso.jpg">
									</div>
								</div>
								<div class="listadoInfo">
									<ul class="nivel1">
										<li>
											<strong>
												Horario
											</strong>
											<br>
											<p>
												Consultar con la propia instalación
												<br>
												Cerrado en agosto
											</p>
										</li>
										<li>
											<strong>
												Transporte más próximo
											</strong>
											<br>
											<p>
												Metro:&nbsp;Herrera Oria , Lacoma, Avenida de la Ilustración
											</p>
											<p>
												Bus: 49, 64, 83, 124, 134
											</p>
										</li>
										<li>
											<strong>
												Equipamiento / Servicios
											</strong>
											<br>
											Parking público gratuito
										</li>
										<li>
											<strong>
												Naturaleza Centro
											</strong>
											<br>
											<span>
												Público * Ayuntamiento de Madrid * Distrito de Fuencarral - El Pardo
											</span>
										</li>
									</ul>
								</div>
								<div class="parrafo">
									<ul>
										<li>
											<strong>
												Forma de Gestión
												<br>
											</strong>
											Directa, por parte del Ayuntamiento de Madrid 
										</li>
										<li>
											<strong>
												Superficie
												<br>
											</strong>
											44.077&nbsp;m2 
										</li>
										<li>
											<strong>
												Código de instalación
												<br>
											</strong>
											9999
										</li>
									</ul>
									<p>
										<strong>
											EQUIPAMIENTOS
										</strong>
									</p>
									<ul>
										<li>
											<strong>
												Unidades Deportivas al aire libre
												<br>
											</strong>
											Campo de Fútbol - Rocódromo&nbsp;
										</li>
										<li>
											<strong>
												Unidades Deportivas Cubiertas
												<br>
											</strong>
											Pabellón Polideportivo - Piscina - Piscina de aprendizaje - Sala de Aeróbic - Sala de Musculación - 2 Saunas / Jacuzzi 
										</li>
									</ul>
									<p>
										<strong>
											SERVICIOS
										</strong>
									</p>
									<ul>
										<li>
											<strong>
												Deportes Practicables
												<br>
											</strong>
											Bádminton - Baloncesto - Balonmano - Fútbol - Fútbol Sala - Fútbol 7 - Escalada - Hockey - Natación - Voleibol - Musculación
										</li>
										<li>
											<strong>
												Alquiler y/o uso libre de Unidades Deportivas
												<br>
											</strong>
											Campo de Fútbol - Campo de Fútbol 7 - Pabellón - Piscina - Pista de Bádminton - Pista de Baloncesto - Pista de Balonmano - Pista de Fútbol Sala - Pista Polideportiva - Pista de Voleibol - Sala de Aeróbic - Sala de Musculación - Sauna - Rocódromo
											<br>
										</li>
										<li>
											<strong>
												Enseñanzas Deportivas
												<br>
												- Escuelas Pre-Infantiles
											</strong>
											(2 a 5 años): Matronatación - Natación peques
											<br>
											<strong>
												- Escuelas infantiles
											</strong>
											(6 a 14 años, según modalidades): Aeróbic -&nbsp;Escalada - Fútbol - Gimnasia Rítmica - Hockey Sala -&nbsp; Natación - Polideportiva
											<br>
											-
											<strong>
												Clases para jóvenes
											</strong>
											(15 a 20 años, según modalidades)
											<br>
											<strong>
												- Clases para adultos (21 a 64 áños):
											</strong>
											Acondicionamiento Físico Deportivo - Acuagim - Aeróbic - Ciclo Sala - Combinada&nbsp; (educación física permanente y deportes) - Defensa personal - Fitnes - GAP - &nbsp;Gimnasia de Compensación -&nbsp;Gimnasia suave - Natación - Natación de Compensación - Natación Embarazadas/Pos parto&nbsp;- Pilates 
											<br>
											<strong>
												- Actividades para Mayores de 65 años:
											</strong>
											&nbsp;Gimnasia Acuática - Gimnasia suave - Natación
											<br>
											-
											<strong>
												Actividades para Personas con discapacidad física:
											</strong>
											Natación
											<br>
											<strong>
												- Actividades para Personas con discapacidad sensorial (sordos):
											</strong>
											Natación
											<br>
										</li>
										<li>
											<strong>
												Servicio de Medicina deportiva
												<br>
											</strong>
											Escuela de Espalda - Fisioterapia del Deporte 
											<br>
										</li>
									</ul>
								</div>
								&nbsp;
							</div>
						</div>
						<div class="contenedorFicha vcard">
							<span class="fn n oculto">
								Centro Deportivo Municipal La Masó
							</span>
							<div xmlns:microformatosfunciones="com.presentation.utils.MicroformatosFunciones" class="ficha clear">
								<div class="direccion">
									<h4 class="dContacto">
										Contacto
									</h4>
									<ul class="nivel1">
										<li>
											<strong>
												Teléfono
											</strong>
											<br>
											<span class="tel">
												<span class="type oculto">
													Work
												</span>
												<span class="value">
													917 397 555
												</span>
											</span>
										</li>
										<li>
											<strong>
												Fax
											</strong>
											<br>
											<span class="tel">
												<span class="type oculto">
													Fax
												</span>
												<span class="value">
													917 397 594
												</span>
											</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="ficha clear">
								<div class="localizacion adr">
									<h4 class="dLocalizacion">
										Localización
									</h4>
									<ul class="nivel1">
										<li>
											<strong>
												Dirección
											</strong>
											<br>
											<span class="street-address">
												CALLE MASO, 80 (C/V Ventisquero de la Condesa) 
											</span>
											<br>
											<span class="postal-code">
												28034 
											</span>
											<span class="locality">
												MADRID 
											</span>
										</li>
										<li>
											<strong>
												Distrito:
											</strong>
											<span class="extended-address">
												FUENCARRAL-EL PARDO
											</span>
										</li>
										<li>
											<strong>
												Barrio:
											</strong>
											<span class="extended-address">
												MIRASIERRA
											</span>
										</li>
									</ul>
									<span class="geo oculto">
										<span class="latitude">
											40.48630652598511
										</span>
										,
										<span class="longitude">
											-3.713132503017522
										</span>
									</span>
								</div>
							</div>
							<div class="ficha clear">
								<div class="direccion">
									<h4 class="info">
										Información relacionada 
									</h4>
									<ul class="nivel1">
										<li>
											<strong>
												Actividades
											</strong>
											<ul class="listadoGenerico">
												<li>
													<a rel="tag" class="enlaceGenerico" href="/portales/munimadrid/es/Inicio/Buscador-Simple/XVII-Circuito-Municipal-de-Aerobic-y-Fitness.-Ibercaja.?vgnextfmt=default&amp;vgnextoid=d5267b69cd8a0210VgnVCM2000000c205a0aRCRD&amp;vgnextchannel=8db7566813946010VgnVCM100000dc0ca8c0RCRD&amp;idioma=es&amp;idiomaPrevio=es">
														XVII Circuito Municipal de Aeróbic y Fitness. Ibercaja.
													</a>
												</li>
											</ul>
										</li>
										<li>
											<strong>
												Trámites sin cita previa
											</strong>
											<ul class="listadoGenerico">
												<li>
													<a rel="tag" title="Acceda al contenido en la Sede electrónica" class="enlaceGenerico" href="https://sede.madrid.es/vgn-ext-templating/v/index.jsp?vgnextoid=550ddd9d6baed010VgnVCM2000000c205a0aRCRD&amp;vgnextchannel=23a99c5ffb020310VgnVCM100000171f5a0aRCRD">
														Programas Médico Deportivos. Fisioterapia del Deporte
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ************** CIERRE DE PLANTILLA ******************	-->
		<noscript>
			&lt;img alt="" class="oculto" src="http://sdc.munimadrid.es/dcs6jxzbcwglm2ctxtptics8x_2v7y/njs.gif?dcsuri=/nojavascript&amp;amp;WT.js=No&amp;amp;WT.tv=8.0.3"/&gt; 
		</noscript>
	</div>
</div>
</body>
</html>