<% 
	a_roster = !(@meet.the_unavailable.empty?)
	the_label = control_action_label("#{a_roster}")
%>

<div class="block">

	<%= render :partial => '/shared/previous_next_message' %>

	<h2 class="title"><%= the_label %></h2> 

		<div class="inner">
<% 
	if a_roster
%>
		<%= render :partial => '/meets/tour_roster_box', 
					:locals => {:previous_show => @previous, :next_show => @next, :roster => label_name(:unavailable), 
								:meet => @meet, :the_roster => @meet.the_unavailable, 
								:match_type => @match_type} %>
<% 
	end 
%>
		</div>
	</div>
</div>

<% content_for :sidebar, render(:partial => '/meets/sidebar_show') if @meet -%>























