<div class="secondary-navigation">

<ul>
	
	<li class="<%= get_action_first %>"><%= link_to(control_label('index') , payments_path) %></li>
	<!-- <li class="<%#= get_action_active('list') %>"><%#= link_to(control_label('list') , payment_list_path) %></li> -->
	<!--<li class="<%#= get_action_active('create') %>"><%#= link_to(control_label('create') , new_payment_path) %></li> -->

</ul>

<div class="clear"></div>

</div>