<% 
	new_or_existing = match.new_record? ? 'new' : 'existing' 
	prefix = "match[match_attributes][]" 
%>

<% fields_for prefix, match do |match_form| 

	the_link = "#{image_link_small match.user}    #{user_link match.user}"
	
	if (first_team == (@schedule.group_id == match.group_id)) or @is_basket
-%>
	<tr>
		<td><%= the_link %></td>		
		
		<%= render :partial => 'futbol_zurb', :locals => {:match_form => match_form} if @is_futbol %>
		<%= render :partial => 'basket_zurb', :locals => {:match_form => match_form} if @is_basket %>			 
			
	</tr>
<%
 	end
end 
-%>

