



<%= render 'shared/show_description_zurb', :item => @role %>
	
	
<div class="row">

	<div class="twelve columns"> 
		
		<table>
		<tbody>
		<tr>
		<td>
			
		<%= render_show_detail_zurb(:name, @role.name %>
		<%= render_show_detail_zurb(:authorizable_type, @role.authorizable_type %>
		<%= render_show_detail_zurb(:authorizable_id, @role.authorizable_id %>

		
		</td>	
		</tr>
		</tbody>
		</table>
		
	</div>
</div>








