<% 
	the_squad = h(@squad.name)

	the_label = label_with_name('create_game', @squad.name)
	the_confirmation = "#{ label_name(:squads_destroy) } #{the_squad}?" 
%>

<div class="block">
	
	<h3><%= label_name(get_the_controller, 'options') %></h3>
	
	<ul class="navigation">

		<li><%= link_to label_name(:squads_create), new_squad_path(:id => @squad) %></li>
		<li><%= link_to label_name(:squads_edit), edit_squad_path(@squad) %></li>  
		<li><%= link_to(the_confirmation, squad_path(@squad), :method => :delete, :confirm => the_confirmation) %></li>

	</ul>
	
</div>
