<%
	the_label = label_name(:squads)
	content_for(:title, the_label)
%>

<div class="block">
	<%= render :partial => '/cups/secondary_navigation' %>  
	<div class="content">  
			<% if object_counter(@squads) > 0 %>
				<%= render :partial => '/squads/index_full' %>
			<% else %>
				<%= render :partial => '/squads/index_blank' %>
			<% end %>
	</div>	
</div>

<%# content_for :search, render(:partial => 'shared/search') -%>
<% content_for :sidebar, render(:partial => 'sidebar') -%>