<% 
	the_label, the_content, has_been_played, is_manager, is_squad, the_sport, the_missing, the_span, the_start_at_label = get_team_roster 
	the_label = @schedule.name
	
	is_prematch_visible = is_action("team roster")
%>

<% if @should_close_due_disqus %>
<script>
	window.close();
</script>
<% end %>

<h4 class="title" style="clear:both">
	<img align="" alt="Events" src="/assets/icons/events.png" style="height: 16px; width: 16px;">  
	<%=@schedule.name%>
</h4>

<div class="row">
	<div class="twelve columns">
		<table>
			<%= render :partial => "widget/partials/event_home_display", :locals => {:schedule => @schedule} %>
		</table>
	</div>
</div>

<div class="row">
	<div class="twelve columns">

	<% if @has_a_roster %>
		
			<%= render 'widget/partials/team_roster_box', 
					   	:previous_show => @previous, 
						:next_show => @next, 
						:schedule => @schedule, 
						:the_roster => @the_roster, 
						:match_type => @match_type %>
	<% else %>
	
		<div class="foundation-header">
			<div class="alert-box">No hay usuarios que mostrar</div>
		</div>
		
	<% end -%>
	

	</div>
</div>

<div class="row">
	<%= render 'widget/partials/disqus', :the_item => @schedule if @schedule %>	
</div>
