<% the_label =  label_name(:challenges_options_without) %>

<%= set_title_class(the_label) %>

<div class="inner">
	<p>
		<span class="large">*&nbsp;&nbsp;
			<%= link_to("#{label_name(:you_can)} #{label_name(:create_your_own)} #{label_name(:challenge).downcase}", cups_url) %>
		</span>
	</p>
	<p>
		<span class="large">*&nbsp;&nbsp;
			<%= link_to("#{label_name(:you_can)} #{label_name(:to_join_challenge)}", list_challenges_path) %>
		</span>
	</p>
</div>