<div class="block">
	<h3><%= label_name(:options) %></h3>
	<div class="content">
		<p><%= option_image_link('challenge') %>&nbsp;&nbsp;<%= link_to(label_name(:challenges_create) , cups_url) %></p>
	</div>
</div>