<div class="block">

	<%= render :partial => 'secondary_navigation' %>

	<div class="content">   

		<h2 class="title"><%= "#{control_action_label} #{label_name('for')} " %><%= item_name_link(@cup)
 %></h2>

		<div class="inner">

			<% form_for(@challenge, :html => { :multipart => true, :class => :form  }) do |f| -%>
			<%= render :partial => "form", :locals => {:f => f} %>
			<% end -%>

		</div>

	</div>

</div>

