<%
	the_label = label_name(:challenges)
	content_for(:title, the_label)
%>
<div class="row">
	
	<div class="twelve column">  
			<% if object_counter(@challenges) > 0 %>
				<%= render '/challenges/index_full_zurb', :challenges => @challenges %>
			<% else %>
				<%= render '/challenges/index_blank_zurb' %>
			<% end %>
	</div>	
</div>
