<%
	the_label = label_name(:challenges)
	content_for(:title, the_label)
%>
<div class="block">
	
	<%#= render :partial => '/challenges/secondary_navigation' %>
    <%= render "challenges/secondary_navigation", :challenges => @challenges %> 
	
	<div class="content">  
			<% if object_counter(@challenges) > 0 %>
				<%= render :partial => '/challenges/index_full' %>
			<% else %>
				<%= render :partial => '/challenges/index_blank' %>
			<% end %>
	</div>	
</div>
<% content_for :sidebar, render(:partial => '/challenges/sidebar_legend') -%>