<span class="action">
	<%# if current_user.is_manager_of?(credit_object) or current_user.is_manager_of?(item_object) %> 
		<% if payment_due %>
			<br />
			<%= link_to  label_name(:payment_for_bill), new_payment_path(:id => fee) %><br /><br />
			<%#= link_to label_name(:fees_edit), edit_fee_path(:id => fee) %><br /><br />
			
			<% unless @user.is_subscriber_of?(group) %>
				<%= set_role_add_subscription(user, group) %><br /><br />
			<% end %>
			<%#= link_to label_name(:fees_destroy), fee_path(fee), :method => :delete, :confirm => %(#{label_name(:fees_destroy) }?) %><br />
		<% end %>
		<% unless @payments.nil? or @payments.blank? or @payments.empty? %>
			<%= link_to label_name(:payments_edit), edit_payment_path(:id => last_payment, :group_id => last_payment.credit_id) %><br /><br />
			<%= link_to label_name(:payments_destroy), payment_path(last_payment), :method => :delete, :confirm => %(#{label_name(:payments_destroy) }?) %>
		<% end %>
    <%# end %>
</span>
