<%
	debit_link, debit_object = fee_debit(@fee)
%>
<div class="block">
	
  <%= get_secondary_navigation(User.new) %>

	<div class="content">   

		<h2 class="title"><%= control_action_label %><%= " #{label_name(:to)} #{debit_link}" %></h2>

		<div class="inner">

      <% form_for @fee, :url => fee_path(@fee), :html => { :class => :form } do |f| -%>		
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>

		</div>

	</div>

</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>