body { background-color: white; }
	
#home .announce { 
	min-width: 75em; 
	margin-top: -1em; 
}
#home .announce h1 { 

	font-family: "HelveticaNeue-Light",Helvetica,Arial,FreeSans,sans-serif;
/*	font-family:"Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;*/
	font-size: 215%; 
	text-align: center; 
	font-weight: normal; 
	padding: 0.75em 0pt; 
}

#home .headline { 
	font-family: "HelveticaNeue-Light",Helvetica,Arial,FreeSans,sans-serif; 
	margin-bottom: 4.2em; 
	}
#home .headline .words { margin-top: 1.5em; text-align: center; }
#home .headline .tour { margin-top: 3em; text-align: center; }
#home .headline h1, #home .headline h2 { text-align: center; font-weight: normal; }

#home .headline h1 { 
	font-size: 200%; 
	color: rgb(19, 56, 85); 
}

#home .headline h2 { 
	font-size: 150%; 
	color: rgb(19, 56, 85);
}

#home .features { 
	padding: 1em 2em 3em; 
	overflow: hidden; 
/*	background-color: rgb(237, 242, 246); */
	
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;	
}
	
#home .features h3 { 
	font-size: 150%; 
	margin-top: 1em; 
	}
#home .features p { 
	font-size: 120%; 
	color: rgb(68, 68, 68); 
	padding-bottom: 1em; 
	}
#home .features .left { 
	float: left; 
	width: 30em; 
	margin-top: 2.75em; 
	margin-left: -2em;
	}
#home .features .right { 
	margin-right: 7em; 
	float: right; 
	width: 30em; 
	margin-top: 2em;
	margin-right: 4em;
	}

#home .features .rpx { 
	margin-right: 7em; 
	float: right; 
	width: 33em; 
	margin-top: 3em;
	margin-right: -3em;
	}

div.rpx label { 
	font-weight: bold;
	margin-right: 10px;
	display: inline-block; 
	width: 70px; 
}

div.rpx input.text { 
	border: 1px solid rgb(205, 205, 205); 
	padding: 0.4em; 
	background: rgb(255, 255, 255) url('../../assets/textfield-bg.gif') repeat-x scroll 0pt 1px; 
	font-size: 16px;
}
div.rpx input.text:focus { 
	background: rgb(255, 254, 244) url('../../assets/textfield-focus-bg.gif') repeat-x scroll 0pt 1px; 
}
div.rpx input.text { 
	width: 260px; 
}
		
#home .screens { 
	border-top: 2px solid rgb(221, 221, 221); 
	border-bottom: 2px solid rgb(221, 221, 221); 
	padding: 2em 0pt 2.5em; 
	overflow: hidden; 
	font-family: helvetica,arial,freesans,clean,sans-serif; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: normal; font-size: 13.34px; 
	line-height: normal; 
	font-size-adjust: none; 
	font-stretch: normal; 
	-x-system-font: none; 
	text-align: center; 
}

#home .screens .site { margin: 0pt auto; text-align: center; width: 68em; list-style-type: none; }
#home .screens h2 { margin-bottom: 0.5em; }
#home .screens .screenshot { margin: 0pt 1em 2em 0pt; float: left; text-align: center; width: 275px; }
#home .screens .screenshot img { margin-bottom: 0.1em; }


table { 
	border-collapse: separate; 
	border-spacing: 0pt; 
	background-color: rgb(255, 255, 255); 
	width: auto; 
	height: auto; 
	border: 1px solid #cfcfcf;
}

.center_wide p { margin: 0pt 0pt 5px; }

table.static th, td { padding: 0px 8px 8px 0pt; line-height: 18px; position: relative; }

.choose-plan { padding: 10px 0pt 0pt; text-align: center; }
.amount { text-align: center; font-size: 15pt; color: rgb(102, 189, 82); font-weight: bold; }
.plan { text-align: center; font-size: 15pt; color: rgb(19, 56, 85); font-weight: bold; }

table.pricing-table { margin: 20px auto 0pt; padding: 3px 0px 10px; width: 100%; clear: both; color: rgb(241, 241, 241); }
table.pricing-table tr th { 
	border: 0pt none ; padding: 0px 10px; 
	background: rgb(255, 255, 255) none repeat scroll 0% 0%; 
	font-weight: bold; 
	text-align: center; 
}
table.pricing-table tr td { border-bottom: 1px dotted rgb(201, 201, 201); margin: 0pt 20px; height: 20px; }
table.pricing-table tr td.feature { text-align: left; width: 235px; font-weight: bold; font-size: 10pt; }
table.pricing-table tr.even td { 
	background: rgb(238, 238, 238) none repeat scroll 0% 0%; 
}
table.pricing-table tr.choose-plan td { border: 0pt none ; vertical-align: middle; }
table.pricing-table tr.choose-plan td.enterprise { border: 0pt none ; padding: 0pt 0pt 0pt 20px; vertical-align: middle; }
table.pricing-table td { 
	border: 0pt none ; 
	padding: 0px 10px; 
	background: rgb(255, 255, 255) none repeat scroll 0% 0%; 
	color: rgb(0, 0, 0); 
	font-size: 10pt; 
	font-weight: normal; 
	}
table.pricing-table td { border: 0pt none ; padding: 3px 10px; text-align: center; }
.pricing-faq { 
	margin: 15px 10px 0pt; 
	padding: 0px 0pt 10px 15px; 
	overflow: auto; 
	background-color: rgb(239, 239, 239); 
	}
.pricing-faq h1 { margin: 15px 0pt 5px; font-size: 130%; font-weight: bold; }
.pricing-faq-left { margin: 0pt 30px 0pt 0pt; float: left; width: 400px; }