
/* -----------------------------------------
Standard Forms
----------------------------------------- */

input.select { display: line !important; margin-bottom: 9px; } /* mod by haypista */


/* Text input and textarea sizes */
input.tinier, textarea.small { width: 17px; } /* mod by haypista */
input.tiny, textarea.small { width: 34px; } /* mod by haypista */
input.smaller, textarea.small { width: 74px; } /* mod by haypista */

/* Errors */
.tinier + small.error { width: 20px; } /* mod by haypista */
.tiny + small.error { width: 40px; } /* mod by haypista */
.smaller + small.error { width: 80px; } /* mod by haypista */


/* ZURB bar */
#zurBar {
	background: #0f7d00;
	border-bottom: solid 2px transparent;
	padding: 15px 20px 13px 20px; }

	#zurBar strong a.active { 
		background-color: #60AD35; 
		padding: 20px 20px 18px 20px;}


/*	--------------------------------------------------
:: Tables
-------------------------------------------------- */
table tbody tr.second_team { background: #FFF1A8; }	
table tbody tr.green { background: #60AD35; }
table tbody tr.lightgray { background: lightgray; }



/* --------------------------------------------------
:: Mobile Visibility Affordances
---------------------------------------------------*/
.show-on-phones { display: block  }
.show-on-tablets { display: block }


/* --------------------------------------------------
Alerts
-------------------------------------------------- */

.alert-box.success { background-color: #60AD35; color: #fff; text-shadow: 0px -1px rgba(0,0,0,0.3); }
