
/* -----------------------------------------
Standard Forms
----------------------------------------- */

input.select { display: line !important; margin-bottom: 9px; } /* mod by haypista */


/* Text input and textarea sizes */
input.tinier, textarea.small { width: 17px; } /* mod by haypista */
input.tiny, textarea.small { width: 34px; } /* mod by haypista */
input.smaller, textarea.small { width: 74px; } /* mod by haypista */

/* Errors */
.tinier + small.error { width: 20px; } /* mod by haypista */
.tiny + small.error { width: 40px; } /* mod by haypista */
.smaller + small.error { width: 80px; } /* mod by haypista */


/* ZURB bar */
#zurBar {
	background: #0f7d00;
	font-size: 10px;
	
	position: fixed;
	-moz-box-shadow: 0px 2px 6px rgba(222, 222, 222, .9);
	-webkit-box-shadow: 0px 2px 6px rgba(222, 222, 222, .9);
	border-bottom: 1px solid #D4D3D3;
	box-shadow: 0px 2px 6px rgba(222, 222, 222, .9);
	margin: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}

#zurBar strong {
	display: block;
	margin: 0;
	padding: 0;
	height: 14px;
	line-height: 14px;
	position: relative;
	bottom: 1px;
}

/*#zurBar strong a.active { 
		background-color: #60AD35; 
		padding: 10px 8px 13px 20px;
}*/


/* --------------------------------------------------
	:: Grid
	This is the mobile-friendly, responsive grid that
	lets Foundation work much of its magic.
	-------------------------------------------------- */
.container { padding: 40px 20px; }
			
/*	--------------------------------------------------
:: Tables
-------------------------------------------------- */
table tbody tr.second_team { background: #FFF1A8; }	
table tbody tr.green { background: #60AD35; }
table tbody tr.lightgray { background: lightgray; }



/* --------------------------------------------------
Alerts
-------------------------------------------------- */
.alert-box.success { background-color: #60AD35; color: #fff; text-shadow: 0px -1px rgba(0,0,0,0.3); }
