<% if flash[:message] -%>
  <a name="errors_hash" id="errors_hash"></a>
  <div id="error" style="">
    <h1 name="editor_error_text" id="editor_error_text"><%= flash[:message] %></h1>
  </div>
<% end -%>

<% if flash[:notice] -%>
<div style="display: block;" id="persistent_notification">
    <div class="status">
      <h2><span id="status_title"><%= flash[:notice] %></span></h2>
    </div>
</div>
<% end -%>

<% if flash[:warning] -%>
<div style="display: block;" id="persistent_notification">
    <div class="status">
      <h2><span id="status_title"><%= flash[:warning] %></span></h2>
    </div>
</div>
<% end -%>

<% if flash[:error] -%>
  <a name="errors_hash" id="errors_hash"></a>

  <div id="error" style="">
    <h1 name="editor_error_text" id="editor_error_text"><%= flash[:error] %></h1>
  </div>
<% end -%>