<div class="block">
	<h3><%= control_label('option') %></h3>
	<div class="content">
<% 
		if current_user.is_manager? %>
			<p><%= link_to(control_label('create') , new_topic_url)  %></p>
<% 		
		else 
%>
			<p><%= control_label('manager_option') %></p>
<%
		end
%>
	</div>
</div>