<div id="home">
	<div class="features">
		<div class="left" >
			<%= render 'utilities/rpx_now'  %>
		</div>
		<div class="rpx">

			<p><%= label_name(:use_login) %></p>

			<%= form_for @user_session do |f| %>
				<%= render '/user_sessions/login', :f => f, :the_label =>  label_name(:login)  if SHOW_LOGIN %>			
			<% end -%>			
			
		</div>
	</div>
</div>
