<% 
	the_label = label_name('login') 
%>

<div class="block" id="block-login">

	<div class="content login">
		
		<div class="inner">
			
		<%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
			
		<% form_for @user_session, :html => {:class => 'form login'} do |f| %>
		
				
		<div class="columns"> 

			<div class="column left">
				<%= RPXNow.embed_code(APP_CONFIG['rpx_api']['realm'],rpx_token_sessions_url, :language => I18n.locale)  if SHOW_RPX_NOW %>
			</div> 

			<div class="column right">					
				<%= render :partial => '/user_sessions/login', :locals => {:f => f, :the_label => the_label}  if SHOW_LOGIN %>			
			</div>

		</div>

		<% end -%>	
	
		</div>
	</div>
</div>