<div class="block">
	
	<h3><%= label_name(:options) %></h3>
	
<ul class="navigation">
	
	<li><%= link_to("#{label_name(:invitations_your_friend)} #{@challenge.name}" , new_invitation_url(:challenge_id => @challenge)) %></li>
	
</ul>
	
</div>