<div class="row">

	<div class="twelve columns">

		<div class="foundation-header">

			<h1><a href="#">Foundation Docs</a></h1>

			<h4 class="subheader">Rapid prototyping and building library from ZURB.</h4>

		</div>

	

		<dl class="nice tabs mobile hide-on-phones">					

			<dd><a href="#" class="active">Inicio</a></dd>

			<dd><a href="#">Grid</a></dd>

			<dd><a href="#">Buttons</a></dd>

			<dd><a href="#">Forms</a></dd>

			<dd><a href="#">Layout</a></dd>

			<dd><a href="#">UI</a></dd>

			<dd><a href="#">Orbit</a></dd>

			<dd><a href="#">Reveal</a></dd>

			<dd><a href="#">QA</a></dd>

		</dl>

	</div>

</div>