
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HayPista &ndash; The Web&rsquo;s Community of Communities</title>

  <link rel="shortcut icon" href="//a.disquscdn.com/1368117464/img/favicon16-32.ico" type="image/vnd.microsoft.icon">

  
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/797702/797782/css/fonts.css" />

  <link rel="stylesheet" href="//a.disquscdn.com/dotcom/d-0b9f7b6/css/disqus-web/web-core.css">
  <link rel="stylesheet" href="//a.disquscdn.com/dotcom/d-0b9f7b6/css/disqus-web/pages/home.css">

  <script src='//a.disquscdn.com/dotcom/d-0b9f7b6/js/vendor/require/require-2.1.6.js'></script>
<script src="//d3nslu0hdya83q.cloudfront.net/dist/1.0.8/raven.min.js"></script>
<script>
Raven.config('//2add8c3278854cd298331f160e255e3c@sentry.services.disqus.com/7').install();
require.config({
    baseUrl: "//a.disquscdn.com/dotcom/d-0b9f7b6/js",
    paths: {
        'jquery': '//a.disquscdn.com/dotcom/d-0b9f7b6/js/vendor/jquery/jquery-1.9.1',
        'backbone': "//a.disquscdn.com/dotcom/d-0b9f7b6/js/vendor/backbone/backbone-1.0.0",
        'backbone-marionette': "//a.disquscdn.com/dotcom/d-0b9f7b6/js/vendor/backbone//backbone.marionette-1.0.4",
        'underscore': "//a.disquscdn.com/dotcom/d-0b9f7b6/js/vendor/underscore/underscore-1.4.4",
        'handlebars': "//a.disquscdn.com/dotcom/d-0b9f7b6/js/vendor/handlebars/handlebars-1.0.0",
        'handlebars.helpers': "//a.disquscdn.com/dotcom/d-0b9f7b6/js/common/helpers/handlebars.helpers",
        'moment': "//a.disquscdn.com/dotcom/d-0b9f7b6/js/vendor/moment-2.0.0/moment",
        'd3': "//a.disquscdn.com/dotcom/d-0b9f7b6/js/vendor/d3/d3"
    },
    shim: {
        'backbone': {
            deps: ['underscore', 'jquery'],
            exports: 'Backbone'
        },
        'backbone-marionette': ['backbone'],
        'underscore': {
            exports: '_'
        },
        'handlebars': {
            exports: 'Handlebars'
        },
        'd3': { exports: 'd3' },
    }
});
require(['common/track']);
</script>

</head>
<body>

  
<div class="header-navigation navbar navbar-fixed-top navbar-dynamic navbar-transparent" style="opacity: 0;">
  <div class="container">
    <ul class="nav navbar-nav">
        <li class="navbar-brand-container">
          <a href="/" class="navbar-brand">
            <span>HayPista</span>
          </a>
          <img style="display: none!important;" src="//a.disquscdn.com/dotcom/d-0b9f7b6/img/logos/logo-navbar-blue.png" />
          <img style="display: none!important;" src="//a.disquscdn.com/dotcom/d-0b9f7b6/img/logos/logo-navbar-white.png" />
        </li>
        <li class="link-publishers"><a class="link-primary" href="/websites/">For Websites</a></li>
        <li class="link-commenters"><a class="link-primary" href="/community/">Using HayPista</a></li>
        <li id="navBar-wrapper"><a id="navBar"><!-- Populated dynamically --></a></li>
      <li class="link-hidable navbar-cta"><a href="https://disqus.com/admin/signup/?utm_source=New-Site"><span class="btn btn-primary">Add HayPista to Your Site</span></a></li>
    </ul>
  </div>
</div>


<script>require(['apps/common/nav_bar'])</script>

  

  <div class="page-header inversed">

    <div id="gravityCanvas" class="focused dynamic-height"></div>

    <div class="hero-content">
      <div class="container">

        <div class="row">
          <div class="col-8">

            <div class="row">
              <img class="bubble-mark" src="//a.disquscdn.com/dotcom/d-0b9f7b6/img/logos/logo-bubble-white.png" width="30" height="30" />
              <h2>
                The Web's Community of Communities
              </h2>
            </div>
            <div class="row">
              <ul id="hero-stats" class="list-unstyled">
                <li class="active">Half a billion people engaged in discussions every month.</li>
                <li>Powering communities across nearly 3 million websites.</li>
                <li>Over 20 million comments posted every month.</li>
              </ul>
            </div>
          </div>
          <div class="col-4 text-right add-disqus">
            <a class="btn btn-primary" href="https://disqus.com/admin/signup/?utm_source=New-Site">Add HayPista to Your Site</a>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-12">

          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->
    </div><!-- /.hero-content -->



    
    <div class="sub-nav-wrapper header-border-placeholder">
      <div class="sub-nav">
        <div class="row">
          <div class="col-12">
            <ul class="nav nav-pills nav-justified"></ul>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- /.page-header -->


  
  <section class="marketing-block marketing-block-for-websites marketing-block-borderless">
    <div class="container">
      <div class="row">

        <div class="col-6 text-block">
          <h3>For Websites</h3>
          <p>If you&rsquo;re passionate about writing and sharing, HayPista helps you build a community of active readers and commenters.</p>
          <a class="btn btn-primary" href="https://disqus.com/admin/signup/?utm_source=New-Site">Add HayPista to Your Site</a>
          <a class="btn btn-default" href="/websites/">Learn More</a>
        </div>

        <div class="col-6">
          <a id="embed-shot" href="/websites/"><img src="//a.disquscdn.com/dotcom/d-0b9f7b6/img/home/publishers_embed.png" /></a>
        </div>

      </div>
    </div>
  </section>

  
  <section class="marketing-divider marketing-divider-workswith marketing-divider-red">
    <div class="container">
      <div class="row">

        <div class="col-12">
          <ul class="list-inline">
            <li class="workswith-title"><h3>Works with</h3></li>
            <li class="workswith-wordpress"><a href="http://disqus.com/admin/wordpress/"><img src="//a.disquscdn.com/dotcom/d-0b9f7b6/img/home/homepage_logos_wordpress.png" alt="Wordpress"></a></li>
            <li class="workswith-tumblr"><a href="http://disqus.com/admin/tumblr/"><img src="//a.disquscdn.com/dotcom/d-0b9f7b6/img/home/homepage_logos_tumblr.png" alt="Tumblr"></a></li>
            <li class="workswith-blogger"><a href="http://disqus.com/admin/blogger/"><img src="//a.disquscdn.com/dotcom/d-0b9f7b6/img/home/homepage_logos_blogger.png" alt="Blogger"></a></li>
            <li class="workswith-drupal"><a href="http://disqus.com/admin/drupal/"><img src="//a.disquscdn.com/dotcom/d-0b9f7b6/img/home/homepage_logos_drupal.png" alt="Drupal"></a></li>
            <li class="workswith-html"><a href="http://disqus.com/admin/universalcode/"><img src="//a.disquscdn.com/dotcom/d-0b9f7b6/img/home/homepage_logos_html_js.png" alt="HTML & JS"></a></li>
          </ul>
        </div>

      </div>
    </div>
  </section>

  
  <section class="marketing-block marketing-block-using-disqus marketing-block-gray">
    <div class="container">
      <div class="row">


        <div class="col-5 col-offset-7 text-block">
          <h3>Using HayPista</h3>
          <p>If you want to discover and participate in the stories that matter to you, HayPista is the easiest way to jump in.</p>
          <a type="button" class="btn btn-default" href="/community/">Learn More</a>
        </div>

      </div>
    </div>
  </section>

  
  <section class="marketing-block marketing-block-brands marketing-block-gray marketing-block-borderless" style="background: #f1f4f6;">
    <div class="container">
      <div class="row">

        <div class="col-5 text-block">
          <h3>Brand Storytelling</h3>
          <p>If you&rsquo;re a brand with a story to tell, HayPista connects you to the web's most engaged audience.</p>
          <a type="button" class="btn btn-default" href="/audience/">Build Your Audience</a>
        </div>

        <div class="col-6 col-offset-1">

          <a href="/audience/">
            <video id="video-brands">
              <source src="//d8v2sqslxfuhj.cloudfront.net/dotcom/home_brands.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
              <source src="//d8v2sqslxfuhj.cloudfront.net/dotcom/home_brands.webm" type='video/webm; codecs="vp8, vorbis"'>
            </video>
          </a>

        </div>

      </div>
    </div>
  </section>

  <div id="footer-navigation">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <ul class="list-inline footer-primary">
          <li><a href="/websites/">For Websites</a></li>
          <li><a href="/community/">Using HayPista</a></li>
          <li><a href="/audience/">Advertisers</a></li>
          <li><a href="/about/">About HayPista</a></li>
          <li><a href="/jobs/">Jobs</a></li>
          <li><a href="http://help.disqus.com" target="_blank">Help</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 col-lg-6">
        <ul class="list-inline hidden-sm">
          <li><small><a href="http://disqus.com/api/docs">API</a></small></li>
          <li><small><a href="http://disqus.com/brand">Logos</a></small></li>
          <li><small><a href="https://twitter.com/disqus" target="_blank">Twitter</a></small></li>
          <li><small><a href="http://blog.disqus.com" target="_blank">Blog</a></small></li>
        </ul>
      </div>

      <div class="col-12 col-sm-6 col-lg-6 text-right">
        <ul class="list-inline footer-secondary">
          <li><small>&copy; 2013 HayPista, Inc.</small></li>
          <li><small><a href="http://docs.disqus.com/kb/terms-and-policies">Terms and policies</a></small></li>
        </ul>
      </div>
    </div>

  </div>
</div>


  
  <script src="//a.disquscdn.com/dotcom/d-0b9f7b6/js/vendor/underscore/underscore-min.js"></script>
  <script src="//a.disquscdn.com/dotcom/d-0b9f7b6/js/vendor/d3/d3.min.js"></script>
  <script src="//a.disquscdn.com/dotcom/d-0b9f7b6/js/vendor/jquery/jquery-1.9.1.min.js"></script>

  
  <script src="//a.disquscdn.com/dotcom/d-0b9f7b6/js/www/presentation.js"></script>
  <script src="//a.disquscdn.com/dotcom/d-0b9f7b6/js/www/home.js"></script>
  <script src="//a.disquscdn.com/dotcom/d-0b9f7b6/js/www/dotcom-gravity.js"></script>
  <script src="//go.disqus.com/gravity.json"></script>

  
  <script>
    $(function() {
      $('.navbar-brand').addClass('active');
    });
  </script>


</body>
</html>
